workflows/backups/PRIORITY-2-SECONDARY-UYSP-Error-Handler-20250910_213406.json
{
  "createdAt": "2025-08-16T02:27:41.708Z",
  "updatedAt": "2025-09-03T19:16:57.000Z",
  "id": "bMIJ2RaSVeK6ABNa",
  "name": "UYSP Error Handler",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nlet errorType = 'unknown';\nconst message = input.error_message || '';\nconst code = input.error_code || 0;\n\nif (code === 429) errorType = 'rate_limit';\nelse if (code >= 500) errorType = 'server_error';\nelse if (code === 404) errorType = 'not_found';\nelse if (message.includes('enrichment failed')) errorType = 'enrichment_failure';\nelse if (message.includes('ICP impact')) errorType = 'scoring_risk';\n\nreturn { json: { ...input, error_type: errorType, timestamp: new Date().toISOString() } };"
      },
      "id": "classifier",
      "name": "Classify Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "C0123456",
        "text": "Error Alert: {{ $json.error_type }} in workflow {{ $json.workflow_id }} for lead {{ $json.lead_email }} - Details: {{ $json.details }}",
        "otherOptions": {},
        "attachments": []
      },
      "id": "slack",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbluIjrJdzHgZBK6u"
        },
        "operation": "create",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{$json.workflow_id}}",
            "error_type": "={{$json.error_type}}",
            "timestamp": "={{$json.timestamp}}",
            "details": "={{$json.details}}",
            "lead_email": "={{$json.lead_email}}",
            "error_code": "={{$json.error_code}}",
            "affected_node": "={{$json.affected_node}}"
          }
        }
      },
      "id": "airtable",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "WdyZ25N0TLnykzMq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    }
  ],
  "connections": {
    "Classify Error": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6ed1f6c3-7a2e-44ad-9171-d2dbd9f412f2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-22T00:12:58.003Z",
      "updatedAt": "2025-08-22T00:12:58.003Z",
      "role": "workflow:owner",
      "workflowId": "bMIJ2RaSVeK6ABNa",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
