workflows/backups/PRIORITY-2-SECONDARY-UYSP-SMS-Scheduler-20250910_213406.json
{
  "createdAt": "2025-08-21T21:38:43.620Z",
  "updatedAt": "2025-09-05T08:06:51.000Z",
  "id": "D10qtcjjf2Vmmp5j",
  "name": "UYSP-SMS-Scheduler",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-app2.simpletexting.com/v2/api/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "contactPhone": "={{ $items('Get Settings',0)[0].json['Test Mode'] ? (String($items('Get Settings',0)[0].json['Test Phone']||'').replace(/\\D/g,'').replace(/^1/,'')||'0000000000') : $items('Prepare Text (A/B)',0)[$itemIndex].json.phone_digits }}",
          "accountPhone": "9094988474",
          "mode": "AUTO",
          "text": "={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.text }}"
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "sms",
      "name": "SimpleTexting HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stItems = $items('SimpleTexting HTTP', 0) || [];\nconst prepItems = $items('Prepare Text (A/B)', 0) || [];\nconst settingsItems = $items('Get Settings', 0) || [];\nconst settings = (settingsItems.map(i => i.json.fields || i.json).find(s => s['Active Campaign']) || settingsItems[settingsItems.length-1]?.json || {});\nconst fallbackCampaign = settings['Active Campaign'] || '';\nconst out = [];\nfor (let i = 0; i < stItems.length; i++) {\n  const resp = stItems[i]?.json || {};\n  const prepared = prepItems[i]?.json || {};\n  const httpId = resp.id || '';\n  const campaign_id = prepared.campaign_id || fallbackCampaign || httpId || '';\n  const ok = Boolean(httpId);\n  const sms_status = ok ? 'Sent' : 'Failed';\n  const error_reason = ok ? '' : (resp.message || resp.error || 'No response id');\n  out.push({ json: { ...prepared, sms_status, campaign_id, estimated_cost: 0, error_reason } });\n}\nreturn out;"
      },
      "id": "parse",
      "name": "Parse SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SMS Status": "={{ $json.sms_status || 'Sent' }}",
            "SMS Campaign ID": "={{ $json.campaign_id || '' }}",
            "SMS Sequence Position": "={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.prev_pos + 1 }}",
            "SMS Sent Count": "={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.prev_sent_count + 1 }}",
            "SMS Variant": "={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.variant || '' }}",
            "SMS Last Sent At": "={{ $now }}",
            "Processing Status": "={{ ($items('Prepare Text (A/B)',0)[$itemIndex].json.prev_pos + 1) >= 3 ? 'Completed' : 'In Sequence' }}",
            "id": "={{$json.id}}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "update",
      "name": "Airtable Update",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        832,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblErXnFNMKYhh3Xr"
        },
        "options": {}
      },
      "id": "9327efec-dc0b-43d3-92f6-477b6dafe7a8",
      "name": "Get Settings",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -512,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblsSX9dYMnexdAa7",
          "__rl": true
        },
        "options": {}
      },
      "id": "97d8392a-9471-4e25-8424-425ec18304ab",
      "name": "List Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -288,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 14-21 * * 1-5 "
            }
          ]
        }
      },
      "id": "cron",
      "name": "Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -960,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "options": {
          "view": "SMS Pipeline"
        }
      },
      "id": "list-due",
      "name": "List Due Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -736,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event": "={{'Sent'}}",
            "Campaign ID": "={{$json.campaign_id || ''}}",
            "Phone": "={{$json.phone_digits || ''}}",
            "Status": "={{'Sent'}}",
            "Lead Record ID": "={{$json.id || ''}}",
            "Text": "={{$json.text || ''}}",
            "Sent At": "={{$now}}"
          },
          "matchingColumns": []
        },
        "options": {
          "typecast": true
        }
      },
      "id": "audit-sent",
      "name": "Audit Sent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1056,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-app2.simpletexting.com/v2/api/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "contactPhone": "={{ $json.phone_digits }}",
          "firstName": "={{ $json.first_name }}",
          "lastName": "={{ $json.last_name }}",
          "listName": "AI Webinar – Automation (System)",
          "tags": [
            "uysp-automation"
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "st-contact-update",
      "name": "Update ST Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = ($items(\"List Due Leads\", 0) || []).map(i => i.json.fields || i.json);\nconst settingsRows = ($items(\"Get Settings\", 0) || []).map(i => i.json);\nconst pickSettings = () => {\n  const candidates = settingsRows.map(r => r.fields || r);\n  for (const s of candidates) {\n    if (s && (s['Active Campaign'] || s['Fast Mode'] !== undefined || s['ab_ratio_a'] !== undefined)) return s;\n  }\n  return candidates[candidates.length - 1] || {};\n};\nconst settings = pickSettings();\nconst aPct = Number(settings.ab_ratio_a ?? settings.ab_ratio_A ?? 50);\nconst fastMode = !!(settings['Fast Mode']);\nconst templates = ($items(\"List Templates\", 0) || []).map(i => i.json.fields || i.json);\nfunction pickVariant(existing){ if (existing==='A'||existing==='B') return existing; const r=Math.random()*100; return r<aPct?'A':'B'; }\nfunction tmplFor(variant, step){ return templates.find(t => String(t.Variant)===variant && Number(t.Step)===step); }\nfunction firstName(rec){ return rec['First Name'] || rec['Full Name']?.split(' ')[0] || (rec['Email']||'').split('@')[0] || '' }\nfunction delayMsFor(step, t){\n  if (step===1) return 0;\n  if (fastMode) {\n    const m = Number((t && (t['Fast Delay Minutes'] ?? t['Fast delay minutes'])) ?? 3);\n    return m * 60 * 1000;\n  }\n  const d = Number((t && t['Delay Days']) ?? (step===2?3:7));\n  return d * 24 * 60 * 60 * 1000;\n}\nconst out=[];\nfor (const rec of leads){\n  const phoneOriginal = String(rec['Phone'] || '');\n  const phoneDigits = phoneOriginal.replace(/\\D/g,'').replace(/^1/, '');\n  const isUS = !rec['Location Country'] || rec['Location Country'] === 'United States';\n  if (!isUS || phoneDigits.length !== 10) continue;\n  let pos = Number(rec['SMS Sequence Position'] || 0);\n  let last = rec['SMS Last Sent At'] || rec['Last SMS Sent'] || null;\n  if (pos > 0 && !last) { pos = 0; last = null; }\n  const nextStep = pos + 1;\n  if (nextStep > 3) continue;\n  const variant = pickVariant(rec['SMS Variant']);\n  const t = tmplFor(variant, nextStep);\n  if (!t || !t.Body) continue;\n  if (pos > 0){\n    const lastMs = new Date(last).getTime();\n    if (Number.isNaN(lastMs)) continue;\n    const msSince = Date.now() - lastMs;\n    const needMs = delayMsFor(nextStep, t);\n    if (msSince < needMs) continue;\n  }\n  const tempCampaignId = `temp-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`;\n  let text = String(t.Body).replaceAll('{Name}', firstName(rec));\n  const templateCampaign = (t.Campaign || t['Campaign'] || settings['Active Campaign'] || '').toString();\n  out.push({ json: { id: rec.id || rec['Record ID'], text, variant,\n    campaign_id: templateCampaign,\n    prev_pos: pos,\n    prev_sent_count: Number(rec['SMS Sent Count'] || 0),\n    first_name: rec['First Name'] || '',\n    last_name: rec['Last Name'] || '',\n    email: rec['Email'] || '',\n    company_domain: rec['Company Domain'] || '',\n    phone_original: phoneOriginal,\n    phone_digits: phoneDigits,\n    temp_campaign_id: tempCampaignId\n  }});\n}\nreturn out;"
      },
      "id": "prepare-text-clean",
      "name": "Prepare Text (A/B)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097CHUHNTG",
          "mode": "list"
        },
        "text": "=[{{$items('Get Settings',0)[0].json['Test Mode'] ? 'TEST MODE' : 'LIVE'}}] SMS: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.first_name}} {{$items('Prepare Text (A/B)',0)[$itemIndex].json.last_name}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.email}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.company_domain}}\\nSend digits: {{$items('Get Settings',0)[0].json['Test Mode'] ? (String($items('Get Settings',0)[0].json['Test Phone']||'').replace(/\\D/g,'').replace(/^1/,'')||'0000000000') : $items('Prepare Text (A/B)',0)[$itemIndex].json.phone_digits}} (orig: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.phone_original}})\\nStatus: {{$items('Parse SMS Response',0)[$itemIndex].json.sms_status}}  Campaign: {{$items('Parse SMS Response',0)[$itemIndex].json.campaign_id}}",
        "otherOptions": {}
      },
      "id": "slack-notify-clean",
      "name": "SMS Test Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1280,
        -160
      ],
      "webhookId": "eb8d3705-2ff1-4589-97dd-9c9a3dc6f406",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "SimpleTexting HTTP": {
      "main": [
        [
          {
            "node": "Parse SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SMS Response": {
      "main": [
        [
          {
            "node": "Airtable Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "List Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Settings": {
      "main": [
        [
          {
            "node": "List Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Due Leads": {
      "main": [
        [
          {
            "node": "Get Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ST Contact": {
      "main": [
        [
          {
            "node": "SimpleTexting HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Update": {
      "main": [
        [
          {
            "node": "Audit Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Templates": {
      "main": [
        [
          {
            "node": "Prepare Text (A/B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text (A/B)": {
      "main": [
        [
          {
            "node": "Update ST Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Sent": {
      "main": [
        [
          {
            "node": "SMS Test Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-08-26T19:38:31Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "5680b0b5-0728-4596-a069-7121cd82b763",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-21T21:59:46.928Z",
      "updatedAt": "2025-08-21T21:59:46.928Z",
      "role": "workflow:owner",
      "workflowId": "D10qtcjjf2Vmmp5j",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
