workflows/backups/PRIORITY-2-SECONDARY-UYSP-Backlog-Ingestion-20250910_213406.json
{
  "createdAt": "2025-08-21T17:25:42.488Z",
  "updatedAt": "2025-09-10T00:37:57.000Z",
  "id": "qMXmmw4NUCh1qu8r",
  "name": "UYSP Backlog Ingestion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "mt",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -192
      ]
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/13zn4hMDC4wUSmSY12g-_tU74N3wlsBLX1fhjQrQpxik/export?format=csv&gid=0",
        "options": {}
      },
      "id": "af3b6a71-88c2-412a-a0d3-6d9c02d31685",
      "name": "Fetch CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().binary?.data || $input.first().json?.data || $input.first().json?.body || '';\nconst text = Buffer.isBuffer(body) ? body.toString('utf8') : String(body);\nconst normalized = text.replace(/\\r\\n/g, '\\n').trim();\nif (!normalized) return [];\nconst lines = normalized.split('\\n').filter(l => l.trim().length > 0);\nconst headerLine = lines.shift();\nfunction parseCsvLine(line){\n  const out=[]; let cur=''; let inQ=false;\n  for (let i=0;i<line.length;i++){\n    const ch=line[i];\n    if(inQ){\n      if(ch==='\"'){\n        if(line[i+1]==='\"'){ cur+='\"'; i++; } else { inQ=false; }\n      } else { cur+=ch; }\n    } else {\n      if(ch==='\"'){ inQ=true; }\n      else if(ch===','){ out.push(cur); cur=''; }\n      else { cur+=ch; }\n    }\n  }\n  out.push(cur);\n  return out;\n}\nconst headerCells = parseCsvLine(headerLine).map(h=>h.trim());\nconst headersLower = headerCells.map(h=>h.toLowerCase());\nfunction idxExact(name){ return headersLower.indexOf(name.toLowerCase()); }\nfunction idxAny(names){ for(const n of names){ const i=idxExact(n); if(i>=0) return i; } return -1; }\nfunction idxIncludes(fragment){ const i=headersLower.findIndex(h=>h.includes(fragment.toLowerCase())); return i>=0?i:-1; }\nconst iFirst = idxAny(['First Name']);\nconst iLast = idxAny(['Last Name']);\nconst iEmail = idxAny(['Email','Email Address (email)']);\nconst iPhone = idxAny(['Mobile Phone Number (mobile_phone_number)','Phone Number (phone_number)','Mobile Number (custom_9)']);\nconst iLinkedIn = idxAny(['LinkedIn Profile URL (custom_29)']);\nconst iTags = (()=>{ const names = [\n  'TAGS - new import (custom_68)',\n  'Tags','Tag','tags','tag','labels','Labels','Label','Tag List','Tags (comma separated)','Tag(s)'\n]; const i=idxAny(names); return i>=0?i:idxIncludes('tag'); })();\nconst iInterestedA = idxAny(['Are you interested in learning more about coaching with Ian? (custom_67)']);\nconst iInterestedB = idxAny(['Are you interested in learning more about coaching with Ian?. (custom_70)']);\nconst iCompany = (()=>{ const names=['Company Name (custom_10)','Company (custom_1)','Company.','Company Name','Company']; const i=idxAny(names); return i>=0?i:idxIncludes('company');})();\nconst iCampaignId = idxAny(['Campaign ID','SMS Campaign ID','Campaign','campaign_id']);\nfunction toObj(row){\n  function val(i){ return i>=0 ? String(row[i]||'').trim() : ''; }\n  return {\n    email: val(iEmail), phone: val(iPhone), first_name: val(iFirst), last_name: val(iLast),\n    linkedin_url: val(iLinkedIn), tags: val(iTags),\n    interested_a: val(iInterestedA), interested_b: val(iInterestedB),\n    company: val(iCompany), campaign_id: val(iCampaignId)\n  };\n}\nfunction toItem(obj){\n  return { json: {\n    email: obj.email, phone: obj.phone, first_name: obj.first_name, last_name: obj.last_name,\n    linkedin_url: obj.linkedin_url, tags: obj.tags,\n    prev_level: '', new_level: '', cur_level: '', mem37: '',\n    membership_update: '', why_not_renew: '',\n    interested_a: obj.interested_a, interested_b: obj.interested_b,\n    company: obj.company, campaign_id: obj.campaign_id\n  }};\n}\nconst items=[];\nfor (const line of lines){\n  const row = parseCsvLine(line);\n  while(row.length < headerCells.length) row.push('');\n  const obj = toObj(row);\n  const isBlank = [obj.email,obj.phone,obj.first_name,obj.last_name,obj.company,obj.tags,obj.linkedin_url,obj.interested_a,obj.interested_b,obj.campaign_id]\n    .every(v => String(v||'').trim().length === 0);\n  if (isBlank) continue;\n  items.push(toItem(obj));\n}\nreturn items;"
      },
      "id": "8f44ea99-1e29-4c41-9e1a-b85feaade69c",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const x=$json||{};\nfunction sanitizeEmail(v){ if(!v) return ''; return String(v).trim().toLowerCase().replace(/[\\s]+/g,'').replace(/[\\.,;:]+$/, ''); }\nfunction isValidEmail(e){ return /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(String(e||'')); }\nfunction normalizePhone(v){ if(!v) return ''; let s=String(v).trim(); if(s.startsWith('+')) s='+'+s.slice(1).replace(/[^0-9]/g,''); else s=s.replace(/[^0-9]/g,''); if(s.startsWith('+')) return s; if(s.length===11 && s.startsWith('1')) return '+1'+s.slice(1); if(s.length===10) return '+1'+s; return s; }\nfunction deriveDomain(email){ const at=String(email||'').split('@')[1]; return at||''; }\nconst email=sanitizeEmail(x.email); const phone=normalizePhone(x.phone);\nconst first=x.first_name||''; const last=x.last_name||'';\nconst domain=deriveDomain(email);\nconst invalidEmail=!isValidEmail(email);\nconst phoneDigits=phone.replace(/\\D/g,'').replace(/^1/,'');\nconst invalidPhone=phoneDigits.length!==10 || /^(.)\\1+$/.test(phoneDigits) || phoneDigits==='0000000000';\nconst tagsRaw = String(x.tags||'');\nconst tagsLower = tagsRaw.toLowerCase();\nconst alumni = /\\balumni\\b/.test(tagsLower);\nfunction hasMembershipContext(){ return /\\b(coach|annual|lifetime|member|membership)\\b/.test(tagsLower); }\nfunction tierFromTags(){\n  if (alumni) return 'None';\n  const m = tagsLower.match(/\\b(platinum|gold|silver|bronze)\\b/);\n  if (!m) return 'None';\n  const tier = m[1];\n  if (/\\b(gold|silver|bronze|platinum)\\s*coach\\b/.test(tagsLower) || hasMembershipContext()) {\n    return tier.charAt(0).toUpperCase()+tier.slice(1);\n  }\n  return 'None';\n}\nconst tier = tierFromTags();\nconst currentCoaching = !alumni && tier !== 'None';\nconst coachingTier = currentCoaching ? tier : 'None';\nfunction toBool(v){ const s=String(v||'').trim().toLowerCase().replace(/[.!\\s]+$/g,''); return /^(yes|y|true|1|yeah|yep|yup)$/i.test(s); }\nconst interested = toBool(x.interested_a) || toBool(x.interested_b) || false;\nconst campaignId = String(x.campaign_id||'').trim();\nlet hrqStatus='None', hrqReason='', processing='Queued';\nif(invalidEmail){ hrqStatus='Archive'; hrqReason='Invalid email format'; processing='Complete'; }\nelse if(invalidPhone){ hrqStatus='Archive'; hrqReason='Invalid phone'; processing='Complete'; }\nreturn { json: {\n  Email: email, Phone: phone, 'First Name': first, 'Last Name': last,\n  Company: String(x.company||''),\n  'Company Domain': domain,\n  'HRQ Status': hrqStatus, 'HRQ Reason': hrqReason, 'Processing Status': processing, Source:'Backlog',\n  'Coaching Tier': coachingTier, 'Current Coaching Client': currentCoaching, 'Interested in Coaching': interested,\n  'Linkedin URL - Person': String(x.linkedin_url||''),\n  'Kajabi Tags': tagsRaw,\n  'SMS Campaign ID': campaignId\n}};"
      },
      "id": "norm",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{$json.Email}}",
            "Phone": "={{$json.Phone}}",
            "First Name": "={{$json['First Name']}}",
            "Last Name": "={{$json['Last Name']}}",
            "Company": "={{$json['Company']}}",
            "Company Domain": "={{$json['Company Domain']}}",
            "Linkedin URL - Person": "={{$json['Linkedin URL - Person']}}",
            "Kajabi Tags": "={{$json['Kajabi Tags']}}",
            "Coaching Tier": "={{$json['Coaching Tier']}}",
            "Current Coaching Client": "={{$json['Current Coaching Client']}}",
            "Interested in Coaching": "={{$json['Interested in Coaching']}}",
            "Processing Status": "={{$json['Processing Status']}}",
            "Source": "={{$json.Source}}",
            "HRQ Status": "={{$json['HRQ Status']}}",
            "HRQ Reason": "={{$json['HRQ Reason']}}",
            "SMS Campaign ID": "={{$json['SMS Campaign ID']}}",
            "Company Score Component": 0,
            "Role Score Component": 0,
            "Dynamic Signals Score": 0,
            "SMS Sequence Position": 0,
            "SMS Sent Count": 0,
            "SMS Cost": 0,
            "Data Quality Score": 0,
            "Total Processing Cost": 0,
            "Processing Duration": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Processing Status",
              "displayName": "Processing Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Ready for SMS",
                  "value": "Ready for SMS"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "In Sequence",
                  "value": "In Sequence"
                },
                {
                  "name": "Stopped",
                  "value": "Stopped"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Webhook",
                  "value": "Webhook"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Valid",
              "displayName": "Phone Valid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin URL - Person",
              "displayName": "Linkedin URL - Person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Country",
              "displayName": "Location Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ICP Score",
              "displayName": "ICP Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Score Component",
              "displayName": "Company Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role Score Component",
              "displayName": "Role Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Score Component",
              "displayName": "Location Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Dynamic Signals Score",
              "displayName": "Dynamic Signals Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prime Fit Bonus",
              "displayName": "Prime Fit Bonus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Eligible",
              "displayName": "SMS Eligible",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "SMS Status",
              "displayName": "SMS Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Sent",
                  "value": "Not Sent"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Delivered",
                  "value": "Delivered"
                },
                {
                  "name": "Clicked",
                  "value": "Clicked"
                },
                {
                  "name": "Replied",
                  "value": "Replied"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "Success",
                  "value": "Success"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Campaign ID",
              "displayName": "SMS Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Sequence Position",
              "displayName": "SMS Sequence Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Sent Count",
              "displayName": "SMS Sent Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Cost",
              "displayName": "SMS Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last SMS Sent",
              "displayName": "Last SMS Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Variant",
              "displayName": "SMS Variant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "A",
                  "value": "A"
                },
                {
                  "name": "B",
                  "value": "B"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Stop",
              "displayName": "SMS Stop",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Stop Reason",
              "displayName": "SMS Stop Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Last Sent At",
              "displayName": "SMS Last Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HRQ Status",
              "displayName": "HRQ Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "None",
                  "value": "None"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Manual Process",
                  "value": "Manual Process"
                },
                {
                  "name": "Review",
                  "value": "Review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HRQ Reason",
              "displayName": "HRQ Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Data Quality Score",
              "displayName": "Data Quality Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Validation Errors",
              "displayName": "Validation Errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Processing Cost",
              "displayName": "Total Processing Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Processing Duration",
              "displayName": "Processing Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated Manual",
              "displayName": "Last Updated Manual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated Auto",
              "displayName": "Last Updated Auto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Type",
              "displayName": "Company Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "B2B SaaS",
                  "value": "B2B SaaS"
                },
                {
                  "name": "B2B Tech Services",
                  "value": "B2B Tech Services"
                },
                {
                  "name": "Other B2B",
                  "value": "Other B2B"
                },
                {
                  "name": "B2C/Unknown",
                  "value": "B2C/Unknown"
                },
                {
                  "name": "/company",
                  "value": "/company"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company LinkedIn",
              "displayName": "Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Outcome",
              "displayName": "Enrichment Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Success",
                  "value": "Success"
                },
                {
                  "name": "No Match",
                  "value": "No Match"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": " Success",
                  "value": " Success"
                },
                {
                  "name": " No Match",
                  "value": " No Match"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Attempted At",
              "displayName": "Enrichment Attempted At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Enrichment Timestamp",
              "displayName": "Enrichment Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booked",
              "displayName": "Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booked At",
              "displayName": "Booked At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Coaching Tier",
              "displayName": "Coaching Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "None",
                  "value": "None"
                },
                {
                  "name": "Bronze",
                  "value": "Bronze"
                },
                {
                  "name": "Silver",
                  "value": "Silver"
                },
                {
                  "name": "Gold",
                  "value": "Gold"
                },
                {
                  "name": "Platinum",
                  "value": "Platinum"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kajabi Tags",
              "displayName": "Kajabi Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Coaching Client",
              "displayName": "Current Coaching Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interested in Coaching",
              "displayName": "Interested in Coaching",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Phone (10d)",
              "displayName": "Phone (10d)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Batch ID",
              "displayName": "Batch ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clicked Link",
              "displayName": "Clicked Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign ID",
              "displayName": "Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true,
          "updateAllMatches": false
        }
      },
      "id": "air",
      "name": "Airtable Upsert Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        272,
        -192
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    }
  ],
  "connections": {
    "Normalize": {
      "main": [
        [
          {
            "node": "Airtable Upsert Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "14e8ea5e-89a6-4d26-8de1-87d42dda9dcc",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-21T17:27:05.587Z",
      "updatedAt": "2025-08-21T17:27:05.587Z",
      "role": "workflow:owner",
      "workflowId": "qMXmmw4NUCh1qu8r",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
