workflows/backups/PRIORITY-1-PRIMARY-UYSP-Calendly-Booked-20250829_003359.json
{
  "createdAt": "2025-08-28T21:38:35.355Z",
  "updatedAt": "2025-08-29T06:13:37.887Z",
  "id": "LiVE3BlxsFkHhG83",
  "name": "UYSP-Calendly-Booked",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wb",
      "name": "Webhook (Calendly)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -800,
        -80
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200
        }
      },
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "id": "parse",
      "name": "Parse Calendly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -80
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json || {};\nconst body = raw.body || raw;\nconst payload = body.payload || body || {};\nconst email = (payload?.invitee?.email || payload?.email || '').toString().trim().toLowerCase();\nconst eventId = (payload?.event_uuid || payload?.event || payload?.event_id || '').toString();\nconst bookedAt = payload?.start_time || payload?.time || new Date().toISOString();\nif (!email) return null;\nreturn { json: { email, eventId, bookedAt } };\n"
      }
    },
    {
      "id": "find",
      "name": "Find Lead by Email",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -360,
        -80
      ],
      "parameters": {
        "resource": "record",
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "options": {},
        "filterByFormula": "={{`LOWER({Email})='${($json.email||'').toLowerCase()}'`}}"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "id": "update",
      "name": "Mark Booked",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Booked": true,
            "Booked At": "={{ $('Parse Calendly').item.json.bookedAt }}",
            "SMS Stop": true,
            "SMS Stop Reason": "BOOKED",
            "Processing Status": "Completed"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "id": "resp",
      "name": "Respond 200",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        -80
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { json: { ok: true } }"
      }
    }
  ],
  "connections": {
    "Webhook (Calendly)": {
      "main": [
        [
          {
            "node": "Parse Calendly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Calendly": {
      "main": [
        [
          {
            "node": "Find Lead by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead by Email": {
      "main": [
        [
          {
            "node": "Mark Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Booked": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "9864cf64-2612-4be4-b467-fc390ee94aae",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-28T21:42:12.198Z",
      "updatedAt": "2025-08-28T21:42:12.198Z",
      "role": "workflow:owner",
      "workflowId": "LiVE3BlxsFkHhG83",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-08-28T22:06:26.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
