workflows/backups/PRIORITY-2-SECONDARY-UYSP-HUNTER-WATERFALL-COMPLETE-20250903_121449.json
{
  "createdAt": "2025-08-09T13:12:27.401Z",
  "updatedAt": "2025-09-03T19:15:56.000Z",
  "id": "aJQGSXFIFWbZt11H",
  "name": "UYSP HUNTER WATERFALL COMPLETE",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hunter-waterfall-test",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$env.PERSON_WATERFALL_ENABLED}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "feature-gate-001",
      "name": "Hunter Waterfall Feature Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.pdl_person_success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "pdl-router-001",
      "name": "PDL Person Success Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.hunter.io/v2/people/find",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": false,
        "qs": {
          "domain": "={{$json.normalized.company_domain}}",
          "first_name": "={{$json.normalized.first_name}}",
          "last_name": "={{$json.normalized.last_name}}"
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "hunter-api-001",
      "name": "Hunter Email Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hunter Response Normalization\nconst hunterData = $input.first().json;\n\n// Extract Hunter fields\nconst hunterPerson = hunterData.data || {};\n\n// Normalize to canonical format\nconst canonicalPerson = {\n  // Core identity (preserve from input)\n  email: $json.email,\n  first_name: $json.first_name || hunterPerson.name?.givenName || null,\n  last_name: $json.last_name || hunterPerson.name?.familyName || null,\n  \n  // Hunter enrichment data\n  linkedin_url: hunterPerson.linkedin?.handle ? \n    `https://www.linkedin.com/in/${hunterPerson.linkedin.handle}` : null,\n  title_current: hunterPerson.employment?.title || null,\n  company_enriched: hunterPerson.employment?.name || null,\n  \n  // Enrichment metadata\n  enrichment_vendor: 'hunter',\n  enrichment_attempted: true,\n  enrichment_failed: false,\n  last_enriched: new Date().toISOString(),\n  enrichment_confidence: null,\n  \n  // Cost tracking\n  hunter_cost: parseFloat(process.env.HUNTER_COST_PER_LOOKUP || 0.049),\n  total_processing_cost: ($json.total_processing_cost || 0) + \n    parseFloat(process.env.HUNTER_COST_PER_LOOKUP || 0.049),\n  \n  // Success flags\n  hunter_person_success: !!(hunterPerson.linkedin?.handle || \n    hunterPerson.employment?.title || hunterPerson.employment?.name),\n  \n  // Preserve all existing data\n  ...$json\n};\n\nreturn canonicalPerson;"
      },
      "id": "hunter-processor-001",
      "name": "Hunter Response Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Hunter Waterfall Feature Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Waterfall Feature Gate": {
      "main": [
        [
          {
            "node": "PDL Person Success Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Success Router": {
      "main": [
        [],
        [
          {
            "node": "Hunter Email Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Email Enrichment": {
      "main": [
        [
          {
            "node": "Hunter Response Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ba7e3037-a586-4fcc-9c1e-f0ac85c13f20",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-09T13:12:27.402Z",
      "updatedAt": "2025-08-09T13:12:27.402Z",
      "role": "workflow:owner",
      "workflowId": "aJQGSXFIFWbZt11H",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-02T22:01:44.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
