workflows/backups/PRIORITY-2-SECONDARY-V2-UYSP-SMS-Trigger-20250902_113718.json
{
  "createdAt": "2025-08-26T17:58:16.284Z",
  "updatedAt": "2025-08-26T18:06:07.000Z",
  "id": "lH43jBY9jh1wQnKP",
  "name": "V2-UYSP-SMS-Trigger",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "tableId": {
          "__rl": true,
          "mode": "id",
          "value": "tblYUvhGADerbD8EO"
        },
        "triggerField": "Last Updated Auto",
        "additionalFields": {
          "viewId": "SMS Pipeline"
        }
      },
      "id": "248a0556-1d99-441f-8890-3a039b448f9f",
      "name": "Airtable Trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        96,
        -128
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "06e517d4-8e22-499c-8192-8c50785e3e95",
      "name": "Delay 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        -128
      ],
      "webhookId": "b0df846b-66a2-452b-ba6e-428b182bb10c"
    },
    {
      "parameters": {
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO",
          "__rl": true
        },
        "id": "={{$json.id}}",
        "options": {}
      },
      "id": "80d0b2bb-8e83-4eb2-8700-64404ceca8b9",
      "name": "Airtable Get Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        576,
        -128
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-app2.simpletexting.com/v2/api/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "contactPhone": "={{ String($json.fields?.Phone || $json['Phone'] || '').replace(/\\D/g,'').replace(/^1/,'') }}",
          "accountPhone": "9094988474",
          "mode": "AUTO",
          "text": "={{`Hi ${$json.fields?.['First Name'] || $json['First Name'] || ''}, quick question about ${$json.fields?.['Company Domain'] || $json['Company Domain'] || ''} — 30s idea to increase booked meetings. Interested?`}}"
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "acad014c-e0c8-4b35-b302-10e578ab0dcb",
      "name": "SimpleTexting HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const resp = $json;\nconst status = resp?.statusCode ?? 200;\nconst body = resp?.json ?? resp ?? {};\nconst ok = (status === 200 || status === 201) && !body?.code;\nif (!ok) {\n  return { json: { sms_status: 'Failed', error_reason: body?.message || `HTTP ${status}`, estimated_cost: 0 } };\n}\nreturn { json: { sms_status: 'Sent', campaign_id: body.id || body.campaign_id || '', estimated_cost: 0.01 } };"
      },
      "id": "54a38588-452d-42ba-99a2-e9636c40ae80",
      "name": "Parse SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -128
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO",
          "__rl": true
        },
        "id": "={{$item(0).$node[\"Airtable Get Record\"].json.id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Processing Status": "Complete",
            "SMS Eligible": "={{false}}",
            "SMS Status": "={{$json.sms_status}}",
            "SMS Campaign ID": "={{$json.campaign_id}}",
            "SMS Cost": "={{$json.estimated_cost || 0}}",
            "Last SMS Sent": "={{$now}}",
            "SMS Sent Count": "={{($item(0).$node[\"Airtable Get Record\"].json.fields['SMS Sent Count'] || 0) + 1}}",
            "Error Log": "={{$json.error_reason || ''}}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "f71eb4e0-b0fa-4cb7-a217-132a76490522",
      "name": "Airtable Update",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1296,
        -128
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097CHUHNTG",
          "mode": "list"
        },
        "text": "={{`SMS: ${$node[\"Airtable Get Record\"].json['First Name'] || ''} ${$node[\"Airtable Get Record\"].json['Last Name'] || ''} | ${$node[\"Airtable Get Record\"].json['Email'] || ''} | ${$node[\"Airtable Get Record\"].json['Company Domain'] || ''}\\nSend digits: ${String($node[\"Airtable Get Record\"].json['Phone'] || '').replace(/\\D/g,'').replace(/^1/,'')} (orig: ${$node[\"Airtable Get Record\"].json['Phone'] || ''})\\nStatus: ${$json.sms_status || 'n/a'}  Campaign: ${$json.campaign_id || 'n/a'}${$json.error_reason ? `\\nError: ${$json.error_reason}` : ''}`}}",
        "otherOptions": {}
      },
      "id": "1766bade-67fb-4514-9d46-eaac1162e9bd",
      "name": "SMS Test Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        816,
        80
      ],
      "webhookId": "dcac0cfd-51ae-4f72-b538-3c2472f965ee",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "72443493-ff68-4407-941f-6b46de924984",
      "name": "Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { id: \"recbRpivHRnPhFFmE\", phone: \"8319990500\" } }];"
      },
      "id": "e5d84292-c4df-4ec9-891e-ac7f13a80d0a",
      "name": "Test Record ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        80
      ]
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Delay 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 2s": {
      "main": [
        [
          {
            "node": "Airtable Get Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Get Record": {
      "main": [
        [
          {
            "node": "SimpleTexting HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SimpleTexting HTTP": {
      "main": [
        [
          {
            "node": "Parse SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SMS Response": {
      "main": [
        [
          {
            "node": "Airtable Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Test Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test": {
      "main": [
        [
          {
            "node": "Test Record ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Record ID": {
      "main": [
        [
          {
            "node": "Airtable Get Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-08-26T18:01:12Z"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "517595e2-452f-4350-97d0-a20cb71da205",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-26T17:58:16.287Z",
      "updatedAt": "2025-08-26T17:58:16.287Z",
      "role": "workflow:owner",
      "workflowId": "lH43jBY9jh1wQnKP",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-01T22:04:37.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
