workflows/backups/PRIORITY-2-SECONDARY-Option2-20250903_214129.json
{
  "createdAt": "2025-08-18T19:57:48.121Z",
  "updatedAt": "2025-09-03T19:19:58.000Z",
  "id": "KXBn6u1xHlS3JjXO",
  "name": "Option2",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.route === 'qualified' || $json.icp_score >= 70) && $json.human_review_needed !== true }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a2c1cb9-9683-4f80-8ab9-e8080f1b7aa3",
      "name": "Score-Based Routing V3.0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Archive Low Scores - FIXED return shape + include identifiers + archived_date fix\nconst base = $json.normalized || $json || {};\nconst email = base.email ?? ($node['Smart Field Mapper'].json.normalized?.email ?? null);\nconst first_name = base.first_name ?? ($node['Smart Field Mapper'].json.normalized?.first_name ?? null);\nconst last_name = base.last_name ?? ($node['Smart Field Mapper'].json.normalized?.last_name ?? null);\nconst archived_date = new Date().toISOString();\nconst archivedLead = {\n  ...base,\n  email,\n  first_name,\n  last_name,\n  archived_date,\n  archived_reason: 'icp_score_below_threshold',\n  routing: 'archive',\n  processing_status: 'Archived',\n  processing_completed: new Date().toISOString()\n};\nreturn [{ json: { normalized: archivedLead } }];"
      },
      "id": "3931c09c-49b9-46d3-8644-87079f8ae32b",
      "name": "Archive Low Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": "appuBf0fTe8tp8ZaF",
        "table": "tblSk2Ikg21932uE0",
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "email"
          ],
          "value": {
            "icp_score": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.icp_score ?? null}}",
            "icp_tier": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.icp_tier ?? null}}",
            "scoring_method": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.scoring_method ?? null}}",
            "scoring_method_used": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.scoring_method_used ?? null}}",
            "scoring_model": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.scoring_model ?? null}}",
            "scoring_date": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.scoring_date && !isNaN(Date.parse($node[\"Lead Qualifier (Consolidated V3.2)\"].json.scoring_date)) ? new Date($node[\"Lead Qualifier (Consolidated V3.2)\"].json.scoring_date).toISOString() : null}}",
            "enrichment_path": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.enrichment_path ?? null}}",
            "pdl_cost": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.pdl_cost ?? null}}",
            "hunter_cost": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.hunter_cost ?? null}}",
            "dropcontact_cost": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.dropcontact_cost ?? null}}",
            "total_processing_cost": "{{$node[\"Lead Qualifier (Consolidated V3.2)\"].json.total_processing_cost ?? null}}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "61600f94-dd8b-4b02-974b-f7d600d2044c",
      "name": "Airtable Upsert (Dynamic) [REPLACE]",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2448,
        48
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblSk2Ikg21932uE0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "email"
          ],
          "value": {
            "email": "={{$json.normalized.email ?? null}}",
            "first_name": "={{$json.normalized.first_name ?? null}}",
            "last_name": "={{$json.normalized.last_name ?? null}}",
            "icp_score": "={{$json.normalized.icp_score ?? null}}",
            "icp_tier": "={{$json.normalized.icp_tier ?? null}}",
            "scoring_method": "={{$json.normalized.scoring_method ?? null}}",
            "scoring_method_used": "={{$json.normalized.scoring_method_used ?? null}}",
            "scoring_model": "={{$json.normalized.scoring_model ?? null}}",
            "scoring_date": "={{$json.normalized.scoring_date && !isNaN(Date.parse($json.normalized.scoring_date)) ? new Date($json.normalized.scoring_date).toISOString() : null}}",
            "enrichment_path": "={{$json.normalized.enrichment_path ?? null}}",
            "total_processing_cost": "={{$json.normalized.total_processing_cost ?? null}}",
            "routing": "={{$json.normalized.routing ?? 'archive'}}",
            "processing_status": "={{$json.normalized.processing_status ?? 'Archived'}}",
            "processing_completed": "={{$json.normalized.processing_completed && !isNaN(Date.parse($json.normalized.processing_completed)) ? new Date($json.normalized.processing_completed).toISOString() : null}}",
            "archived_date": "={{$json.normalized.archived_date && !isNaN(Date.parse($json.normalized.archived_date)) ? new Date($json.normalized.archived_date).toISOString() : null}}",
            "archived_reason": "={{$json.normalized.archived_reason ?? null}}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "c91969af-ec33-4f0b-aa55-9b8aaffdad91",
      "name": "Archive to Airtable [FIX]1 [REPLACE]",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lead Qualifier V3.2 - Consolidated Scoring with Anomaly Detection\nconst d = $input.first().json || {};\nconst out = { ...d };\n\n// Title Points (tp)\nlet tp = 0;\nconst title = d.title_current ? d.title_current.toLowerCase() : '';\nif (title.includes('founder') || title.includes('ceo') || title.includes('president') || title.includes('owner') || title.includes('partner') || title.includes('cmo') || title.includes('vp marketing') || title.includes('marketing director')) tp = 100;\nelse if (title.includes('marketing manager') || title.includes('growth') || title.includes('demand gen') || title.includes('content marketing')) tp = 80;\nelse if (title.includes('sales') || title.includes('account executive') || title.includes('business development')) tp = 20;\nelse tp = 50;\n\n// Company Points (cp)\nlet cp = 0;\nconst company = d.company_enriched ? d.company_enriched.toLowerCase() : '';\nif (company.includes('agency') || company.includes('consulting') || company.includes('marketing firm')) cp = 80;\nelse if (company.includes('tech') || company.includes('software') || company.includes('saas')) cp = 70;\nelse cp = 50;\n\n// ICP Score Calculation\nconst icp_score = Math.round((tp * 0.6) + (cp * 0.4));\nout.icp_score = icp_score;\nout.icp_tier = icp_score >= 80 ? 'High' : (icp_score >= 60 ? 'Medium' : 'Low');\n\n// Anomaly Detection\nlet human_review_needed = false;\nlet gating_reason = null;\nif ((tp > 5 && icp_score < 50) || (d.interested_in_coaching === true && !/sales|account|revenue|bd/.test(title))) {\n  human_review_needed = true;\n  gating_reason = gating_reason || 'anomaly_detected';\n}\n\nout.human_review_needed = human_review_needed;\nout.gating_reason = gating_reason;\n\n// Ensure return is array of objects\nreturn [{ json: out }];"
      },
      "id": "99677607-6a4d-444f-a942-e16eca114176",
      "name": "Lead Qualifier (Consolidated V3.2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        160
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblSk2Ikg21932uE0"
        },
        "filterByFormula": "={email}='{{$node[\"Smart Field Mapper\"].json.normalized.email}}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "0e77ec15-80b8-4af3-82a3-2d1b1e8a6336",
      "name": "Airtable Email Check (End)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.records) && $json.records.length > 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7f7e06b6-5fad-4864-a86e-62b00603b8b5",
      "name": "Email Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        48
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblSk2Ikg21932uE0"
        },
        "filterByFormula": "={phone_primary}='={{$json.phone_primary || $json.phone_recent || $json.phone_original}}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "32714c70-84f0-453e-9596-78fcf6567758",
      "name": "Airtable Phone Check (End)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1568,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.records) && $json.records.length === 1 }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b2d3d124-017b-428f-b5ab-417c2ab8d0c4",
      "name": "Phone Match Exactly One?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1792,
        112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build minimal payload for update-by-id using phone match record\nconst phoneList = $json.records || [];\nconst rec = phoneList.length === 1 ? phoneList[0] : null;\nconst recId = rec ? rec.id : null;\n\nconst email = ($json.email) || ($json.normalized && $json.normalized.email) || null;\n\nreturn [{ json: { update_record_id: recId, fields: { email }, normalized: $json.normalized || $json } }];"
      },
      "id": "6858286b-614e-42fa-8a52-4954ee5429b6",
      "name": "Prepare Update Payload (Set Email)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblSk2Ikg21932uE0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{$json.fields.email ?? null}}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "caedda90-a593-472a-b600-34e00979270e",
      "name": "Airtable Update by ID (Phone Link)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2224,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{$json.enrichment_failed}}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "27cc86a4-ac16-4723-934a-743052686a77",
      "name": "Enrichment Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -368,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json || {};\nreturn [{ json: {\n  workflow_id: 'TLXDXOvC7GHSbloJ',\n  error_message: 'All enrichment providers failed',\n  error_code: 0,\n  lead_email: d.email || '',\n  details: JSON.stringify({ vendors_tried: d.enrichment_path, raw_data: d }),\n  affected_node: 'Person Data Merger'\n} }];"
      },
      "id": "abc58cf5-b811-404d-a4fc-288e23d732e9",
      "name": "Prepare Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "bMIJ2RaSVeK6ABNa",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8ea3c9e9-98a1-4079-af4a-e860780ec31c",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Cost Aggregator - Sum all vendor costs and track total\nconst d = $input.first().json || {};\n\n// Extract individual costs (null-safe)\nconst pdl_cost = Number(d.pdl_cost || 0);\nconst hunter_cost = Number(d.hunter_cost || 0);\nconst dropcontact_cost = Number(d.dropcontact_cost || 0);\n\n// Calculate total\nconst total_processing_cost = pdl_cost + hunter_cost + dropcontact_cost;\n\n// Track cost breakdown\nconst cost_breakdown = {\n  pdl: pdl_cost,\n  hunter: hunter_cost,\n  dropcontact: dropcontact_cost,\n  total: total_processing_cost,\n  timestamp: new Date().toISOString()\n};\n\n// Add to output\nconst output = {\n  ...d,\n  pdl_cost,\n  hunter_cost,\n  dropcontact_cost,\n  total_processing_cost,\n  cost_breakdown: JSON.stringify(cost_breakdown),\n  cost_calculated_at: new Date().toISOString()\n};\n\nreturn [{ json: output }];"
      },
      "id": "7e7e588a-375e-4d78-9352-19617bd61e18",
      "name": "Cost Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "632beb5b-b99a-4ecb-83f0-008cde7fe674",
      "name": "Respond to Webhook (200)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2672,
        48
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kajabi-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c57c98f6-b1ad-473c-a312-08d3317be979",
      "name": "Kajabi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3056,
        256
      ],
      "webhookId": "658a1d1c-30a0-484d-b3cd-87578ff5e668",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pass-through; ensure Code node returns array of items\nreturn [{ json: $json }];"
      },
      "id": "efa4eec9-374d-4747-9eb1-4b4b94e135cf",
      "name": "Validate API Key (Dynamic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Smart Field Mapper v4.7 — add linkedin_location passthrough\nconst inData = ($json?.body && typeof $json.body === 'object') ? $json.body : ($json?.data && typeof $json.data === 'object') ? $json.data : $json;\n\nfunction pick(...keys){ for(const k of keys){ const v = inData?.[k]; if (typeof v === 'string' && v.trim()) return v.trim(); } return null; }\n\nconst normalized = {\n  email: pick('email','email_address','Email','EMAIL'),\n  first_name: pick('first_name','firstname','firstName','FirstName','First_Name','name_first'),\n  last_name: pick('last_name','lastname','lastName','LastName','Last_Name','name_last'),\n  company: pick('company','company_name','organization'),\n  title: pick('title','job_title','role'),\n  phone: pick('phone','phone_number','mobile','cell'),\n  linkedin_url: pick('linkedin','linkedin_url','linkedinProfileUrl'),\n  linkedin_location: pick('linkedin_location','location','city','region'),\n  touchpoint_count: Number(inData?.touchpoint_count) || null,\n  webinar_attendee: !!inData?.webinar_attendee,\n  course_purchaser: !!inData?.course_purchaser,\n  recent_role_change: !!inData?.recent_role_change,\n  experience_years: Number(inData?.experience_years) || null,\n};\n\nreturn [{ json: { normalized } }];"
      },
      "id": "19d71b69-06b8-4d87-9bd6-423998b6c23b",
      "name": "Smart Field Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// PDL Person Processor — costs only on success, last_enriched only on success, add linkedin_location\nconst resp = $input.first().json || {};\nconst smart = $node['Smart Field Mapper'].json.normalized || {};\n\nconst status = resp.statusCode ?? resp.status ?? null;\nconst body = resp.body ?? resp;\nconst data = body?.data ?? body ?? {};\n\nconst respMs = typeof resp.ms === 'number' ? resp.ms : (typeof resp.elapsedTime === 'number' ? resp.elapsedTime : null);\nconst retries = typeof resp.retryCount === 'number' ? resp.retryCount : (typeof resp.retries === 'number' ? resp.retries : 0);\n\nconst hasPerson = status === 200 && data && Boolean(\n  data.linkedin_url || data.full_name || data.job_title || data.job_company_name\n);\n\nconst first = data.first_name || smart.first_name || null;\nconst last = data.last_name || smart.last_name || null;\nconst title = data.job_title || null;\nconst company = data.job_company_name || null;\nconst linkedin = data.linkedin_url || null;\n\n// Attempt to derive a human-readable location string from common PDL fields\nconst locParts = [];\nconst locCand = data.location || data.location_name || null;\nif (locCand && typeof locCand === 'string') locParts.push(locCand);\nconst locLocality = data.location_locality || data.city || null;\nconst locRegion = data.location_region || data.state || null;\nconst locCountry = data.location_country || data.country || null;\n[locLocality, locRegion, locCountry].forEach(p => { if (p && typeof p === 'string') locParts.push(p); });\nconst derivedLocation = locParts.join(', ').replace(/^[,\\s]+|[,\\s]+$/g,'') || null;\n\nconst normalized = {\n  ...smart,\n  first_name: first,\n  last_name: last,\n  title_current: title || smart.title_current || null,\n  company_enriched: company || smart.company_enriched || smart.company || null,\n  linkedin_url: linkedin || smart.linkedin_url || null,\n  linkedin_location: smart.linkedin_location || derivedLocation || null,\n\n  pdl_person_success: hasPerson,\n  pdl_status_code: status,\n  pdl_response_time_ms: respMs,\n  pdl_retry_count: retries,\n\n  enrichment_vendor: hasPerson ? 'pdl' : (smart.enrichment_vendor || 'pdl'),\n  enrichment_attempted: true\n};\n\nif (hasPerson) {\n  normalized.last_enriched = new Date().toISOString();\n  normalized.pdl_cost = 0.01;\n  normalized.pdl_raw_error = null;\n} else {\n  normalized.pdl_raw_error = body?.error || body?.message || null;\n}\n\nreturn [{ json: normalized }];"
      },
      "id": "5727c16e-5600-4472-a45e-66f3812571ec",
      "name": "PDL Person Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hunter Response Processor (NEW) — add linkedin_location derivation\nconst items = $input.all();\nfor (const item of items) {\n  const base = $node['Smart Field Mapper'].json.normalized || {};\n  const resp = item.json || {};\n  const status = resp.statusCode ?? resp.status ?? null;\n  const body = resp.body ?? resp;\n  const data = body?.data ?? body ?? {};\n\n  const respMs = typeof resp.ms === 'number' ? resp.ms : (typeof resp.elapsedTime === 'number' ? resp.elapsedTime : null);\n  const retries = typeof resp.retryCount === 'number' ? resp.retryCount : (typeof resp.retries === 'number' ? resp.retries : 0);\n\n  const linkedinHandle = data?.linkedin?.handle || null;\n  const title = data?.employment?.title || data?.position?.title || data?.job?.title || null;\n  const companyName = data?.employment?.name || data?.company?.name || data?.organization?.name || data?.company || null;\n  const first = data?.name?.givenName || data?.first_name || null;\n  const last = data?.name?.familyName || data?.last_name || null;\n\n  // Location candidates commonly present in Hunter\n  const locParts = [];\n  const loc1 = data?.location || data?.profile?.location || null;\n  if (loc1 && typeof loc1 === 'string') locParts.push(loc1);\n  const city = data?.address?.city || data?.city || null;\n  const region = data?.address?.state || data?.region || null;\n  const country = data?.address?.country || data?.country || null;\n  ;[city, region, country].forEach(p => { if (p && typeof p === 'string') locParts.push(p); });\n  const derivedLocation = locParts.join(', ').replace(/^[,\\s]+|[,\\s]+$/g,'') || null;\n\n  const success = Boolean(linkedinHandle || title || companyName || first || last || derivedLocation);\n\n  const normalized = {\n    ...base,\n    first_name: first || base.first_name || null,\n    last_name: last || base.last_name || null,\n    linkedin_url: linkedinHandle ? `https://www.linkedin.com/in/${linkedinHandle}` : (base.linkedin_url || null),\n    title_current: title || base.title_current || base.pdl_current_title || base.pdl_job_title || null,\n    company_enriched: companyName || base.company_enriched || base.pdl_company_name || base.pdl_current_company || null,\n    linkedin_location: base.linkedin_location || derivedLocation || null,\n\n    hunter_person_success: success,\n    enrichment_vendor: success ? 'hunter' : (base.enrichment_vendor || 'hunter'),\n    enrichment_attempted: true,\n\n    hunter_status_code: status ?? null,\n    hunter_response_time_ms: respMs,\n    hunter_retry_count: retries\n  };\n\n  if (success) {\n    normalized.hunter_cost = 0.049;\n    normalized.last_enriched = new Date().toISOString();\n    normalized.enrichment_failed = false;\n  }\n\n  item.json = normalized;\n}\nreturn items.map(item => ({ json: item.json }));"
      },
      "name": "Hunter Response Processor (NEW)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        672
      ],
      "id": "d885abf2-9ac1-43eb-8ae7-89627d6b704b"
    },
    {
      "parameters": {
        "jsCode": "// Person Data Merger (NEW) — emit exactly ONE enriched item with phone propagation\nconst inputs = $input.all().map(i => i.json || {});\nconst base = $node['Smart Field Mapper'].json.normalized || {};\n\nfunction pickBest(list) {\n  return (\n    list.find(j => j?.pdl_person_success === true) ||\n    list.find(j => j?.dc_person_success === true) ||\n    list.find(j => j && (j.title_current || j.company_enriched)) ||\n    list[list.length - 1] ||\n    {}\n  );\n}\n\nconst best = pickBest(inputs);\n\nfunction coalescePhone(b, be) {\n  const candidates = [be?.phone_primary, b?.phone_primary, b?.phone_e164, b?.phone_recent, b?.phone_original, b?.phone];\n  for (const v of candidates) {\n    if (typeof v === 'string' && v.trim()) return v.trim();\n  }\n  return null;\n}\n\n// Build merged, preferring enriched fields, falling back to base\nconst merged = {\n  ...base,\n  ...best,\n  email: base.email ?? best.email ?? null,\n  first_name: best.first_name ?? base.first_name ?? null,\n  last_name: best.last_name ?? base.last_name ?? null,\n  title_current: best.title_current ?? base.title ?? null,\n  company_enriched: best.company_enriched ?? base.company ?? null,\n  linkedin_url: best.linkedin_url ?? base.linkedin_url ?? null,\n  phone_primary: coalescePhone(base, best),\n\n  // Observability\n  providers_triggered: Array.isArray(best.providers_triggered) ? best.providers_triggered : (best.providers_triggered ? [best.providers_triggered] : []),\n  enrichment_path: Array.isArray(best.enrichment_path) ? best.enrichment_path : (best.enrichment_path ? [best.enrichment_path] : []),\n\n  pdl_cost: Number(best.pdl_cost ?? 0),\n  hunter_cost: Number(best.hunter_cost ?? 0),\n  dropcontact_cost: Number(best.dropcontact_cost ?? 0),\n  total_processing_cost: Number(best.total_processing_cost ?? 0),\n};\n\nreturn [{ json: merged }];"
      },
      "name": "Person Data Merger (NEW)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        240
      ],
      "id": "dc83dab6-27aa-4e12-b709-a2b03da882b3"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/people/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$node['Smart Field Mapper'].json.normalized.email}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 3000
        }
      },
      "name": "Hunter Email Enrichment (REBUILT)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        672
      ],
      "id": "53b261a7-9770-42a0-bf6e-031b290c75af",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.pdl_person_success}}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "rightValue": true,
              "id": "e7a8727a-b2e7-4066-8bad-b0b8c6e35b85"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "PDL Person Success Router (NEW) [FIX]",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1456,
        432
      ],
      "id": "9d1545cd-1cf3-46c4-b3c0-245bd96c4ffd",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{true}}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "9eff5ca8-d41c-4062-9d95-557f95f6a87a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4871e018-ac35-474e-8048-42a01f39abd1",
      "name": "Hunter Waterfall Feature Gate1 [FIX]",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1904,
        672
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.peopledatalabs.com/v5/person/enrich",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$node['Smart Field Mapper'].json.normalized.email}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 3000
        }
      },
      "id": "2c25a621-25dc-40b6-9f34-4a8fdb2bb942",
      "name": "PDL Person Enrichment [FIX]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        432
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !($json.title_current || $json.company_enriched || $json.linkedin_url) }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "198ac631-fe56-4796-a7d8-a059bd099ef6"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c20950b8-df38-4816-b79a-ba7c4d6f7a43",
      "name": "Dropcontact Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        672
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dropcontact.io/batch",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dropcontactApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"data\": [{ \"email\": \"{{$node['Smart Field Mapper'].json.normalized.email}}\" }],\n  \"siren\": false,\n  \"language\": \"en\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 3000
        }
      },
      "id": "f798069b-8169-483a-a8d3-56d36086a0f7",
      "name": "Dropcontact Enrich",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        960
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge to Qualifier Output — add linkedin_location from Dropcontact if available\nconst poll = $input.first().json || {};\nconst body = poll.body || poll;\nconst statusCode = poll.statusCode || body.statusCode || null;\nconst data = body.data || body || {};\n\n// Base lead\nconst lead = { ...($json || {}) };\n\n// Capture request_id for subsequent polls\nlead.dc_request_id = body.request_id || poll.request_id || lead.dc_request_id || null;\n\n// Parse DC success block (first item if array)\nconst dc = Array.isArray(data.success) ? data.success[0] : (data.success || {});\n\n// Basic observability\nlead.dc_status_code = statusCode;\nlead.dc_person_success = Boolean(dc && Object.keys(dc).length > 0);\nlead.dc_response_time_ms = typeof poll.ms === 'number' ? poll.ms : (typeof poll.elapsedTime === 'number' ? poll.elapsedTime : null);\nlead.dc_retry_count = typeof poll.retryCount === 'number' ? poll.retryCount : (typeof poll.retries === 'number' ? 0 : 0);\n\n// Cost tracking (flat rate per call)\nconst dcCost = 0.02;\nif (lead.dc_person_success) {\n\tlead.dropcontact_cost = dcCost;\n\tlead.total_processing_cost = Number(lead.total_processing_cost || 0) + dcCost;\n\tlead.enrichment_attempted = true;\n\tlead.enrichment_vendor = 'dropcontact';\n\tlead.last_enriched = new Date().toISOString();\n}\n\n// Field overlay (only fill if missing)\nif (lead.dc_person_success) {\n\tconst pick = (obj, keys) => keys.map(k => obj?.[k]).find(v => v !== undefined && v !== null && v !== '');\n\tconst title = pick(dc, ['job', 'job_title', 'position']);\n\tconst company = pick(dc, ['company', 'company_name']);\n\tconst linkedin = pick(dc, ['linkedin', 'linkedin_url']);\n\tconst phone = pick(dc, ['phone', 'phone_number', 'phone_pro']);\n\tconst locParts = [dc.city, dc.region, dc.country].filter(v => v && typeof v === 'string');\n\tconst locationStr = (locParts.length ? locParts.join(', ') : (dc.location || null));\n\n\tif (!lead.title_current && title) lead.title_current = title;\n\tif (!lead.company_enriched && company) lead.company_enriched = company;\n\tif (!lead.linkedin_url && linkedin) lead.linkedin_url = linkedin;\n\tif (!lead.phone_primary && phone) lead.phone_primary = phone;\n\tif (!lead.linkedin_location && locationStr) lead.linkedin_location = String(locationStr).trim();\n}\n\n// Track enrichment path for visibility\nconst path = Array.isArray(lead.enrichment_path) ? lead.enrichment_path : (lead.enrichment_path ? [lead.enrichment_path] : []);\nif (!path.includes('dropcontact')) path.push('dropcontact');\nlead.enrichment_path = path;\n\nreturn [{ json: lead }];"
      },
      "id": "9ba69d0d-4840-4d10-babb-7c527a1d0c3e",
      "name": "Merge to Qualifier Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://api.dropcontact.io/batch/{{$json.dc_request_id}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dropcontactApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 3000
        }
      },
      "id": "c033aae1-c898-4982-b92a-20d0d33b9f58",
      "name": "Dropcontact Poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        960
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblSk2Ikg21932uE0"
        },
        "filterByFormula": "={email}='{{$node[\"Smart Field Mapper\"].json.normalized.email}}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "2537758e-825a-40e7-a180-994ca260e308",
      "name": "Airtable Lookup (Email)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2608,
        256
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Recency Gate (30d): include existing Airtable fields for downstream merge\nconst items = $input.all();\nlet records = [];\nif (items.length && items[0].json && items[0].json.records) {\n  records = items[0].json.records;\n} else {\n  records = items.map(i => i.json);\n}\nconst lead = { ...($node['Smart Field Mapper'].json.normalized || {}) };\nlet existing = null;\nif (records && records.length) {\n  const r = records[0];\n  const fields = r.fields || r;\n  existing = { id: r.id, fields };\n}\nlet skip_enrichment = false;\nif (existing && existing.fields && existing.fields.last_enriched) {\n  const last = new Date(existing.fields.last_enriched);\n  const days = (Date.now() - last.getTime()) / 86400000;\n  skip_enrichment = days <= 30;\n}\nreturn [{ json: { ...lead, existing_record_id: existing ? existing.id : null, existing_fields: existing ? existing.fields : null, skip_enrichment } }];"
      },
      "id": "9cfcbf2e-867f-466e-a7e1-11782205a5d9",
      "name": "Recency Gate (30d)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.skip_enrichment}}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "rightValue": true,
              "id": "ff13ead4-0dc4-4c65-9f9c-f1a0eb4d2a72"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6e1e6d6f-ccfc-4c5c-a303-303578ffc47a",
      "name": "Skip Enrichment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2128,
        256
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "c0c1d2e0-ccae-4df8-bb83-2b4f009a9962",
      "name": "Wait 5s (Before DC Poll)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1680,
        960
      ],
      "webhookId": "cf590d38-9a99-486a-bfca-615710e368dc"
    },
    {
      "parameters": {
        "jsCode": "// Extract Dropcontact request_id from HTTP response\nconst resp = $input.first().json || {};\nconst body = resp.body || resp;\nconst requestId = body.request_id || resp.request_id || null;\nreturn [{ json: { ...resp, dc_request_id: requestId } }];"
      },
      "id": "e731c049-48a0-4dcb-a02d-ae216079b4fe",
      "name": "Extract DC Request ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: \"gpt-4o-mini\",\n  response_format: { type: \"json_object\" },\n  temperature: 0.0,\n  max_tokens: 500,\n  messages: [\n    { role: \"system\", content: \"You are the ICP scoring system for Untap Your Sales Potential (UYSP). Score prospects 0-100 using ONLY this V3.2 methodology.\\n\\nCOMPANY (15 max): B2B SaaS/Tech up to 15; known tech brand adds within 15; generic/free email domains -10 within company cap.\\nROLE (40 max): AE 20 (+5 if senior/enterprise/strategic); Account Director/Manager 18; Sales Manager/Team Lead 10; SDR/BDR 3; Non-sales 0; +10 recent role change (<90 days); +10 if 3+ years experience; Sales/Revenue dept +10; RevOps +5.\\nENGAGEMENT (30 max): Coaching interest +10; touchpoints 3+ = 15 (1–2 = 8); webinar +8; course purchaser +10.\\nPERSON LOCATION (15 max): PERSON-only affordability (not company HQ). A=+15, B=+10, C=+4, D=−15; apply confidence weight (0..1). Unknown = 0. If Tier D with confidence ≥0.7 → human review (no outreach).\\n\\nReturn STRICT JSON ONLY with keys: total_score (0–100), company_score, role_score, engagement_score. No extra text.\" },\n    { role: \"user\", content: (\n        'Prospect:\\n' +\n        'Email: ' + ($node['Smart Field Mapper'].json.normalized && $node['Smart Field Mapper'].json.normalized.email ? $node['Smart Field Mapper'].json.normalized.email : ($json.email || '')) + '\\n' +\n        'Company: ' + (($node['Smart Field Mapper'].json.normalized && $node['Smart Field Mapper'].json.normalized.company) ? $node['Smart Field Mapper'].json.normalized.company : ($json.pdl_company_name || $json.company_enriched || $json.company || 'Unknown')) + '\\n' +\n        'Title: ' + (($node['Smart Field Mapper'].json.normalized && $node['Smart Field Mapper'].json.normalized.title) ? $node['Smart Field Mapper'].json.normalized.title : ($json.pdl_job_title || $json.title_current || $json.title || 'Unknown')) + '\\n' +\n        'Domain: ' + (function(){ var e = ($node['Smart Field Mapper'].json.normalized && $node['Smart Field Mapper'].json.normalized.email) ? $node['Smart Field Mapper'].json.normalized.email : ($json.email || ''); return e.indexOf('@')>0 ? e.split('@')[1] : 'unknown'; })() + '\\n\\n' +\n        'Signals:\\n' +\n        'InterestedInCoaching: ' + ( ($node['Smart Field Mapper'].json.normalized && typeof $node['Smart Field Mapper'].json.normalized.interested_in_coaching !== 'undefined') ? $node['Smart Field Mapper'].json.normalized.interested_in_coaching : false) + '\\n' +\n        'Touchpoints: ' + ($json.touchpoint_count || 0) + '\\n' +\n        'WebinarAttendee: ' + ( ($json.webinar_attendee || false) || String($json.source_form || '').toLowerCase().indexOf('webinar')>=0 ) + '\\n' +\n        'CoursePurchaser: ' + ($json.course_purchaser || false) + '\\n' +\n        'RecentRoleChange: ' + ($json.recent_role_change || false) + '\\n' +\n        'ExperienceYears: ' + ($json.experience_years || 0) + '\\n\\n' +\n        'PersonLocation:\\n' +\n        'Country: ' + ($json.person_location_country || '') + '\\n' +\n        'Confidence: ' + ($json.location_confidence || 0) + '\\n\\n' +\n        'Rules Recap:\\n' +\n        '- Company 15, Role 40, Engagement 30, PersonLocation 15 (person-only, confidence-weighted).\\n' +\n        '- Return JSON only with: total_score, company_score, role_score, engagement_score.'\n      ) }\n  ]\n}) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 3000
        }
      },
      "name": "OpenAI ICP Scoring V3.0 (REBUILT)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        0
      ],
      "id": "c7c166e4-b556-4cce-be30-3a2393c417f9",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Ensure one item continues even if Airtable Lookup matched 0\nconst items = $input.all();\nif (items.length === 0) {\n  const norm = $node['Smart Field Mapper'].json.normalized || {};\n  return [{ json: { records: [], ...norm } }];\n}\nreturn items;"
      },
      "id": "0db153b4-3159-40e4-8e34-4e0a73f90982",
      "name": "Ensure Continuation (Guard)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        256
      ],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Score-Based Routing V3.0": {
      "main": [
        [
          {
            "node": "Archive Low Scores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable Email Check (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Low Scores": {
      "main": [
        [
          {
            "node": "Archive to Airtable [FIX]1 [REPLACE]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Qualifier (Consolidated V3.2)": {
      "main": [
        [
          {
            "node": "Cost Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Exists?": {
      "main": [
        [
          {
            "node": "Airtable Upsert (Dynamic) [REPLACE]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Phone Check (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Phone Check (End)": {
      "main": [
        [
          {
            "node": "Phone Match Exactly One?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Match Exactly One?": {
      "main": [
        [
          {
            "node": "Prepare Update Payload (Set Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Payload (Set Email)": {
      "main": [
        [
          {
            "node": "Airtable Update by ID (Phone Link)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Update by ID (Phone Link)": {
      "main": [
        [
          {
            "node": "Airtable Upsert (Dynamic) [REPLACE]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Email Check (End)": {
      "main": [
        [
          {
            "node": "Email Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost Aggregator": {
      "main": [
        [
          {
            "node": "Score-Based Routing V3.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment Failed?": {
      "main": [
        [
          {
            "node": "Lead Qualifier (Consolidated V3.2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI ICP Scoring V3.0 (REBUILT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Payload": {
      "main": [
        [
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Error Handler": {
      "main": [
        [
          {
            "node": "Lead Qualifier (Consolidated V3.2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Upsert (Dynamic) [REPLACE]": {
      "main": [
        [
          {
            "node": "Respond to Webhook (200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kajabi Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key (Dynamic)": {
      "main": [
        [
          {
            "node": "Smart Field Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Field Mapper": {
      "main": [
        [
          {
            "node": "Airtable Lookup (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Processor": {
      "main": [
        [
          {
            "node": "PDL Person Success Router (NEW) [FIX]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Response Processor (NEW)": {
      "main": [
        [
          {
            "node": "Dropcontact Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person Data Merger (NEW)": {
      "main": [
        [
          {
            "node": "Merge to Qualifier Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Email Enrichment (REBUILT)1": {
      "main": [
        [
          {
            "node": "Hunter Response Processor (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Success Router (NEW) [FIX]": {
      "main": [
        [
          {
            "node": "Person Data Merger (NEW)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter Waterfall Feature Gate1 [FIX]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Waterfall Feature Gate1 [FIX]": {
      "main": [
        [
          {
            "node": "Hunter Email Enrichment (REBUILT)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dropcontact Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Enrichment [FIX]": {
      "main": [
        [
          {
            "node": "PDL Person Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropcontact Gate": {
      "main": [
        [
          {
            "node": "Dropcontact Enrich",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Person Data Merger (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropcontact Enrich": {
      "main": [
        [
          {
            "node": "Wait 5s (Before DC Poll)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge to Qualifier Output": {
      "main": [
        [
          {
            "node": "Enrichment Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropcontact Poll": {
      "main": [
        [
          {
            "node": "Person Data Merger (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Lookup (Email)": {
      "main": [
        [
          {
            "node": "Ensure Continuation (Guard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recency Gate (30d)": {
      "main": [
        [
          {
            "node": "Skip Enrichment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Enrichment?": {
      "main": [
        [
          {
            "node": "Person Data Merger (NEW)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDL Person Enrichment [FIX]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Before DC Poll)": {
      "main": [
        [
          {
            "node": "Extract DC Request ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DC Request ID": {
      "main": [
        [
          {
            "node": "Dropcontact Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Continuation (Guard)": {
      "main": [
        [
          {
            "node": "Recency Gate (30d)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI ICP Scoring V3.0 (REBUILT)": {
      "main": [
        [
          {
            "node": "Prepare Error Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c16c0b28-ae71-4b49-97ff-15af7a65e8f8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-18T19:57:48.123Z",
      "updatedAt": "2025-08-18T19:57:48.123Z",
      "role": "workflow:owner",
      "workflowId": "KXBn6u1xHlS3JjXO",
      "projectId": "HiFn22PB8pYSxCmP",
      "project": {
        "createdAt": "2025-08-18T19:11:02.418Z",
        "updatedAt": "2025-08-18T19:13:40.000Z",
        "id": "HiFn22PB8pYSxCmP",
        "name": "UYSP V2 TEST ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "projectRelations": [
          {
            "createdAt": "2025-08-18T19:13:40.464Z",
            "updatedAt": "2025-08-18T19:13:40.464Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "HiFn22PB8pYSxCmP",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-03T22:00:13.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
