workflows/backups/PRIORITY-2-SECONDARY-UYSP-SMS-Scheduler-v2-20250910_213406.json
{
  "createdAt": "2025-09-05T04:46:36.250Z",
  "updatedAt": "2025-09-11T04:34:40.000Z",
  "id": "UAZWVFzMrJaVbvGM",
  "name": "UYSP-SMS-Scheduler-v2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -320
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/1 * * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1280,
        -128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "filterByFormula": "AND({Phone Valid},NOT({SMS Stop}),NOT({Booked}),LEN({Phone})>0,{SMS Eligible},NOT({Current Coaching Client}),OR({Processing Status}='Ready for SMS',{Processing Status}='In Sequence'))",
        "options": {}
      },
      "id": "list-due",
      "name": "List Due Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1056,
        -224
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblErXnFNMKYhh3Xr"
        },
        "options": {}
      },
      "id": "settings",
      "name": "Get Settings",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -832,
        -224
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblsSX9dYMnexdAa7"
        },
        "options": {}
      },
      "id": "templates",
      "name": "List Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -608,
        -224
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = ($items(\"List Due Leads\", 0) || []).map(i => i.json.fields || i.json);\nconst settingsRows = ($items(\"Get Settings\", 0) || []).map(i => i.json);\nconst pickSettings = () => {\n  const candidates = settingsRows.map(r => r.fields || r);\n  for (const s of candidates) {\n    if (s && (s['Active Campaign'] || s['Fast Mode'] !== undefined || s['ab_ratio_a'] !== undefined)) return s;\n  }\n  return candidates[candidates.length - 1] || {};\n};\nconst settings = pickSettings();\nconst aPct = Number(settings.ab_ratio_a ?? settings.ab_ratio_A ?? 50);\nconst fastMode = !!(settings['Fast Mode']);\nconst templates = ($items(\"List Templates\", 0) || []).map(i => i.json.fields || i.json);\n\nfunction pickVariant(existing){ if (existing==='A'||existing==='B') return existing; const r=Math.random()*100; return r<aPct?'A':'B'; }\nfunction tmplFor(variant, step){ return templates.find(t => String(t.Variant)===variant && Number(t.Step)===step); }\nfunction firstName(rec){ return rec['First Name'] || rec['Full Name']?.split(' ')[0] || (rec['Email']||'').split('@')[0] || '' }\nfunction delayMsFor(step, t){\n  if (step===1) return 0;\n  if (fastMode) {\n    const m = Number((t && (t['Fast Delay Minutes'] ?? t['Fast delay minutes'])) ?? 3);\n    return m * 60 * 1000;\n  }\n  const d = Number((t && t['Delay Days']) ?? (step===2?3:7));\n  return d * 24 * 60 * 60 * 1000;\n}\n\nconst out=[];\nfor (const rec of leads){\n  const phoneOriginal = String(rec['Phone'] || '');\n  const phoneDigits = phoneOriginal.replace(/\\D/g,'').replace(/^1/, '');\n  const country = rec['Location Country'] || '';\n  const isUSCA = country === 'United States' || country === 'Canada';\n  if (!isUSCA || phoneDigits.length !== 10) continue;\n\n  let pos = Number(rec['SMS Sequence Position'] || 0);\n  let last = rec['SMS Last Sent At'] || rec['Last SMS Sent'] || null;\n  if (pos > 0 && !last) { pos = 0; last = null; }\n  const processing = rec['Processing Status'] || '';\n  const nextStep = pos + 1;\n  if (nextStep > 3) continue;\n\n  const variant = pickVariant(rec['SMS Variant']);\n  const t = tmplFor(variant, nextStep);\n  if (!t || !t.Body) continue;\n\n  if (pos > 0){\n    const lastMs = new Date(last).getTime();\n    if (Number.isNaN(lastMs)) continue;\n    const msSince = Date.now() - lastMs;\n    const needMs = delayMsFor(nextStep, t);\n    if (msSince < needMs) continue;\n  }\n\n  let text = String(t.Body).replaceAll('{Name}', firstName(rec));\n  const leadCampaignId = String(rec['SMS Campaign ID'] || '').trim();\n  const templateCampaign = String(t.Campaign || t['Campaign'] || '').trim();\n  const settingsCampaign = String(settings['Active Campaign'] || '').trim();\n  const campaignId = leadCampaignId || templateCampaign || settingsCampaign || '';\n\n  const shortLinkId = rec['Short Link ID'] || '';\n  const shortLinkUrl = rec['Short Link URL'] || '';\n\n  // FIXED: Move complex text logic here instead of SimpleTexting HTTP JSON\n  let finalText = text; // Default to template text\n  \n  // Priority chain for text with proper validation\n  if (shortLinkUrl && shortLinkUrl.trim()) {\n    finalText = shortLinkUrl.trim();\n  } else {\n    // Will be filled by downstream short link creation\n    finalText = text; // Keep original template text for now\n  }\n\n  out.push({ json: {\n    id: rec.id || rec['Record ID'], text: finalText, original_template_text: text, variant, campaign_id: campaignId,\n    prev_pos: pos, prev_sent_count: Number(rec['SMS Sent Count'] || 0),\n    first_name: rec['First Name'] || '', last_name: rec['Last Name'] || '', email: rec['Email'] || '',\n    company_domain: rec['Company Domain'] || '', phone_original: phoneOriginal, phone_digits: phoneDigits,\n    last_sent_at: last || '', processing_status: processing || '',\n    short_link_id: shortLinkId, short_link_url: shortLinkUrl\n  }});\n}\nreturn out;"
      },
      "id": "prepare-text",
      "name": "Prepare Text (A/B)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-app2.simpletexting.com/v2/api/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "contactPhone": "+1{{ $json.phone_digits }}",
          "firstName": "={{ $json.first_name }}",
          "lastName": "={{ $json.last_name }}",
          "listName": "AI Webinar – Automation (System)",
          "tags": [
            "uysp-automation"
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "st-contact",
      "name": "Update ST Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-app2.simpletexting.com/v2/api/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "text": "={{ $json.text }}",
          "contactPhone": "+1{{ $json.phone_digits }}",
          "campaignId": "{{ $json.campaign_id }}"
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "sms",
      "name": "SimpleTexting HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -224
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stItems = $items('SimpleTexting HTTP', 0) || [];\nconst prepItems = $items('Prepare Text (A/B)', 0) || [];\nconst settingsItems = $items('Get Settings', 0) || [];\nconst settings = (settingsItems.map(i => i.json.fields || i.json).find(s => s['Active Campaign']) || settingsItems[settingsItems.length-1]?.json || {});\nconst fallbackCampaign = settings['Active Campaign'] || '';\nconst nowIso = new Date().toISOString();\nconst out = [];\nfor (let i = 0; i < stItems.length; i++) {\n  const resp = stItems[i]?.json || {};\n  const prepared = prepItems[i]?.json || {};\n  const httpId = resp.id || '';\n  const sent = Boolean(httpId);\n  const sms_status = sent ? 'Sent' : 'Failed';\n  const error_reason = sent ? '' : (resp.message || resp.error || 'No response id');\n  const prev_pos = Number(prepared.prev_pos || 0);\n  const prev_count = Number(prepared.prev_sent_count || 0);\n  const next_pos = sent ? prev_pos + 1 : prev_pos;\n  const next_count = sent ? prev_count + 1 : prev_count;\n  const next_last_sent_at = sent ? nowIso : (prepared.last_sent_at || '');\n  const next_processing = sent ? (next_pos >= 3 ? 'Completed' : 'In Sequence') : (prepared.processing_status || '');\n  const campaign_id = prepared.campaign_id || fallbackCampaign || httpId || '';\n  out.push({ json: { ...prepared, sms_status, error_reason, next_pos, next_count, next_last_sent_at, next_processing, campaign_id } });\n}\nreturn out;"
      },
      "id": "parse",
      "name": "Parse SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SMS Status": "={{ $json.sms_status || '' }}",
            "SMS Campaign ID": "={{ $json.campaign_id || '' }}",
            "SMS Sequence Position": "={{ $json.next_pos }}",
            "SMS Sent Count": "={{ $json.next_count }}",
            "SMS Variant": "={{ $json.variant || '' }}",
            "SMS Last Sent At": "={{ $json.next_last_sent_at || '' }}",
            "Processing Status": "={{ $json.next_processing || '' }}",
            "Error Log": "={{ $json.error_reason || '' }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "update",
      "name": "Airtable Update",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1408,
        -224
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event": "Send Attempt",
            "Campaign ID": "={{$json.campaign_id || ''}}",
            "Phone": "={{$json.phone_digits || ''}}",
            "Status": "={{$json.sms_status || ''}}",
            "Lead Record ID": "={{$json.id || ''}}",
            "Text": "={{$json.text || ''}}",
            "Sent At": "={{$now}}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "audit-sent",
      "name": "Audit Sent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1632,
        -224
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097CHUHNTG",
          "mode": "list"
        },
        "text": "=[{{$items('Get Settings',0)[0].json['Test Mode'] ? 'TEST MODE' : 'LIVE'}}] SMS: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.first_name}} {{$items('Prepare Text (A/B)',0)[$itemIndex].json.last_name}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.email}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.company_domain}}\\nSend digits: {{$items('Get Settings',0)[0].json['Test Mode'] ? (String($items('Get Settings',0)[0].json['Test Phone']||'').replace(/\\D/g,'').replace(/^1/,'')||'0000000000') : $items('Prepare Text (A/B)',0)[$itemIndex].json.phone_digits}} (orig: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.phone_original}})\\nStatus: {{$items('Parse SMS Response',0)[$itemIndex].json.sms_status}}  Campaign: {{$items('Parse SMS Response',0)[$itemIndex].json.campaign_id}}",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "SMS Test Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1856,
        -224
      ],
      "webhookId": "0a12fa10-b641-4803-b658-2aa0ac360024",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const alphabet = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';\nfunction gen(n=6){ let s=''; for(let i=0;i<n;i++){ s+=alphabet[Math.floor(Math.random()*alphabet.length)]; } return s; }\nconst items = $items('Prepare Text (A/B)', 0) || [];\nreturn items.map((it) => {\n  const j = it.json || {};\n  const hasUrl = !!(j.short_link_url || '');\n  const alias_candidate = hasUrl ? (j.short_link_id || '') : gen(6);\n  return { json: { ...j, alias_candidate } };\n});"
      },
      "id": "gen-alias",
      "name": "Generate Alias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.switchy.io/v1/links/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Authorization",
              "value": "0ea65170-03e2-41d6-ae53-a7cbd7dc273d"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "link": {
            "url": "https://calendly.com/d/cwvn-dwy-v5k/sales-coaching-strategy-call-rrl",
            "id": "={{$json.alias_candidate}}",
            "domain": "hi.switchy.io",
            "title": "={{ ($json.first_name || '') + ' ' + ($json.last_name || '') }}"
          }
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "switchy-create",
      "name": "Create Short Link (Switchy)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $items('Generate Alias',0)[$itemIndex].json.id }}",
            "Short Link ID": "={{ $items('Generate Alias',0)[$itemIndex].json.alias_candidate || $items('Create Short Link (Switchy)',0)[$itemIndex].json.id || $json.short_link_id || '' }}",
            "Short Link URL": "={{ $items('Create Short Link (Switchy)',0)[$itemIndex].json.shortUrl || ('https://hi.switchy.io/' + ($items('Generate Alias',0)[$itemIndex].json.alias_candidate || '')) || $json.short_link_url || '' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Processing Status",
              "displayName": "Processing Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Ready for SMS",
                  "value": "Ready for SMS"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "In Sequence",
                  "value": "In Sequence"
                },
                {
                  "name": "Stopped",
                  "value": "Stopped"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Webhook",
                  "value": "Webhook"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Valid",
              "displayName": "Phone Valid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin URL - Person",
              "displayName": "Linkedin URL - Person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Country",
              "displayName": "Location Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ICP Score",
              "displayName": "ICP Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Score Component",
              "displayName": "Company Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role Score Component",
              "displayName": "Role Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Score Component",
              "displayName": "Location Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Dynamic Signals Score",
              "displayName": "Dynamic Signals Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prime Fit Bonus",
              "displayName": "Prime Fit Bonus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Eligible",
              "displayName": "SMS Eligible",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "SMS Status",
              "displayName": "SMS Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Sent",
                  "value": "Not Sent"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Delivered",
                  "value": "Delivered"
                },
                {
                  "name": "Clicked",
                  "value": "Clicked"
                },
                {
                  "name": "Replied",
                  "value": "Replied"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "Success",
                  "value": "Success"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Campaign ID",
              "displayName": "SMS Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Sequence Position",
              "displayName": "SMS Sequence Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Sent Count",
              "displayName": "SMS Sent Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Cost",
              "displayName": "SMS Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Variant",
              "displayName": "SMS Variant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "A",
                  "value": "A"
                },
                {
                  "name": "B",
                  "value": "B"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Stop",
              "displayName": "SMS Stop",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Stop Reason",
              "displayName": "SMS Stop Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Last Sent At",
              "displayName": "SMS Last Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HRQ Status",
              "displayName": "HRQ Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "None",
                  "value": "None"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Manual Process",
                  "value": "Manual Process"
                },
                {
                  "name": "Review",
                  "value": "Review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HRQ Reason",
              "displayName": "HRQ Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Data Quality Score",
              "displayName": "Data Quality Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Validation Errors",
              "displayName": "Validation Errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Processing Cost",
              "displayName": "Total Processing Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Processing Duration",
              "displayName": "Processing Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated Manual",
              "displayName": "Last Updated Manual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated Auto",
              "displayName": "Last Updated Auto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Type",
              "displayName": "Company Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "B2B SaaS",
                  "value": "B2B SaaS"
                },
                {
                  "name": "B2B Tech Services",
                  "value": "B2B Tech Services"
                },
                {
                  "name": "Other B2B",
                  "value": "Other B2B"
                },
                {
                  "name": "B2C/Unknown",
                  "value": "B2C/Unknown"
                },
                {
                  "name": "/company",
                  "value": "/company"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company LinkedIn",
              "displayName": "Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Outcome",
              "displayName": "Enrichment Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Success",
                  "value": "Success"
                },
                {
                  "name": "No Match",
                  "value": "No Match"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": " Success",
                  "value": " Success"
                },
                {
                  "name": " No Match",
                  "value": " No Match"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Attempted At",
              "displayName": "Enrichment Attempted At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Booked",
              "displayName": "Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booked At",
              "displayName": "Booked At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Coaching Tier",
              "displayName": "Coaching Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "None",
                  "value": "None"
                },
                {
                  "name": "Bronze",
                  "value": "Bronze"
                },
                {
                  "name": "Silver",
                  "value": "Silver"
                },
                {
                  "name": "Gold",
                  "value": "Gold"
                },
                {
                  "name": "Platinum",
                  "value": "Platinum"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kajabi Tags",
              "displayName": "Kajabi Tags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Coaching Client",
              "displayName": "Current Coaching Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interested in Coaching",
              "displayName": "Interested in Coaching",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Batch ID",
              "displayName": "Batch ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clicked Link",
              "displayName": "Clicked Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Short Link ID",
              "displayName": "Short Link ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Short Link URL",
              "displayName": "Short Link URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Click Count",
              "displayName": "Click Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "saveShort3",
      "name": "Save Short Link v3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        288,
        -224
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Simple text finalization\nconst saveItems = $items('Save Short Link v3', 0) || [];\nconst prepareItems = $items('Prepare Text (A/B)', 0) || [];\n\nconst out = [];\nfor (let i = 0; i < prepareItems.length; i++) {\n  const prepared = prepareItems[i]?.json || {};\n  const saved = saveItems[i]?.json?.fields || {};\n\n  // Use saved short link URL or fall back to prepared text  \n  const finalText = saved['Short Link URL'] || prepared.text || prepared.original_template_text || '';\n\n  out.push({ json: {\n    ...prepared,\n    text: finalText\n  }});\n}\nreturn out;"
      },
      "id": "finalize-text",
      "name": "Finalize Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -224
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "List Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Due Leads": {
      "main": [
        [
          {
            "node": "Get Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Settings": {
      "main": [
        [
          {
            "node": "List Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Templates": {
      "main": [
        [
          {
            "node": "Prepare Text (A/B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text (A/B)": {
      "main": [
        [
          {
            "node": "Generate Alias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ST Contact": {
      "main": [
        [
          {
            "node": "SimpleTexting HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SimpleTexting HTTP": {
      "main": [
        [
          {
            "node": "Parse SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SMS Response": {
      "main": [
        [
          {
            "node": "Airtable Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Update": {
      "main": [
        [
          {
            "node": "Audit Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Sent": {
      "main": [
        [
          {
            "node": "SMS Test Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Alias": {
      "main": [
        [
          {
            "node": "Create Short Link (Switchy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Short Link (Switchy)": {
      "main": [
        [
          {
            "node": "Save Short Link v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Short Link v3": {
      "main": [
        [
          {
            "node": "Finalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Text": {
      "main": [
        [
          {
            "node": "Update ST Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8fd4981d-6c27-4284-ad46-bd58d0762e6f",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-05T04:51:56.059Z",
      "updatedAt": "2025-09-05T04:51:56.059Z",
      "role": "workflow:owner",
      "workflowId": "UAZWVFzMrJaVbvGM",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
