workflows/backups/PRIORITY-2-SECONDARY-uysp-setup-verification-v1-20250829_173837.json
{
  "createdAt": "2025-07-22T20:19:08.630Z",
  "updatedAt": "2025-07-22T22:54:51.000Z",
  "id": "0cKIygJT4E1feXHv",
  "name": "uysp-setup-verification-v1",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "parameters": {}
    },
    {
      "id": "check_env_vars",
      "name": "Check Environment Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ],
      "parameters": {
        "jsCode": "// Check all required environment variables\nconst requiredVars = [\n  'AIRTABLE_BASE_ID',\n  'TEST_MODE', \n  'DAILY_COST_LIMIT',\n  'CACHE_EXPIRY_DAYS',\n  'MAX_RETRIES',\n  'BATCH_SIZE',\n  'RETRY_DELAY_MS',\n  'TEN_DLC_REGISTERED',\n  'SMS_MONTHLY_LIMIT'\n];\n\nconst results = {};\nconst missing = [];\nconst configured = [];\n\nfor (const varName of requiredVars) {\n  const value = $env[varName];\n  if (value === undefined || value === null || value === '') {\n    missing.push(varName);\n    results[varName] = 'MISSING';\n  } else {\n    configured.push(varName);\n    results[varName] = value;\n  }\n}\n\nreturn {\n  json: {\n    total_required: requiredVars.length,\n    configured_count: configured.length,\n    missing_count: missing.length,\n    missing_vars: missing,\n    configured_vars: configured,\n    all_results: results,\n    status: missing.length === 0 ? 'ALL_CONFIGURED' : 'MISSING_VARS',\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "test_airtable",
      "name": "Test Airtable Connection",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "operation": "list",
        "application": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "tblSk2Ikg21932uE0",
        "options": {
          "maxRecords": 1
        }
      }
    },
    {
      "id": "verification_results",
      "name": "Verification Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "parameters": {
        "jsCode": "const envCheck = $('Check Environment Variables').item.json;\nconst airtableTest = $items('Test Airtable Connection');\n\nconst report = {\n  timestamp: new Date().toISOString(),\n  environment_variables: {\n    status: envCheck.status,\n    configured: `${envCheck.configured_count}/${envCheck.total_required}`,\n    missing: envCheck.missing_vars\n  },\n  airtable_connection: {\n    status: airtableTest.length > 0 ? 'SUCCESS' : 'FAILED',\n    base_id: $env.AIRTABLE_BASE_ID,\n    test_result: airtableTest.length > 0 ? 'Connected successfully' : 'Connection failed'\n  },\n  test_mode: {\n    active: $env.TEST_MODE === 'true',\n    value: $env.TEST_MODE\n  },\n  overall_status: envCheck.status === 'ALL_CONFIGURED' && airtableTest.length >= 0 ? 'READY' : 'NEEDS_SETUP'\n};\n\nconsole.log('=== PHASE 00 VERIFICATION REPORT ===');\nconsole.log(JSON.stringify(report, null, 2));\n\nreturn { json: report };"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check Environment Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Environment Variables": {
      "main": [
        [
          {
            "node": "Test Airtable Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Airtable Connection": {
      "main": [
        [
          {
            "node": "Verification Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "2b394c23-fa41-4a35-88fd-0c9e09fdc31b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-22T20:19:08.632Z",
      "updatedAt": "2025-07-22T20:19:08.632Z",
      "role": "workflow:owner",
      "workflowId": "0cKIygJT4E1feXHv",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-08-29T22:42:11.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
