workflows/backups/PRIORITY-2-SECONDARY-UYSP-Backlog-Ingestion-20250903_121449.json
{
  "createdAt": "2025-08-21T17:25:42.488Z",
  "updatedAt": "2025-08-27T21:50:20.000Z",
  "id": "qMXmmw4NUCh1qu8r",
  "name": "UYSP Backlog Ingestion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "mt",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json || {};\nfunction sanitizeEmail(v){ if(!v) return ''; const s=String(v).trim().toLowerCase(); return s.replace(/[\\s]+/g,'').replace(/[\\.,;:]+$/, ''); }\nfunction normalizePhone(v){ if(!v) return ''; let s=String(v).trim(); if (s.startsWith('+')) s = '+'+s.slice(1).replace(/[^0-9]/g,''); else s=s.replace(/[^0-9]/g,''); if (s.startsWith('+')) return s; if (s.length===11 && s.startsWith('1')) return '+1'+s.slice(1); if (s.length===10) return '+1'+s; return s; }\nfunction deriveDomain(email, company){ if(email){ const at=email.split('@')[1]; if(at) return at; } if(company){ return String(company).toLowerCase().replace(/[^a-z0-9-]/g,'') + '.com'; } return ''; }\nconst personalDomains = ['gmail.com','yahoo.com','hotmail.com','outlook.com','icloud.com','aol.com','proton.me','protonmail.com','msn.com','live.com','me.com','mac.com','yandex.com','gmx.com','zoho.com','mail.com','fastmail.com','pm.me'];\nconst email = sanitizeEmail(item.email || item.Email || '');\nconst phone = normalizePhone(item.phone || item.Phone || '');\nconst first = item.first_name || item.firstName || item.first || '';\nconst last = item.last_name || item.lastName || item.last || '';\nconst company = item.company || item.Company || '';\nconst title = item.title || item.job_title || '';\nconst domain = deriveDomain(email, company);\nconst isPersonal = personalDomains.some(pd => domain === pd || domain.endsWith('.' + pd));\nreturn { json: {\n  Email: email,\n  Phone: phone,\n  'First Name': first,\n  'Last Name': last,\n  Company: company,\n  Title: title,\n  'Company Domain': domain,\n  'HRQ Status': isPersonal ? 'Archive' : 'None',\n  'HRQ Reason': isPersonal ? 'Personal email' : '',\n  Source: 'Backlog',\n  'Processing Status': isPersonal ? 'Complete' : 'Queued'\n}};"
      },
      "id": "norm",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{$json.Email || $json.email}}",
            "Phone": "={{$json.Phone || $json.phone}}",
            "First Name": "={{$json['First Name'] || $json.first_name}}",
            "Last Name": "={{$json['Last Name'] || $json.last_name}}",
            "Company Domain": "={{$json['Company Domain'] || $json.company_domain}}",
            "Processing Status": "={{$json['Processing Status'] || $json.processing_status || 'Queued'}}",
            "Source": "={{$json.Source || 'Backlog'}}",
            "HRQ Status": "={{$json['HRQ Status'] || $json.hrq_status || 'None'}}",
            "HRQ Reason": "={{$json['HRQ Reason'] || $json.hrq_reason || ''}}",
            "Company Score Component": 0,
            "Role Score Component": 0,
            "Dynamic Signals Score": 0,
            "SMS Sequence Position": 0,
            "SMS Sent Count": 0,
            "SMS Cost": 0,
            "Data Quality Score": 0,
            "Total Processing Cost": 0,
            "Processing Duration": 0,
            "Location Confidence": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Processing Status",
              "displayName": "Processing Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Ready for SMS",
                  "value": "Ready for SMS"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Webhook",
                  "value": "Webhook"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Valid",
              "displayName": "Phone Valid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linkedin URL - Person",
              "displayName": "Linkedin URL - Person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Country",
              "displayName": "Location Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ICP Score",
              "displayName": "ICP Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Score Component",
              "displayName": "Company Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role Score Component",
              "displayName": "Role Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Score Component",
              "displayName": "Location Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Dynamic Signals Score",
              "displayName": "Dynamic Signals Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prime Fit Bonus",
              "displayName": "Prime Fit Bonus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Eligible",
              "displayName": "SMS Eligible",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "SMS Status",
              "displayName": "SMS Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Sent",
                  "value": "Not Sent"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Delivered",
                  "value": "Delivered"
                },
                {
                  "name": "Clicked",
                  "value": "Clicked"
                },
                {
                  "name": "Replied",
                  "value": "Replied"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "Success",
                  "value": "Success"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Campaign ID",
              "displayName": "SMS Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Sequence Position",
              "displayName": "SMS Sequence Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Sent Count",
              "displayName": "SMS Sent Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Cost",
              "displayName": "SMS Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last SMS Sent",
              "displayName": "Last SMS Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HRQ Status",
              "displayName": "HRQ Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "None",
                  "value": "None"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Manual Process",
                  "value": "Manual Process"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HRQ Reason",
              "displayName": "HRQ Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Data Quality Score",
              "displayName": "Data Quality Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Validation Errors",
              "displayName": "Validation Errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Processing Cost",
              "displayName": "Total Processing Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Processing Duration",
              "displayName": "Processing Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated Manual",
              "displayName": "Last Updated Manual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated Auto",
              "displayName": "Last Updated Auto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Company Type",
              "displayName": "Company Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "B2B SaaS",
                  "value": "B2B SaaS"
                },
                {
                  "name": "B2B Tech Services",
                  "value": "B2B Tech Services"
                },
                {
                  "name": "Other B2B",
                  "value": "Other B2B"
                },
                {
                  "name": "B2C/Unknown",
                  "value": "B2C/Unknown"
                },
                {
                  "name": "/company",
                  "value": "/company"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company LinkedIn",
              "displayName": "Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Batch ID",
              "displayName": "Batch ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Provider Used",
              "displayName": "Enrichment Provider Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enrichment Timestamp",
              "displayName": "Enrichment Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone (10d)",
              "displayName": "Phone (10d)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Confidence",
              "displayName": "Location Confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true,
          "updateAllMatches": false
        }
      },
      "id": "air",
      "name": "Airtable Upsert Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        272,
        -192
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1GeCbf9kHmzCKpDh0dPJ0aBWJ5glw_t7vGBFfmD3X-TM/export?format=csv&gid=0",
        "options": {}
      },
      "id": "af3b6a71-88c2-412a-a0d3-6d9c02d31685",
      "name": "Fetch CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().binary?.data || $input.first().json?.data || $input.first().json?.body || '';\nconst text = Buffer.isBuffer(body) ? body.toString('utf8') : String(body);\nconst normalized = text.replace(/\\r\\n/g, '\\n').trim();\nif (!normalized) return [];\nconst lines = normalized.split('\\n').filter(l => l.trim().length > 0);\nconst headerLine = lines.shift();\nconst rawHeaders = headerLine.split(',').map(h => h.trim());\nfunction normalizeHeader(h) {\n  const x = String(h).trim().toLowerCase();\n  if ([\"email\",\"email address\",\"email-address\",\"e-mail\"].includes(x)) return \"email\";\n  if ([\"phone\",\"phone number\",\"mobile\",\"cell\"].includes(x)) return \"phone\";\n  if ([\"first_name\",\"firstname\",\"first name\",\"first\",\"fname\"].includes(x)) return \"first_name\";\n  if ([\"last_name\",\"lastname\",\"last name\",\"last\",\"lname\",\"surname\"].includes(x)) return \"last_name\";\n  if ([\"name\",\"full name\",\"fullname\"].includes(x)) return \"name\";\n  if ([\"company\",\"company name\",\"employer\",\"org\",\"organization\"].includes(x)) return \"company\";\n  if ([\"title\",\"job title\",\"role\",\"position\"].includes(x)) return \"title\";\n  return x;\n}\nconst headers = rawHeaders.map(normalizeHeader);\nconst idx = Object.fromEntries(headers.map((h,i)=>[h,i]));\nfunction sanitizeEmail(v){ if (!v) return ''; const s = String(v).trim().toLowerCase(); return s.replace(/[\\s]+/g,'').replace(/[\\.,;:]+$/, ''); }\nfunction normalizePhone(v){ if (!v) return ''; let s = String(v).trim(); if (s.startsWith('+')) s = '+' + s.slice(1).replace(/[^0-9]/g,''); else s = s.replace(/[^0-9]/g,''); if (s.startsWith('+')) return s; if (s.length === 11 && s.startsWith('1')) return '+1' + s.slice(1); if (s.length === 10) return '+1' + s; return s; }\nfunction splitName(full){ const parts = String(full||'').trim().split(/\\s+/).filter(Boolean); if (!parts.length) return { first_name: '', last_name: '' }; const first = parts.shift(); const last = parts.join(' '); return { first_name: first || '', last_name: last || '' }; }\nfunction toRow(line){\n  const cols = line.split(',').map(c => c.trim());\n  const get = (key) => cols[idx[key] ?? -1] ?? '';\n  const email = sanitizeEmail(get('email'));\n  const phone = normalizePhone(get('phone'));\n  let first_name = get('first_name');\n  let last_name = get('last_name');\n  if (!first_name && !last_name){ const nm = get('name'); const sp = splitName(nm); first_name = sp.first_name; last_name = sp.last_name; }\n  if (!first_name) first_name = get('first') || get('firstname');\n  if (!last_name) last_name = get('last') || get('lastname');\n  const company = get('company');\n  const title = get('title');\n  return { json: { email, phone, first_name, last_name, company, title } };\n}\nreturn lines.map(toRow);"
      },
      "id": "8f44ea99-1e29-4c41-9e1a-b85feaade69c",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -192
      ]
    }
  ],
  "connections": {
    "Normalize": {
      "main": [
        [
          {
            "node": "Airtable Upsert Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c31157d8-ccb2-4f0e-87cd-b6217fb905d2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-21T17:27:05.587Z",
      "updatedAt": "2025-08-21T17:27:05.587Z",
      "role": "workflow:owner",
      "workflowId": "qMXmmw4NUCh1qu8r",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-02T22:01:44.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
