workflows/backups/PRIORITY-2-SECONDARY-UYSP-ST-Audit-20250910_220707.json
{
  "createdAt": "2025-08-28T23:44:24.715Z",
  "updatedAt": "2025-08-29T07:27:49.000Z",
  "id": "5JQ9JekD3I4KB4ar",
  "name": "UYSP-ST-Audit",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "man",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -80
      ],
      "parameters": {}
    },
    {
      "id": "date",
      "name": "Today YYYY-MM-DD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -80
      ],
      "parameters": {
        "mode": "runOnce",
        "language": "javaScript",
        "jsCode": "const d=new Date();const pad=n=>String(n).padStart(2,'0');const y=d.getUTCFullYear();const m=pad(d.getUTCMonth()+1);const da=pad(d.getUTCDate());return {json:{today:`${y}-${m}-${da}`}};"
      }
    },
    {
      "id": "st",
      "name": "ST List Sent (today)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://app2.simpletexting.com/v1/messaging/sent/list?date={{$items('Today YYYY-MM-DD',0)[0].json.today}}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    },
    {
      "id": "sum",
      "name": "Sum sentCounter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -80
      ],
      "parameters": {
        "mode": "runOncePerItem",
        "language": "javaScript",
        "jsCode": "const body=$json||{};const list=body.list||[];const total=list.reduce((a,c)=>a+(Number(c.sentCounter)||0),0);const top=list.slice(0,5).map(i=>i.id);return {json:{st_total:total, top_campaigns: top}};"
      }
    },
    {
      "id": "air",
      "name": "Count SMS_Audit Sent (today)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        0,
        -80
      ],
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4wIsBfpJTg7pWS",
          "mode": "id"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "filterByFormula": "={{`AND({Event}='Sent', DATETIME_FORMAT({Sent At}, 'YYYY-MM-DD')='${$items('Today YYYY-MM-DD',0)[0].json.today}')`}}",
        "returnAll": true
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "id": "cmp",
      "name": "Compare + Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -80
      ],
      "parameters": {
        "mode": "runOnce",
        "language": "javaScript",
        "jsCode": "const st=$items('Sum sentCounter',0)[0].json;const ours=($items('Count SMS_Audit Sent (today)',0)||[]).length;const diff=(st.st_total||0)-ours;const top=(st.top_campaigns||[]).join(', ');\nreturn {json:{text:`SimpleTexting sent: ${st.st_total} | Our logs: ${ours} | Diff: ${diff}\\nTop campaign IDs: ${top}`}};"
      }
    },
    {
      "id": "sl",
      "name": "Post Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        480,
        -80
      ],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "list",
          "value": "C097CHUHNTG",
          "__rl": true
        },
        "messageType": "text",
        "text": "={{$json.text}}"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Today YYYY-MM-DD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today YYYY-MM-DD": {
      "main": [
        [
          {
            "node": "ST List Sent (today)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Count SMS_Audit Sent (today)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ST List Sent (today)": {
      "main": [
        [
          {
            "node": "Sum sentCounter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sum sentCounter": {
      "main": [
        [
          {
            "node": "Compare + Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count SMS_Audit Sent (today)": {
      "main": [
        [
          {
            "node": "Compare + Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare + Format": {
      "main": [
        [
          {
            "node": "Post Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "9fc2a9df-d356-4e03-9ae5-0d5c3b7cadb4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-28T23:46:01.456Z",
      "updatedAt": "2025-08-28T23:46:01.456Z",
      "role": "workflow:owner",
      "workflowId": "5JQ9JekD3I4KB4ar",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
