workflows/backups/PRIORITY-2-SECONDARY-My-workflow-20250829_173837.json
{
  "createdAt": "2025-07-25T06:42:40.972Z",
  "updatedAt": "2025-07-25T06:43:17.000Z",
  "id": "WceB0kh9PmKLWWZW",
  "name": "My workflow",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "28317521-a754-4c15-a4bd-0a4229f06f76",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-type",
              "name": "error_type",
              "value": "={{ $('Error Trigger').item.json.error.type || 'Unknown Error' }}",
              "type": "string"
            },
            {
              "id": "execution-id",
              "name": "execution_id",
              "value": "={{ $('Error Trigger').item.json.execution.id }}",
              "type": "string"
            },
            {
              "id": "error-reasons",
              "name": "error_reasons",
              "value": "={{ $('Error Trigger').item.json.error.message || 'No error message available' }}",
              "type": "string"
            },
            {
              "id": "workflow-name",
              "name": "workflow_name",
              "value": "={{ $('Error Trigger').item.json.workflow.name || 'Unknown Workflow' }}",
              "type": "string"
            },
            {
              "id": "error-time",
              "name": "error_time",
              "value": "={{ DateTime.now().toISO() }}",
              "type": "string"
            },
            {
              "id": "slack-message",
              "name": "slack_message",
              "value": "🚨 *UYSP Lead Qualification Error*\n\n*Execution ID:* {{ $('Error Trigger').item.json.execution.id }}\n*Workflow:* {{ $('Error Trigger').item.json.workflow.name || 'Unknown' }}\n*Error Type:* {{ $('Error Trigger').item.json.error.type || 'Unknown' }}\n*Error Message:* {{ $('Error Trigger').item.json.error.message || 'No details' }}\n*Time:* {{ DateTime.now().toFormat('yyyy-MM-dd HH:mm:ss') }} UTC\n\n*Node:* {{ $('Error Trigger').item.json.error.node?.name || 'Unknown Node' }}\n*Stack:* {{ $('Error Trigger').item.json.error.stack ? $('Error Trigger').item.json.error.stack.substring(0, 500) + '...' : 'No stack trace' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e4b7f66e-9778-4b8b-a78d-61cad70e0e55",
      "name": "Format Alert Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "id": "ba0463e1-013d-4d14-a5e2-530c862e8994",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "webhookId": "f7a9b138-ca19-4113-bc2c-b3ff460082ec"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblErrorLogV1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "error_type": "={{ $json.error_type }}",
            "execution_id": "={{ $json.execution_id }}",
            "error_reasons": "={{ $json.error_reasons }}",
            "workflow_name": "={{ $json.workflow_name }}",
            "error_time": "={{ $json.error_time }}",
            "alert_sent": true,
            "resolved": false,
            "created_at": "={{ DateTime.now().toISO() }}"
          }
        },
        "options": {}
      },
      "id": "a4a53572-a890-4a4f-b231-01e0f4da9c1c",
      "name": "Log Error to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Alert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Data": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Log Error to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "43bf86e4-884a-4d2b-88b2-6b0a5871626b",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-25T06:42:40.977Z",
      "updatedAt": "2025-07-25T06:42:40.977Z",
      "role": "workflow:owner",
      "workflowId": "WceB0kh9PmKLWWZW",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-08-29T22:42:11.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
