workflows/backups/PRIORITY-1-PRIMARY-UYSP-SMS-Scheduler-20250903_214129.json
{
  "createdAt": "2025-08-21T21:38:43.620Z",
  "updatedAt": "2025-09-04T04:32:57.000Z",
  "id": "D10qtcjjf2Vmmp5j",
  "name": "UYSP-SMS-Scheduler",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-app2.simpletexting.com/v2/api/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "contactPhone": "={{ $items('Get Settings', 0)[0].json['Test Mode'] ? (String($items('Get Settings', 0)[0].json['Test Phone'] || '').replace(/\\D/g,'').replace(/^1/,'') || '0000000000') : $json.phone_digits }}",
          "accountPhone": "9094988474",
          "mode": "AUTO",
          "text": "={{$json.text}}"
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "sms",
      "name": "SimpleTexting HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepared = $items('Prepare Text (A/B)', 0)[$itemIndex]?.json || {};\nconst resp = $json || {};\nconst httpId = $items('SimpleTexting HTTP', 0)[$itemIndex]?.json?.id || '';\n// Prefer our campaign_id from preparation; fall back to ST ids\nconst campaign_id = prepared.campaign_id || resp.campaign_id || httpId || '';\nconst ok = Boolean(campaign_id);\nconst sms_status = ok ? 'Sent' : 'Failed';\nconst error_reason = ok ? '' : (resp.message || resp.error || 'No campaign id available');\nreturn { json: { ...prepared, sms_status, campaign_id, estimated_cost: 0, error_reason } };"
      },
      "id": "parse",
      "name": "Parse SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SMS Status": "={{ $json.sms_status || 'Sent' }}",
            "SMS Campaign ID": "={{ $json.campaign_id || '' }}",
            "SMS Sequence Position": "={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.prev_pos + 1 }}",
            "SMS Sent Count": "={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.prev_sent_count + 1 }}",
            "SMS Variant": "={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.variant || '' }}",
            "SMS Last Sent At": "={{ $now }}",
            "Processing Status": "={{ ($items('Prepare Text (A/B)',0)[$itemIndex].json.prev_pos + 1) >= 3 ? 'Completed' : 'In Sequence' }}",
            "id": "={{$json.id}}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "update",
      "name": "Airtable Update",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        832,
        -352
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097CHUHNTG",
          "mode": "list"
        },
        "text": "=[{{$items('Get Settings',0)[0].json['Test Mode'] ? 'TEST MODE' : 'LIVE'}}] SMS: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.first_name}} {{$items('Prepare Text (A/B)',0)[$itemIndex].json.last_name}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.email}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.company_domain}}\nSend digits: {{$items('Get Settings',0)[0].json['Test Mode'] ? (String($items('Get Settings',0)[0].json['Test Phone']||'').replace(/\\D/g,'').replace(/^1/,'')||'0000000000') : $items('Prepare Text (A/B)',0)[$itemIndex].json.phone_digits}} (orig: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.phone_original}})\nStatus: {{$json.sms_status}}  Campaign: {{$json.campaign_id}}",
        "otherOptions": {}
      },
      "id": "sms-slack",
      "name": "SMS Test Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        832,
        32
      ],
      "webhookId": "dcac0cfd-51ae-4f72-b538-3c2472f965ee",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblErXnFNMKYhh3Xr"
        },
        "options": {}
      },
      "id": "9327efec-dc0b-43d3-92f6-477b6dafe7a8",
      "name": "Get Settings",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -512,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblsSX9dYMnexdAa7",
          "__rl": true
        },
        "options": {}
      },
      "id": "97d8392a-9471-4e25-8424-425ec18304ab",
      "name": "List Templates",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -288,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This node now generates a direct Calendly link.\nconst settingsRows = ($items(\"Get Settings\", 0) || []).map(i => i.json.fields || i.json);\nconst pickSettings = () => settingsRows.map(r => r || {}).pop() || {};\nconst settings = pickSettings();\nconst campaignId = String(settings['Campaign ID'] || settings['Active Campaign'] || 'AI Sales Campaign');\nconst calendlyUrl = 'https://calendly.com/rebel-rebelhq/1-2-1-latif';\n\nfunction injectClickUrlIntoText(text, leadId){\n  // Replace any existing URL with the direct Calendly link.\n  const m = String(text||'').match(/https?:\\/\\/[\\S]+/);\n  if (m) return String(text).replace(m[0], calendlyUrl);\n  // Fallback: append the URL if none is found in the template.\n  return `${text}\\n${calendlyUrl}`;\n}\n\nconst leads = ($items(\"List Due Leads\", 0) || []).map(i => i.json.fields || i.json);\nconst templates = ($items(\"List Templates\", 0) || []).map(i => i.json.fields || i.json);\n\nfunction pickVariant(existing){ if (existing==='A'||existing==='B') return existing; return 'A'; }\nfunction tmplFor(variant, step){ return templates.find(t => String(t.Variant)===variant && Number(t.Step)===step); }\nfunction firstName(rec){ return rec['First Name'] || rec['Full Name']?.split(' ')[0] || (rec['Email']||'').split('@')[0] || '' }\n\nconst out=[];\nfor (const rec of leads){\n  const phoneOriginal = String(rec['Phone'] || '');\n  const phoneDigits = phoneOriginal.replace(/\\D/g,'').replace(/^1/, '');\n  if (phoneDigits.length !== 10) continue;\n  let pos = Number(rec['SMS Sequence Position'] || 0);\n  const nextStep = (pos||0) + 1; if (nextStep>3) continue;\n  const variant = pickVariant(rec['SMS Variant']);\n  const t = tmplFor(variant, nextStep); if (!t || !t.Body) continue;\n  let text = String(t.Body).replaceAll('{Name}', firstName(rec));\n  const leadId = rec.id || rec['Record ID'] || '';\n  \n  text = injectClickUrlIntoText(text, leadId);\n  \n  out.push({ json: { id: leadId, text, variant, prev_pos: pos||0, prev_sent_count: Number(rec['SMS Sent Count']||0), first_name: rec['First Name']||'', last_name: rec['Last Name']||'', email: rec['Email']||'', company_domain: rec['Company Domain']||'', phone_original: phoneOriginal, phone_digits: phoneDigits, campaign_id: campaignId } });\n}\nreturn out;\n"
      },
      "id": "d1f7e09f-53b0-4931-aa23-0694e164fcec",
      "name": "Prepare Text (A/B)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -160
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 14-21 * * 1-5 "
            }
          ]
        }
      },
      "id": "cron",
      "name": "Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -960,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "filterByFormula": "AND({Phone Valid},NOT({SMS Stop}),NOT({Booked}),LEN({Phone})>0,OR({Processing Status}='Queued',{Processing Status}='In Sequence'),OR({SMS Sequence Position}>0,{SMS Eligible}))",
        "options": {}
      },
      "id": "list-due",
      "name": "List Due Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -736,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {},
      "id": "manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event": "={{'Sent'}}",
            "Campaign ID": "={{$json.campaign_id || ''}}",
            "Phone": "={{$json.phone_digits || ''}}",
            "Status": "={{'Sent'}}",
            "Lead Record ID": "={{$json.id || ''}}",
            "Text": "={{$json.text || ''}}",
            "Sent At": "={{$now}}"
          },
          "matchingColumns": []
        },
        "options": {
          "typecast": true
        }
      },
      "id": "audit-sent",
      "name": "Audit Sent",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        832,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-app2.simpletexting.com/v2/api/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "contactPhone": "={{ $json.phone_digits }}",
          "firstName": "={{ $json.first_name }}",
          "lastName": "={{ $json.last_name }}",
          "listName": "AI Webinar – Automation (System)",
          "tags": [
            "uysp-automation"
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "st-contact-update",
      "name": "Update ST Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "E4NDaEmBWVX3rawT",
          "name": "Simple-TXT-API"
        }
      }
    }
  ],
  "connections": {
    "SimpleTexting HTTP": {
      "main": [
        [
          {
            "node": "Parse SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SMS Response": {
      "main": [
        [
          {
            "node": "Airtable Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Test Notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audit Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "List Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Settings": {
      "main": [
        [
          {
            "node": "List Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Templates": {
      "main": [
        [
          {
            "node": "Prepare Text (A/B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text (A/B)": {
      "main": [
        [
          {
            "node": "Update ST Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ST Contact": {
      "main": [
        [
          {
            "node": "SimpleTexting HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Due Leads": {
      "main": [
        [
          {
            "node": "Get Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-08-26T19:38:31Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "360a13d9-fe70-4132-8bac-adae5318b193",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-21T21:59:46.928Z",
      "updatedAt": "2025-08-21T21:59:46.928Z",
      "role": "workflow:owner",
      "workflowId": "D10qtcjjf2Vmmp5j",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-03T22:00:13.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
