workflows/backups/PRIORITY-2-SECONDARY-UYSP-SMS-Inbound-STOP-Aug-28-at-20-20250829_173837.json
{
  "createdAt": "2025-08-29T06:03:05.420Z",
  "updatedAt": "2025-08-29T06:03:37.000Z",
  "id": "6R6klBTZMxVvbFQI",
  "name": "UYSP-SMS-Inbound-STOP (Aug 28 at 20:00:19)",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simpletexting-inbound",
        "options": {}
      },
      "id": "wb",
      "name": "Webhook (STOP)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1024,
        -160
      ],
      "webhookId": "5aaa37a6-e652-4a48-94af-91f5717bb794"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json || {};\nconst text = (body.text || body.message || body.Message || '').toString().trim().toUpperCase();\nconst from = (body.from || body.phone || body.Phone || body.msisdn || '').toString();\nconst digits = from.replace(/\\D/g,'').replace(/^1/, '');\nconst isStop = /\\b(STOP|END|QUIT|UNSUB|UNSUBSCRIBE|CANCEL)\\b/.test(text);\nreturn isStop ? { json: { phone_digits: digits, text } } : { json: { skip:true } };\n"
      },
      "id": "parse",
      "name": "Parse Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($json.skip) { return null } ; return $input.item;"
      },
      "id": "guard",
      "name": "Skip Non-STOP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -288
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "options": {}
      },
      "id": "find",
      "name": "Find Lead by Phone",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -352,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "columns": {
          "values": {
            "Processing Status": "Stopped"
          }
        }
      },
      "id": "update",
      "name": "Mark STOP",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -128,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    }
  ],
  "connections": {
    "Webhook (STOP)": {
      "main": [
        [
          {
            "node": "Parse Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Inbound": {
      "main": [
        [
          {
            "node": "Skip Non-STOP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Lead by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Non-STOP": {
      "main": [
        [
          {
            "node": "Find Lead by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead by Phone": {
      "main": [
        [
          {
            "node": "Mark STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": null,
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "67dcaea9-4be4-4138-b36b-29a99623564c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-29T06:03:05.422Z",
      "updatedAt": "2025-08-29T06:03:05.422Z",
      "role": "workflow:owner",
      "workflowId": "6R6klBTZMxVvbFQI",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-08-29T22:42:11.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
