workflows/backups/PRIORITY-2-SECONDARY-My-workflow-3-20250903_121449.json
{
  "createdAt": "2025-09-03T17:45:43.714Z",
  "updatedAt": "2025-09-03T17:45:43.714Z",
  "id": "orX5pGFvcCclADdc",
  "name": "My workflow 3",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "simpletexting-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c5c8700-99ff-49ff-9da9-11b907e7f649",
      "name": "Webhook (Clicks GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -448,
        192
      ],
      "webhookId": "41865747-7da5-4d7e-ab42-1e5fc364351e"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "52223a33-f99b-44d1-81e7-6b3a38b88e4e",
      "name": "Respond 302",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const crypto = require('crypto');\nconst token = $json.params?.token || '';\nconst secret = 'uysp-click-tracking-secret-2025';\n\nfunction respond(url, leadId){\n  return { json: { type: 'CLICK_TRACKING', leadId: leadId || null, statusCode: 302, headers: { Location: url } } };\n}\n\nconst fallbackUrl = 'https://calendly.com/d/cm5d-w79-8xp/sales-coaching-strategy-call-rr';\nif (!token) { return respond(fallbackUrl, null); }\n\ntry {\n  const decoded = Buffer.from(token, 'base64url').toString('utf8');\n  const [payload, signature] = decoded.split('.');\n  const expected = crypto.createHmac('sha256', secret).update(payload).digest('hex');\n  if (signature !== expected) { return respond(fallbackUrl, null); }\n  const data = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n  const maxAgeMs = 7*24*60*60*1000;\n  if (Date.now() - (data.ts||0) > maxAgeMs) { return respond(fallbackUrl, null); }\n  const redirectUrl = data.targetUrl || fallbackUrl;\n  const leadId = data.leadId || data.l || null;\n  return respond(redirectUrl, leadId);\n} catch (e) {\n  return respond(fallbackUrl, null);\n}\n"
      },
      "id": "531df1ae-e58d-45c3-a012-3658630ba28a",
      "name": "Click Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event": "Click",
            "Lead Record ID": "={{ $json.leadId || '' }}",
            "Webhook Raw": "={{ JSON.stringify($json) }}"
          }
        },
        "options": {}
      },
      "id": "35ffd03e-b882-4de7-817f-19229fbaf2e7",
      "name": "Audit Click",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if(!$json.leadId){return null};return $input.item;"
      },
      "id": "e73456df-f435-452a-b2ba-53799eb9da90",
      "name": "Has LeadId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.leadId }}",
            "SMS Status": "Clicked"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "3f26cb54-e000-424e-851f-51aa5b5fb3bb",
      "name": "Set Lead Clicked",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Webhook (Clicks GET)": {
      "main": [
        [
          {
            "node": "Click Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click Handler": {
      "main": [
        [
          {
            "node": "Respond 302",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audit Click",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has LeadId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has LeadId": {
      "main": [
        [
          {
            "node": "Set Lead Clicked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2536ab35-f82f-4962-8a53-0db1b853ade4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-03T17:45:43.717Z",
      "updatedAt": "2025-09-03T17:45:43.717Z",
      "role": "workflow:owner",
      "workflowId": "orX5pGFvcCclADdc",
      "projectId": "HiFn22PB8pYSxCmP",
      "project": {
        "createdAt": "2025-08-18T19:11:02.418Z",
        "updatedAt": "2025-08-18T19:13:40.000Z",
        "id": "HiFn22PB8pYSxCmP",
        "name": "UYSP V2 TEST ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "projectRelations": [
          {
            "createdAt": "2025-08-18T19:13:40.464Z",
            "updatedAt": "2025-08-18T19:13:40.464Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "HiFn22PB8pYSxCmP",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-02T22:01:44.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
