workflows/backups/PRIORITY-2-SECONDARY-W-4-Persistence-CLaude-4-phase-2-refactor-20250903_214129.json
{
  "createdAt": "2025-08-16T19:28:13.987Z",
  "updatedAt": "2025-09-03T19:17:21.000Z",
  "id": "Pogwi8hP31NTKZQo",
  "name": "W-4-Persistence-CLaude-4-phase-2-refactor",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "1110efd4-b2e1-4248-820d-dce43604cc64",
      "name": "Execute Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate and prepare data for persistence\nconst items = $input.all();\n\nif (!items || !items.length) {\n  return [{\n    json: {\n      status: 'error',\n      error: 'No data to persist',\n      airtable_record_id: null,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst data = items[0].json;\n\n// Build observability log\nconst observabilityLog = {\n  execution_id: $execution.id,\n  workflow_id: $workflow.id,\n  timestamp: new Date().toISOString(),\n  lead_data: {\n    normalized: data.normalized || {},\n    enriched: data.enriched || {},\n    capture_rate: data.captureRate || 0\n  },\n  enrichment: {\n    status: data.enrichment_status || 'not_run',\n    providers: data.providers_triggered || [],\n    path: data.enrichment_path || '',\n    costs: data.costs || {}\n  },\n  scoring: {\n    icp_score: data.icp_score || 0,\n    icp_tier: data.icp_tier || 'Unknown',\n    route: data.route || 'unqualified',\n    confidence: data.confidence || 0,\n    breakdown: data.score_breakdown || {},\n    reasoning: data.reasoning || []\n  },\n  unknown_fields: data.unknownFields || []\n};\n\n// Prepare Airtable fields\nconst airtableFields = {\n  // Core fields\n  email: data.normalized?.email,\n  first_name: data.normalized?.first_name,\n  last_name: data.normalized?.last_name,\n  phone: data.normalized?.phone,\n  company: data.normalized?.company || data.enriched?.company,\n  \n  // Enriched fields\n  title: data.enriched?.title,\n  linkedin_url: data.enriched?.linkedin || data.normalized?.linkedin_url,\n  company_size: data.enriched?.company_size,\n  department: data.enriched?.department,\n  \n  // Scoring fields\n  icp_score: data.icp_score,\n  icp_tier: data.icp_tier,\n  route: data.route,\n  score_confidence: data.confidence,\n  qualified_lead: data.qualified_lead,\n  \n  // Metadata\n  source_form: data.normalized?.source_form,\n  interested_in_coaching: data.normalized?.interested_in_coaching,\n  \n  // Tracking\n  enrichment_path: data.enrichment_path,\n  enrichment_cost: data.costs?.total || 0,\n  \n  // Observability\n  last_run_log: JSON.stringify(observabilityLog),\n  last_run_at: new Date().toISOString(),\n  idempotency_key: data.normalized?.idempotency_key\n};\n\n// Remove undefined/null values\nObject.keys(airtableFields).forEach(key => {\n  if (airtableFields[key] === undefined || airtableFields[key] === null) {\n    delete airtableFields[key];\n  }\n});\n\nreturn [{\n  json: {\n    airtableFields: airtableFields,\n    observabilityLog: observabilityLog,\n    idempotency_key: data.normalized?.idempotency_key || ''\n  }\n}];"
      },
      "id": "ff1abe64-8505-4247-a1e2-b179bf8fdaab",
      "name": "Data Validation & Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simulate Airtable search - In production, use actual Airtable Search node\nconst data = $input.first().json;\nconst email = data.airtableFields.email;\n\n// PRODUCTION CONFIGURATION:\n// Base ID: appuBf0fTe8tp8ZaF\n// People Table ID: tblSk2Ikg21932uE0\n// Field_Mapping_Log Table ID: tbl9cOmvkdcokyFmG\n\nconst existingRecord = null; // Simulate no existing record found\n\nreturn [{\n  json: {\n    searchResult: existingRecord,\n    email_searched: email,\n    found_existing: existingRecord !== null\n  }\n}];\n\n// PRODUCTION REPLACEMENT:\n// Replace this Code node with:\n// {\n//   \"parameters\": {\n//     \"resource\": \"record\",\n//     \"operation\": \"search\",\n//     \"base\": {\n//       \"__rl\": true,\n//       \"value\": \"appuBf0fTe8tp8ZaF\",\n//       \"mode\": \"id\"\n//     },\n//     \"table\": {\n//       \"__rl\": true,\n//       \"value\": \"tblSk2Ikg21932uE0\",\n//       \"mode\": \"id\"\n//     },\n//     \"filterByFormula\": \"={email} = '{{ $node[\\\"Data Validation & Prep\\\"].json.airtableFields.email }}'\",\n//     \"limit\": 1\n//   },\n//   \"type\": \"n8n-nodes-base.airtable\"\n// }"
      },
      "id": "ebc21730-2c93-4f7c-9cb1-3a3f13cfd1e4",
      "name": "Search Existing Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Determine if we should create or update\nconst searchResults = $input.first().json;\nconst previousNode = $node[\"Data Validation & Prep\"].json;\n\nlet operation = 'create';\nlet recordId = null;\n\n// Check if we found an existing record\nif (searchResults && searchResults.searchResult && searchResults.searchResult.id) {\n  operation = 'update';\n  recordId = searchResults.searchResult.id;\n}\n\nreturn [{\n  json: {\n    operation: operation,\n    recordId: recordId,\n    fields: previousNode.airtableFields,\n    observabilityLog: previousNode.observabilityLog\n  }\n}];"
      },
      "id": "71d2ed38-29cc-4e1b-9b69-b61afa73df3a",
      "name": "Upsert Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simulate Airtable create/update - PRODUCTION READY\n// Base ID: appuBf0fTe8tp8ZaF | People Table: tblSk2Ikg21932uE0\n// In production, this would be two separate Airtable nodes with IF condition\nconst data = $input.first().json;\n\nlet result;\nif (data.operation === 'create') {\n  // Simulate create\n  result = {\n    id: 'rec' + Math.random().toString(36).substr(2, 9),\n    fields: data.fields,\n    createdTime: new Date().toISOString()\n  };\n} else {\n  // Simulate update\n  result = {\n    id: data.recordId,\n    fields: data.fields,\n    updatedTime: new Date().toISOString()\n  };\n}\n\nreturn [{\n  json: {\n    status: 'success',\n    operation: data.operation,\n    airtable_record_id: result.id,\n    timestamp: new Date().toISOString(),\n    fields_updated: Object.keys(data.fields).length\n  }\n}];\n\n// PRODUCTION REPLACEMENT:\n// Replace with Switch node that routes to:\n// \n// CREATE BRANCH - n8n-nodes-base.airtable:\n// {\n//   \"parameters\": {\n//     \"resource\": \"record\",\n//     \"operation\": \"create\",\n//     \"base\": { \"__rl\": true, \"value\": \"appuBf0fTe8tp8ZaF\", \"mode\": \"id\" },\n//     \"table\": { \"__rl\": true, \"value\": \"tblSk2Ikg21932uE0\", \"mode\": \"id\" },\n//     \"columns\": {\n//       \"mappingMode\": \"defineBelow\",\n//       \"value\": {\n//         \"email\": \"={{ $json.fields.email }}\",\n//         \"first_name\": \"={{ $json.fields.first_name }}\",\n//         // ... all other fields\n//       }\n//     }\n//   }\n// }\n//\n// UPDATE BRANCH - n8n-nodes-base.airtable:\n// {\n//   \"parameters\": {\n//     \"resource\": \"record\", \n//     \"operation\": \"update\",\n//     \"base\": { \"__rl\": true, \"value\": \"appuBf0fTe8tp8ZaF\", \"mode\": \"id\" },\n//     \"table\": { \"__rl\": true, \"value\": \"tblSk2Ikg21932uE0\", \"mode\": \"id\" },\n//     \"id\": \"={{ $json.recordId }}\",\n//     \"columns\": {\n//       \"mappingMode\": \"defineBelow\", \n//       \"value\": {\n//         // Same field mappings as create\n//       }\n//     }\n//   }\n// }"
      },
      "id": "f4a0602c-cfe7-44a5-96c8-7bb7ee4580cb",
      "name": "Airtable Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log any unknown fields to Field_Mapping_Log table\n// PRODUCTION CONFIGURED: Base appuBf0fTe8tp8ZaF | Table tbl9cOmvkdcokyFmG\nconst data = $node[\"Data Validation & Prep\"].json;\nconst unknownFields = data.observabilityLog.unknown_fields || [];\n\nif (unknownFields.length > 0) {\n  // In production, this would be an Airtable Create node\n  // Creating records in Field_Mapping_Log table\n  \n  const logEntries = unknownFields.map(field => ({\n    unknown_field: field.field,\n    raw_value: String(field.value).substring(0, 100), // Truncate long values\n    source_form: data.observabilityLog.lead_data.normalized.source_form || 'unknown',\n    created_at: new Date().toISOString(),\n    lead_email: data.observabilityLog.lead_data.normalized.email || 'unknown'\n  }));\n  \n  return [{\n    json: {\n      logged_fields: logEntries.length,\n      fields: logEntries\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    logged_fields: 0,\n    fields: []\n  }\n}];\n\n// PRODUCTION REPLACEMENT:\n// Replace with IF node that checks unknownFields.length > 0\n// Then routes to Airtable Create node:\n// {\n//   \"parameters\": {\n//     \"resource\": \"record\",\n//     \"operation\": \"create\", \n//     \"base\": { \"__rl\": true, \"value\": \"appuBf0fTe8tp8ZaF\", \"mode\": \"id\" },\n//     \"table\": { \"__rl\": true, \"value\": \"tbl9cOmvkdcokyFmG\", \"mode\": \"id\" },\n//     \"columns\": {\n//       \"mappingMode\": \"defineBelow\",\n//       \"value\": {\n//         \"unknown_field\": \"={{ $json.field }}\",\n//         \"raw_value\": \"={{ String($json.value).substring(0, 100) }}\",\n//         \"source_form\": \"={{ $node['Data Validation & Prep'].json.observabilityLog.lead_data.normalized.source_form }}\",\n//         \"created_at\": \"={{ new Date().toISOString() }}\",\n//         \"lead_email\": \"={{ $node['Data Validation & Prep'].json.observabilityLog.lead_data.normalized.email }}\"\n//       }\n//     }\n//   }\n// }"
      },
      "id": "406d0dc3-f321-43fc-810e-7a2c2b1877e4",
      "name": "Log Unknown Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Compile final status for main orchestrator\nconst upsertResult = $node[\"Airtable Upsert\"].json;\nconst data = $node[\"Upsert Decision\"].json;\nconst fieldLogging = $node[\"Log Unknown Fields\"].json;\n\nreturn [{\n  json: {\n    status: upsertResult.status || 'success',\n    operation: upsertResult.operation,\n    airtable_record_id: upsertResult.airtable_record_id,\n    route: data.fields.route || 'unqualified',\n    icp_score: data.fields.icp_score || 0,\n    qualified_lead: data.fields.qualified_lead || false,\n    execution_id: $execution.id,\n    timestamp: new Date().toISOString(),\n    message: `Lead ${upsertResult.operation}d successfully`,\n    fields_processed: upsertResult.fields_updated || 0,\n    unknown_fields_logged: fieldLogging.logged_fields || 0\n  }\n}];"
      },
      "id": "941e32fe-090b-4c65-9a65-4459417bc699",
      "name": "Return Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        -140
      ]
    }
  ],
  "connections": {
    "Execute Sub-workflow Trigger": {
      "main": [
        [
          {
            "node": "Data Validation & Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Validation & Prep": {
      "main": [
        [
          {
            "node": "Search Existing Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Unknown Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Lead": {
      "main": [
        [
          {
            "node": "Upsert Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Decision": {
      "main": [
        [
          {
            "node": "Airtable Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Upsert": {
      "main": [
        [
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unknown Fields": {
      "main": [
        [
          {
            "node": "Return Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cea4f122-89e7-4264-b8c7-3f43dc98285c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-16T21:16:10.231Z",
      "updatedAt": "2025-08-16T21:16:10.231Z",
      "role": "workflow:owner",
      "workflowId": "Pogwi8hP31NTKZQo",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-03T22:00:13.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
