workflows/backups/PRIORITY-2-SECONDARY-UYSP-PRE-COMPLIANCE-TESTING-ACTIVE-20250808_162419.json
{
  "name": "UYSP PHASE 2B - COMPLETE CLEAN REBUILD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kajabi-leads-complete-clean",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "kajabi-webhook-complete",
      "name": "Kajabi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1480,
        620
      ],
      "webhookId": "658a1d1c-30a0-484d-b3cd-87578ff5e668"
    },
    {
      "parameters": {
        "jsCode": "// Validation removed - webhook auth now handled at webhook level\nreturn $json;"
      },
      "id": "validate-api-key-complete",
      "name": "Validate API Key (Dynamic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Smart Field Mapper v4.6 - CORRECTED BOOLEAN NULL FIX\n// CRITICAL FIX: Boolean false → null for Airtable checkbox fields\nconst webhookData = $input.first().json;\n\n// CRITICAL FIX: Extract actual form data from webhook structure\nlet inputData;\nif (webhookData.body && typeof webhookData.body === 'object') {\n  // n8n webhook format: data is in .body\n  inputData = webhookData.body;\n} else if (webhookData.data && typeof webhookData.data === 'object') {\n  // Alternative webhook format: data is in .data\n  inputData = webhookData.data;\n} else {\n  // Direct format: webhook data is the payload itself\n  inputData = webhookData;\n}\n\nconst fieldMappings = {\n  email: ['email', 'Email', 'EMAIL', 'email_address', 'emailAddress', 'e-mail', 'e_mail', 'contact_email', 'Email_Address', 'EMAIL_ADDRESS'],\n  phone: ['phone', 'Phone', 'PHONE', 'phone_number', 'phoneNumber', 'mobile', 'cellphone', 'telephone', 'phone_intl', 'mobile_intl'],\n  name: ['name', 'Name', 'NAME', 'full_name', 'fullName', 'contact_name', 'display_name'],\n  first_name: ['first_name', 'firstName', 'fname', 'given_name', 'forename'],\n  last_name: ['last_name', 'lastName', 'lname', 'surname', 'family_name'],\n  company: ['company', 'Company', 'COMPANY', 'company_name', 'companyName', 'organization', 'org', 'business'],\n  title: ['title', 'Title', 'job_title', 'jobTitle', 'position', 'role'],\n  source_form: ['source_form', 'form_name', 'formName', 'source', 'form_id'],\n  interested_in_coaching: ['interested_in_coaching', 'coaching_interest', 'wants_coaching'],\n  qualified_lead: ['qualified_lead', 'is_qualified', 'qualified', 'lead_qualified'],\n  contacted: ['contacted', 'was_contacted', 'contact_attempted', 'reached_out'],\n  linkedin_url: ['linkedin_url', 'linkedin', 'linkedinUrl', 'linkedin_profile'],\n  request_id: ['request_id', 'requestId', 'request', 'id', 'tracking_id']\n};\n\nconst normalized = {};\nconst mappedFields = new Set();\n\n// Case-insensitive field finder\nfunction findField(aliases) {\n  for (const key of Object.keys(inputData)) {\n    if (aliases.some(alias => alias.toLowerCase() === key.toLowerCase())) {\n      mappedFields.add(key);\n      return inputData[key];\n    }\n  }\n  return null;\n}\n\n// Map all fields\nObject.entries(fieldMappings).forEach(([normalizedName, aliases]) => {\n  const value = findField(aliases);\n  if (value !== null && value !== undefined && value !== '') {\n    normalized[normalizedName] = value;\n  }\n});\n\n// Auto-split full name if needed\nif (normalized.name && !normalized.first_name) {\n  const parts = normalized.name.trim().split(/\\s+/);\n  normalized.first_name = parts[0] || '';\n  normalized.last_name = parts.slice(1).join(' ') || '';\n}\n\n// CORRECTED: 3-Field Phone Strategy Implementation\nif (normalized.phone) {\n  normalized.phone_recent = normalized.phone;  // Always update to latest received\n  normalized.phone_original = normalized.phone; // Will be handled by duplicate logic to preserve on updates\n}\n\n// CRITICAL FIX: Boolean conversion for Airtable - null instead of false\n['interested_in_coaching', 'qualified_lead', 'contacted'].forEach(field => {\n  if (normalized[field] !== undefined) {\n    const val = String(normalized[field]).toLowerCase();\n    const isTruthy = ['true', 'yes', '1', 'on', 'y', 'checked', 'enabled'].includes(val);\n    normalized[field] = isTruthy ? true : null;  // CRITICAL FIX: null instead of false\n  }\n});\n\n// Track unknown fields\nconst unknownFields = Object.keys(inputData).filter(k => !mappedFields.has(k));\n\n// Add metadata\nnormalized.webhook_field_count = Object.keys(inputData).length;\nnormalized.mapped_field_count = Object.keys(normalized).length;\nnormalized.unknown_field_list = unknownFields.join(', ');\nnormalized.field_mapping_success_rate = Math.round((Object.keys(normalized).length / Object.keys(inputData).length) * 100);\nnormalized.normalization_version = 'v4.6-boolean-null-fix';\nnormalized.raw_webhook_data = JSON.stringify(webhookData);\n\nreturn {\n  normalized,\n  original: inputData,\n  unknownFields,\n  mappingSuccess: Object.keys(normalized).length > 0,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "smart-field-mapper-complete",
      "name": "Smart Field Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.peopledatalabs.com/v5/person/enrich",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{$credentials.httpHeaderAuth.headerValue}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$node['Smart Field Mapper'].json.normalized.email}}"
            }
          ]
        },
        "options": {}
      },
      "id": "pdl-person-enrichment-complete",
      "name": "PDL Person Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VNS3JAPKgDxyNQa3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PDL Person API Response Processor v1.0\n// Extracts person data and maps to Airtable fields\n\nconst pdlResponse = $json;\nconst smartFieldData = $node['Smart Field Mapper'].json.normalized;\n\n// Initialize processed data with existing Smart Field Mapper data\nconst processedData = {\n  ...smartFieldData,\n  // PDL Person API Processing\n  pdl_person_processed: new Date().toISOString(),\n  pdl_person_cost: 0.03 // $0.03 per call\n};\n\n// Process PDL Person Response\nif (pdlResponse && pdlResponse.data) {\n  const person = pdlResponse.data;\n  \n  // Extract person profile data\n  if (person.full_name) {\n    processedData.pdl_full_name = person.full_name;\n  }\n  \n  if (person.first_name) {\n    processedData.pdl_first_name = person.first_name;\n  }\n  \n  if (person.last_name) {\n    processedData.pdl_last_name = person.last_name;\n  }\n  \n  // Extract job information\n  if (person.job_title) {\n    processedData.pdl_job_title = person.job_title;\n  }\n  \n  if (person.job_title_role) {\n    processedData.pdl_job_role = person.job_title_role;\n  }\n  \n  if (person.job_company_name) {\n    processedData.pdl_company_name = person.job_company_name;\n  }\n  \n  // Extract LinkedIn profile\n  if (person.linkedin_url) {\n    processedData.pdl_linkedin_url = person.linkedin_url;\n  }\n  \n  // Extract location data\n  if (person.location_name) {\n    processedData.pdl_location = person.location_name;\n  }\n  \n  if (person.location_country) {\n    processedData.pdl_country = person.location_country;\n  }\n  \n  // Extract seniority level\n  if (person.job_title_levels && person.job_title_levels.length > 0) {\n    processedData.pdl_seniority = person.job_title_levels[0];\n  }\n  \n  // Determine if person is in sales role\n  const salesRoles = ['sales', 'business development', 'account manager', 'revenue', 'growth'];\n  const jobTitle = (person.job_title || '').toLowerCase();\n  const jobRole = (person.job_title_role || '').toLowerCase();\n  \n  processedData.pdl_is_sales_role = salesRoles.some(role => \n    jobTitle.includes(role) || jobRole.includes(role)\n  );\n  \n  // Extract industry information\n  if (person.industry) {\n    processedData.pdl_industry = person.industry;\n  }\n  \n  // Process phone numbers from PDL\n  if (person.phone_numbers && person.phone_numbers.length > 0) {\n    const primaryPhone = person.phone_numbers[0];\n    if (primaryPhone) {\n      processedData.pdl_phone = primaryPhone;\n    }\n  }\n  \n  // Extract experience information\n  if (person.experience && person.experience.length > 0) {\n    const currentJob = person.experience[0]; // Most recent job\n    if (currentJob) {\n      if (currentJob.company && currentJob.company.name) {\n        processedData.pdl_current_company = currentJob.company.name;\n      }\n      if (currentJob.title) {\n        processedData.pdl_current_title = currentJob.title;\n      }\n    }\n  }\n  \n  // Calculate person qualification score (0-100)\n  let personScore = 0;\n  \n  // Has LinkedIn profile (+25 points)\n  if (person.linkedin_url) personScore += 25;\n  \n  // Has job title (+20 points)\n  if (person.job_title) personScore += 20;\n  \n  // Is in sales role (+30 points)\n  if (processedData.pdl_is_sales_role) personScore += 30;\n  \n  // Has company information (+15 points)\n  if (person.job_company_name) personScore += 15;\n  \n  // Has location data (+10 points)\n  if (person.location_country) personScore += 10;\n  \n  processedData.pdl_person_score = personScore;\n  \n  // Determine qualification status\n  processedData.pdl_person_qualified = personScore >= 70;\n  \n  // Extract additional contact methods\n  if (person.emails && person.emails.length > 0) {\n    const workEmail = person.emails.find(email => email.type === 'work');\n    if (workEmail) {\n      processedData.pdl_work_email = workEmail.address;\n    }\n  }\n  \n  // Success status\n  processedData.pdl_person_success = true;\n  processedData.pdl_person_error = null;\n  \n} else {\n  // Handle API error or no data\n  processedData.pdl_person_success = false;\n  processedData.pdl_person_error = pdlResponse.error || 'No person data found';\n  processedData.pdl_person_score = 0;\n  processedData.pdl_person_qualified = false;\n}\n\n// Return processed data for next node\nreturn { normalized: processedData };"
      },
      "id": "pdl-person-processor-complete",
      "name": "PDL Person Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "7ece2bab-8222-4ec9-8a1b-531d1c993724",
              "leftValue": "={{$json.normalized.pdl_person_success}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "pdl-person-routing-complete",
      "name": "PDL Person Routing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -500,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an ICP (Ideal Customer Profile) scoring system for Phase 2B engagement-focused evaluation. Analyze the lead data and return a JSON response with scores.\\n\\nScoring Criteria (Phase 2B - Engagement Focus):\\n1. Company Score (0-50): Company size, industry fit, revenue potential\\n2. Role Score (0-30): Title relevance, decision-making authority, seniority\\n3. Engagement Score (0-20): Response time, interaction quality, intent signals\\n\\nReturn ONLY valid JSON in this exact format:\\n{\\n  \\\"company_score\\\": 0-50,\\n  \\\"role_score\\\": 0-30,\\n  \\\"engagement_score\\\": 0-20,\\n  \\\"total_score\\\": 0-100,\\n  \\\"recommendation\\\": \\\"high_priority\\\" | \\\"medium_priority\\\" | \\\"low_priority\\\",\\n  \\\"reasoning\\\": \\\"Brief explanation of scoring\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ JSON.stringify($json.normalized, null, 2) }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 500,\n  \"top_p\": 0.9\n}",
        "options": {}
      },
      "id": "openai-icp-scoring-complete",
      "name": "OpenAI ICP Scoring V3.0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        -60
      ],
      "credentials": {
        "openAiApi": {
          "id": "52KlSy6fa9hV7HSm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbljmIuoX3Qi28WIq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "person_email": "={{$node['Smart Field Mapper'].json.normalized.email}}",
            "review_reason": "missing_key_data",
            "priority": "Medium",
            "queued_date": "={{DateTime.now().toISO()}}",
            "review_notes": "PDL Person API failed - requires manual review"
          }
        },
        "options": {}
      },
      "id": "add-to-human-review-complete",
      "name": "Add to Human Review Queue",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -220,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NwWHGoH9nzgxGhBZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ICP Response Processor V3.1 – OpenAI compatible\\n// Parses OpenAI chat completion (choices[0].message.content) or legacy Claude format\\n\\nconst aiResp = $json;\\nconst leadData = $node['PDL Person Processor'].json.normalized;\\n\\n// Base result object\\nlet scoringResult = {\\n  ...leadData,\\n  icp_scoring_attempted: true,\\n  icp_scoring_date: new Date().toISOString(),\\n  openai_cost: 0.001 // update with real cost model if needed\\n};\\n\\n// Helper: try to extract text from various response shapes\\nconst respText =\\n  aiResp?.choices?.[0]?.message?.content ??\\n  aiResp?.content?.[0]?.text ??\\n  null;\\n\\nif (respText) {\\n  try {\\n    const scoreData = JSON.parse(respText.trim());\\n\\n    scoringResult.icp_score = scoreData.total_score ?? 0;\\n    scoringResult.company_score = scoreData.company_score ?? 0;\\n    scoringResult.role_score = scoreData.role_score ?? 0;\\n    scoringResult.engagement_score = scoreData.engagement_score ?? 0;\\n    scoringResult.score_reasoning = scoreData.reasoning ?? 'AI scoring';\\n    scoringResult.scoring_confidence = scoreData.confidence ?? 0.8;\\n    scoringResult.scoring_method_used = 'openai_chat';\\n    scoringResult.ai_success = true;\\n\\n    // Tiering\\n    if (scoringResult.icp_score >= 90) scoringResult.icp_tier = 'Ultra';\\n    else if (scoringResult.icp_score >= 75) scoringResult.icp_tier = 'High';\\n    else if (scoringResult.icp_score >= 70) scoringResult.icp_tier = 'Medium';\\n    else if (scoringResult.icp_score >= 50) scoringResult.icp_tier = 'Low';\\n    else scoringResult.icp_tier = 'Archive';\\n  } catch (err) {\\n    console.log('AI response JSON parse failed', err.message);\\n    scoringResult.ai_success = false;\\n    scoringResult.ai_error = err.message;\\n    scoringResult = { ...scoringResult, ...calculateDomainFallback(leadData) };\\n  }\\n} else {\\n  // No usable text – fallback\\n  scoringResult.ai_success = false;\\n  scoringResult.ai_error = 'Empty or unrecognised response';\\n  scoringResult = { ...scoringResult, ...calculateDomainFallback(leadData) };\\n}\\n\\nfunction calculateDomainFallback(data) {\\n  let companyScore = 8;\\n  let roleScore = 0;\\n  let engagementScore = 0;\\n\\n  const emailDomain = data.email ? data.email.split('@')[1] : '';\\n  const domainScores = {\\n    'salesforce.com': 15, 'hubspot.com': 15, 'microsoft.com': 15,\\n    'zoom.us': 15, 'slack.com': 15, 'atlassian.com': 15,\\n    'accenture.com': 5, 'deloitte.com': 5\\n  };\\n  companyScore = domainScores[emailDomain] || 8;\\n\\n  const title = (data.pdl_job_title || data.title || '').toLowerCase();\\n  if (title.includes('account executive') || title.includes('ae')) {\\n    roleScore = title.includes('enterprise') ? 25 : 20;\\n  } else if (title.includes('account director') || title.includes('account manager')) {\\n    roleScore = 18;\\n  } else if (title.includes('sales manager') || title.includes('team lead')) {\\n    roleScore = 10;\\n  } else if (title.includes('vp') || title.includes('director')) {\\n    roleScore = 8;\\n  } else if (title.includes('sdr') || title.includes('bdr')) {\\n    roleScore = 3;\\n  }\\n\\n  if (data.interested_in_coaching === true) engagementScore += 15;\\n  if (data.source_form?.toLowerCase().includes('webinar')) engagementScore += 8;\\n  if (data.pdl_linkedin_url) engagementScore += 5;\\n\\n  const totalScore = Math.min(companyScore + roleScore + engagementScore, 100);\\n  let tier = 'Archive';\\n  if (totalScore >= 90) tier = 'Ultra';\\n  else if (totalScore >= 75) tier = 'High';\\n  else if (totalScore >= 70) tier = 'Medium';\\n  else if (totalScore >= 50) tier = 'Low';\\n\\n  return {\\n    icp_score: totalScore,\\n    company_score: companyScore,\\n    role_score: roleScore,\\n    engagement_score: engagementScore,\\n    icp_tier: tier,\\n    score_reasoning: 'Domain fallback scoring – AI unavailable',\\n    scoring_confidence: 0.7,\\n    scoring_method_used: 'domain_fallback'\\n  };\\n}\\n\\nreturn { normalized: scoringResult };"
      },
      "id": "icp-response-processor-complete",
      "name": "ICP Response Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.normalized.icp_score}}",
              "rightValue": "70",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "score-based-routing-complete",
      "name": "Score-Based Routing V3.0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.unmappedFields.length}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-unknown-fields-complete",
      "name": "Check Unknown Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        740,
        620
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": ""
        },
        "table": {
          "__rl": true,
          "value": "tbl9cOmvkdcokyFmG",
          "mode": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{new Date().toISOString()}}",
            "unknown_fields": "={{$json.unmappedFields.join(', ')}}",
            "webhook_name": "kajabi",
            "original_payload": "={{JSON.stringify($json)}}",
            "mapping_success_rate": "={{$json.normalized.field_mapping_success_rate / 100}}",
            "reviewed": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webhook_name",
              "displayName": "webhook_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unknown_fields",
              "displayName": "unknown_fields",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "original_payload",
              "displayName": "original_payload",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mapping_success_rate",
              "displayName": "mapping_success_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "log-unknown-fields-complete",
      "name": "Log Unknown Fields",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NwWHGoH9nzgxGhBZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": ""
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": ""
        },
        "filterByFormula": "={{`{email} = '${$node[\"Smart Field Mapper\"].json.normalized.email}'`}}",
        "options": {}
      },
      "id": "airtable-search-complete",
      "name": "Airtable Search (Dynamic)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1060,
        640
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NwWHGoH9nzgxGhBZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Get the search results from Airtable\nconst searchResults = $input.first().json;\n\n// CRITICAL FIX: Check if the searchResults object has records property\nlet hasRecords = false;\nif (searchResults && searchResults.records && Array.isArray(searchResults.records) && searchResults.records.length > 0) {\n  hasRecords = true;\n} else if (searchResults && searchResults.id) {\n  // Sometimes Airtable returns the record directly\n  hasRecords = true;\n}\n\n// Get the normalized data from Smart Field Mapper\nconst normalizedData = $node[\"Smart Field Mapper\"].json;\n\nif (hasRecords) {\n  // Duplicate found\n  let existingRecord;\n  if (searchResults.records && searchResults.records.length > 0) {\n    existingRecord = searchResults.records[0];\n  } else {\n    existingRecord = searchResults;\n  }\n  \n  console.log('DUPLICATE FOUND:', existingRecord.id || existingRecord.getId || 'unknown-id');\n  \n  return {\n    duplicate: true,\n    duplicateCount: (existingRecord.fields?.duplicate_count || existingRecord.duplicate_count || 0) + 1,\n    recordId: existingRecord.id || existingRecord.getId,\n    ...normalizedData  // Pass through all data from Smart Field Mapper\n  };\n} else {\n  // No duplicate\n  console.log('NO DUPLICATE - Creating new record for:', normalizedData.normalized.email);\n  return {\n    duplicate: false,\n    duplicateCount: 0,\n    ...normalizedData  // Pass through all data from Smart Field Mapper\n  };\n}\n"
      },
      "id": "duplicate-handler-complete",
      "name": "Duplicate Handler (Dynamic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.duplicate}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-duplicate-complete",
      "name": "Route by Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        640
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": ""
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "duplicate_count": "={{$json.duplicateCount}}",
            "icp_score": "={{$json.normalized.icp_score || 0}}",
            "field_mapping_success_rate": "={{$json.normalized.field_mapping_success_rate}}",
            "created_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "id": "={{$json.recordId}}",
            "last_name": "={{$json.normalized.last_name}}",
            "phone_primary": "={{$json.normalized.phone_primary}}",
            "lead_status": "New",
            "reengagement_count": 0,
            "webhook_field_count": 0,
            "mapped_field_count": 0,
            "apollo_org_cost": 0,
            "apollo_person_cost": 0,
            "twilio_cost": 0,
            "claude_cost": 0,
            "total_processing_cost": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_primary",
              "displayName": "phone_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_type",
              "displayName": "phone_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "mobile",
                  "value": "mobile"
                },
                {
                  "name": "landline",
                  "value": "landline"
                },
                {
                  "name": "voip",
                  "value": "voip"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_enriched",
              "displayName": "phone_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_input",
              "displayName": "company_input",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_enriched",
              "displayName": "company_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_current",
              "displayName": "title_current",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_tier",
              "displayName": "icp_tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ultra",
                  "value": "Ultra"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Engaged",
                  "value": "Engaged"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interested_in_coaching",
              "displayName": "interested_in_coaching",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kajabi_id",
              "displayName": "kajabi_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_enriched",
              "displayName": "last_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent",
              "displayName": "sms_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent_time",
              "displayName": "sms_sent_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_clicked",
              "displayName": "sms_clicked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_click_time",
              "displayName": "sms_click_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opted_out",
              "displayName": "sms_opted_out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opt_out_time",
              "displayName": "sms_opt_out_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_booked",
              "displayName": "meeting_booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_breakdown",
              "displayName": "score_breakdown",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_date",
              "displayName": "scoring_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method",
              "displayName": "scoring_method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ai",
                  "value": "ai"
                },
                {
                  "name": "domain",
                  "value": "domain"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ready_for_sms",
              "displayName": "ready_for_sms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "should_enrich_phone",
              "displayName": "should_enrich_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reengagement_count",
              "displayName": "reengagement_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_activity",
              "displayName": "last_activity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "test_mode_record",
              "displayName": "test_mode_record",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "international_phone",
              "displayName": "international_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "duplicate_count",
              "displayName": "duplicate_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "routing",
              "displayName": "routing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "auto_qualify",
                  "value": "auto_qualify"
                },
                {
                  "name": "phase1_fail",
                  "value": "phase1_fail"
                },
                {
                  "name": "phase2_fail",
                  "value": "phase2_fail"
                },
                {
                  "name": "data_gaps",
                  "value": "data_gaps"
                },
                {
                  "name": "international",
                  "value": "international"
                },
                {
                  "name": "human_review",
                  "value": "human_review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Reviewed",
                  "value": "Reviewed"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_started",
              "displayName": "processing_started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_completed",
              "displayName": "processing_completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_attempted",
              "displayName": "enrichment_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_found",
              "displayName": "title_found",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_verified",
              "displayName": "company_verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_failed",
              "displayName": "enrichment_failed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Communications",
              "displayName": "Communications",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qualified_lead",
              "displayName": "qualified_lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "field_mapping_success_rate",
              "displayName": "field_mapping_success_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "normalization_version",
              "displayName": "normalization_version",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_webhook_data",
              "displayName": "raw_webhook_data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "validation_errors",
              "displayName": "validation_errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webhook_field_count",
              "displayName": "webhook_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mapped_field_count",
              "displayName": "mapped_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unknown_field_list",
              "displayName": "unknown_field_list",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_attempted",
              "displayName": "phase1_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_passed",
              "displayName": "phase1_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_attempted",
              "displayName": "phase2_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_passed",
              "displayName": "phase2_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_attempted",
              "displayName": "scoring_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method_used",
              "displayName": "scoring_method_used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "claude_ai",
                  "value": "claude_ai"
                },
                {
                  "name": "domain_fallback",
                  "value": "domain_fallback"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_org_cost",
              "displayName": "apollo_org_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_person_cost",
              "displayName": "apollo_person_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "twilio_cost",
              "displayName": "twilio_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "claude_cost",
              "displayName": "claude_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_processing_cost",
              "displayName": "total_processing_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_country_code",
              "displayName": "phone_country_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "requires_international_handling",
              "displayName": "requires_international_handling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_original",
              "displayName": "phone_original",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_recent",
              "displayName": "phone_recent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_validated",
              "displayName": "phone_validated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "airtable-upsert-complete",
      "name": "Airtable Upsert (Dynamic)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1640,
        480
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NwWHGoH9nzgxGhBZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{$json.normalized.email}}",
            "first_name": "={{$json.normalized.first_name}}",
            "last_name": "={{$json.normalized.last_name}}",
            "company_input": "={{$json.normalized.company}}",
            "title_current": "={{$json.normalized.title}}",
            "phone_primary": "={{$json.normalized.phone}}",
            "linkedin_url": "={{$json.normalized.linkedin_url}}",
            "interested_in_coaching": "={{$json.normalized.interested_in_coaching}}",
            "qualified_lead": "={{$json.normalized.qualified_lead}}",
            "lead_status": "New",
            "created_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "icp_score": "={{$json.normalized.icp_score || 0}}",
            "icp_tier": "={{$json.normalized.icp_tier || 'Archive'}}",
            "field_mapping_success_rate": "={{$json.normalized.field_mapping_success_rate}}",
            "reengagement_count": 0,
            "duplicate_count": 0,
            "webhook_field_count": 0,
            "mapped_field_count": 0,
            "apollo_org_cost": 0,
            "apollo_person_cost": 0,
            "twilio_cost": 0,
            "claude_cost": 0,
            "total_processing_cost": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_primary",
              "displayName": "phone_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_type",
              "displayName": "phone_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "mobile",
                  "value": "mobile"
                },
                {
                  "name": "landline",
                  "value": "landline"
                },
                {
                  "name": "voip",
                  "value": "voip"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_enriched",
              "displayName": "phone_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_input",
              "displayName": "company_input",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_enriched",
              "displayName": "company_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_current",
              "displayName": "title_current",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_tier",
              "displayName": "icp_tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ultra",
                  "value": "Ultra"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Engaged",
                  "value": "Engaged"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interested_in_coaching",
              "displayName": "interested_in_coaching",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kajabi_id",
              "displayName": "kajabi_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_enriched",
              "displayName": "last_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent",
              "displayName": "sms_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent_time",
              "displayName": "sms_sent_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_clicked",
              "displayName": "sms_clicked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_click_time",
              "displayName": "sms_click_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opted_out",
              "displayName": "sms_opted_out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opt_out_time",
              "displayName": "sms_opt_out_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_booked",
              "displayName": "meeting_booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_breakdown",
              "displayName": "score_breakdown",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_date",
              "displayName": "scoring_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method",
              "displayName": "scoring_method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ai",
                  "value": "ai"
                },
                {
                  "name": "domain",
                  "value": "domain"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ready_for_sms",
              "displayName": "ready_for_sms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "should_enrich_phone",
              "displayName": "should_enrich_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reengagement_count",
              "displayName": "reengagement_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_activity",
              "displayName": "last_activity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "test_mode_record",
              "displayName": "test_mode_record",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "international_phone",
              "displayName": "international_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "duplicate_count",
              "displayName": "duplicate_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "routing",
              "displayName": "routing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "auto_qualify",
                  "value": "auto_qualify"
                },
                {
                  "name": "phase1_fail",
                  "value": "phase1_fail"
                },
                {
                  "name": "phase2_fail",
                  "value": "phase2_fail"
                },
                {
                  "name": "data_gaps",
                  "value": "data_gaps"
                },
                {
                  "name": "international",
                  "value": "international"
                },
                {
                  "name": "human_review",
                  "value": "human_review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Reviewed",
                  "value": "Reviewed"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_started",
              "displayName": "processing_started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_completed",
              "displayName": "processing_completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_attempted",
              "displayName": "enrichment_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_found",
              "displayName": "title_found",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_verified",
              "displayName": "company_verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_failed",
              "displayName": "enrichment_failed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Communications",
              "displayName": "Communications",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qualified_lead",
              "displayName": "qualified_lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "field_mapping_success_rate",
              "displayName": "field_mapping_success_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "normalization_version",
              "displayName": "normalization_version",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_webhook_data",
              "displayName": "raw_webhook_data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "validation_errors",
              "displayName": "validation_errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webhook_field_count",
              "displayName": "webhook_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mapped_field_count",
              "displayName": "mapped_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unknown_field_list",
              "displayName": "unknown_field_list",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_attempted",
              "displayName": "phase1_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_passed",
              "displayName": "phase1_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_attempted",
              "displayName": "phase2_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_passed",
              "displayName": "phase2_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_attempted",
              "displayName": "scoring_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method_used",
              "displayName": "scoring_method_used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "claude_ai",
                  "value": "claude_ai"
                },
                {
                  "name": "domain_fallback",
                  "value": "domain_fallback"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_org_cost",
              "displayName": "apollo_org_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_person_cost",
              "displayName": "apollo_person_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "twilio_cost",
              "displayName": "twilio_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "claude_cost",
              "displayName": "claude_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_processing_cost",
              "displayName": "total_processing_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_country_code",
              "displayName": "phone_country_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "requires_international_handling",
              "displayName": "requires_international_handling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_original",
              "displayName": "phone_original",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_recent",
              "displayName": "phone_recent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_validated",
              "displayName": "phone_validated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "airtable-create-complete",
      "name": "Airtable Create (Dynamic)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1660,
        760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NwWHGoH9nzgxGhBZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Archive Low Scores - Phase 2B\n// Processes leads with ICP scores below qualification threshold\n\nconst leadData = $json.normalized;\n\n// Log archival reason\nconsole.log(`Archiving lead ${leadData.email} - ICP Score: ${leadData.icp_score}, Tier: ${leadData.icp_tier}`);\n\n// Set archival metadata\nconst archivedLead = {\n  ...leadData,\n  archived_date: new Date().toISOString(),\n  archived_reason: 'icp_score_below_threshold',\n  routing: 'archive',\n  processing_status: 'Archived',\n  processing_completed: new Date().toISOString()\n};\n\n// Return processed data for Airtable storage\nreturn { normalized: archivedLead };"
      },
      "id": "archive-low-scores-complete",
      "name": "Archive Low Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        240
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{$json.normalized.email}}",
            "first_name": "={{$json.normalized.first_name}}",
            "last_name": "={{$json.normalized.last_name}}",
            "company_input": "={{$json.normalized.company}}",
            "title_current": "={{$json.normalized.pdl_job_title || $json.normalized.title}}",
            "phone_primary": "={{$json.normalized.phone}}",
            "linkedin_url": "={{$json.normalized.pdl_linkedin_url || $json.normalized.linkedin_url}}",
            "interested_in_coaching": "={{$json.normalized.interested_in_coaching}}",
            "qualified_lead": "={{$json.normalized.qualified_lead}}",
            "lead_status": "New",
            "created_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "icp_score": "={{$json.normalized.icp_score}}",
            "icp_tier": "={{$json.normalized.icp_tier}}",
            "score_breakdown": "={{$json.normalized.score_reasoning}}",
            "scoring_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "scoring_method_used": "={{$json.normalized.scoring_method_used}}",
            "processing_status": "Archived",
            "field_mapping_success_rate": "={{$json.normalized.field_mapping_success_rate}}"
          }
        },
        "options": {}
      },
      "id": "archive-to-airtable-complete",
      "name": "Archive to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        240
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NwWHGoH9nzgxGhBZ",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Kajabi Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key (Dynamic)": {
      "main": [
        [
          {
            "node": "Smart Field Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Field Mapper": {
      "main": [
        [
          {
            "node": "PDL Person Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Unknown Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Enrichment": {
      "main": [
        [
          {
            "node": "PDL Person Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Processor": {
      "main": [
        [
          {
            "node": "PDL Person Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Routing": {
      "main": [
        [
          {
            "node": "OpenAI ICP Scoring V3.0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Human Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI ICP Scoring V3.0": {
      "main": [
        [
          {
            "node": "ICP Response Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Human Review Queue": {
      "main": [
        [
          {
            "node": "Check Unknown Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP Response Processor": {
      "main": [
        [
          {
            "node": "Score-Based Routing V3.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score-Based Routing V3.0": {
      "main": [
        [
          {
            "node": "Check Unknown Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Low Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Unknown Fields": {
      "main": [
        [
          {
            "node": "Log Unknown Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Search (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unknown Fields": {
      "main": [
        [
          {
            "node": "Airtable Search (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Search (Dynamic)": {
      "main": [
        [
          {
            "node": "Duplicate Handler (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Handler (Dynamic)": {
      "main": [
        [
          {
            "node": "Route by Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Duplicate": {
      "main": [
        [
          {
            "node": "Airtable Upsert (Dynamic)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Create (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Low Scores": {
      "main": [
        [
          {
            "node": "Archive to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "versionId": "977842c1-8e6c-40f7-ba80-a5631a725fcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a636351bc32ed33e9cea59b76d232bd10caf6926c3e9fa80d47901eda407040"
  },
  "id": "3EWc1UqlixpoorsO",
  "tags": [],
  "exportMetadata": {
    "exportedAt": "2025-08-08T14:24:26.489Z",
    "exportedBy": "real-n8n-export.sh",
    "sourceFile": "PRIORITY-2-SECONDARY-uysp-setup-verification-v1-PROJECT-20250808_135816.json",
    "targetWorkflowId": "workflow_id_4",
    "targetWorkflowName": "UYSP-PRE-COMPLIANCE-TESTING-ACTIVE",
    "backupStrategy": "local-copy"
  }
}