workflows/backups/PRIORITY-2-SECONDARY-UYSP-Health-Monitor-20250829_173837.json
{
  "createdAt": "2025-08-21T21:39:20.389Z",
  "updatedAt": "2025-08-21T23:57:38.000Z",
  "id": "wNvsJojWTr0U2ypz",
  "name": "UYSP-Health-Monitor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Schedule (15m)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -560,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "__rl": true,
          "value": "tblYUvhGADerbD8EO",
          "mode": "id"
        },
        "options": {}
      },
      "id": "list",
      "name": "Airtable List (All)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -320,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst stuckProcessing = items.filter(i => i.json.fields?.['Processing Status'] === 'Processing').length;\nconst queued = items.filter(i => i.json.fields?.['Processing Status'] === 'Queued').length;\nconst issues = [];\nif (stuckProcessing > 100) issues.push(`${stuckProcessing} leads stuck in Processing >2h`);\nif (queued > 500) issues.push(`${queued} leads queued > 1h`);\nreturn [{ json: { health_status: issues.length ? 'CRITICAL' : 'HEALTHY', issues, queued, stuckProcessing, timestamp: now.toISOString() } }];"
      },
      "id": "chk",
      "name": "Check Thresholds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "ignoreCase": true
          },
          "string": [
            {
              "value1": "={{$json.health_status}}",
              "operation": "equal",
              "value2": "CRITICAL"
            }
          ]
        },
        "options": {}
      },
      "id": "if",
      "name": "If Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097CHUHNTG",
          "mode": "list",
          "cachedResultName": "uysp-error-handler"
        },
        "text": "🚨 UYSP Health Alert: {{$json.issues && $json.issues.length ? $json.issues.join(', ') : 'No details provided'}} | Queued: {{$json.queued || 0}} | Processing: {{$json.stuckProcessing || 0}} | {{$json.timestamp || $now}}",
        "otherOptions": {}
      },
      "id": "alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        432,
        -144
      ],
      "webhookId": "fef24bba-d1f0-4d52-ab93-8b28dafde98f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 0 9 * * *"
            }
          ]
        }
      },
      "id": "cronDaily",
      "name": "Daily 9AM EST",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -560,
        48
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6cU9HecxLpgT0P",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblYUvhGADerbD8EO",
          "mode": "id"
        },
        "options": {}
      },
      "id": "daily",
      "name": "Daily Stats Query",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -320,
        48
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst high = items.filter(i => (i.json.fields?.['ICP Score'] || 0) >= 70).length;\nconst smsEligible = items.filter(i => i.json.fields?.['SMS Eligible'] === true).length;\nconst failed = items.filter(i => i.json.fields?.['Processing Status'] === 'Failed').length;\nconst byDomain = new Map();\nitems.forEach(i => { const d = i.json.fields?.['Company Domain']; if (d) byDomain.set(d, (byDomain.get(d)||0)+1); });\nconst top = [...byDomain.entries()].sort((a,b)=>b[1]-a[1]).slice(0,3).map(([d,c])=>`${d} (${c})`).join(', ');\nconst report = `🎯 Daily Lead Report - ${new Date().toDateString()}\\n├── Total Processed: ${items.length}\\n├── High-Value Leads: ${high} (Score ≥70)\\n├── SMS Eligible: ${smsEligible}\\n├── Failed Processing: ${failed}\\n└── Top Domains: ${top}`;\nreturn [{ json: { report } }];"
      },
      "id": "fmt",
      "name": "Format Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        48
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097CHUHNTG",
          "mode": "list",
          "cachedResultName": "uysp-error-handler"
        },
        "text": "{{$json.report || 'Daily report generated, but no details found.'}}",
        "otherOptions": {}
      },
      "id": "post",
      "name": "Slack Daily Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        160,
        48
      ],
      "webhookId": "3837fa97-13dc-4714-810a-5c9179137ee8",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule (15m)": {
      "main": [
        [
          {
            "node": "Airtable List (All)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable List (All)": {
      "main": [
        [
          {
            "node": "Check Thresholds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Thresholds": {
      "main": [
        [
          {
            "node": "If Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Critical": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Daily 9AM EST": {
      "main": [
        [
          {
            "node": "Daily Stats Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Stats Query": {
      "main": [
        [
          {
            "node": "Format Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Report": {
      "main": [
        [
          {
            "node": "Slack Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a6d4d775-7017-48c5-8f64-72189589cd92",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-21T22:00:01.738Z",
      "updatedAt": "2025-08-21T22:00:01.738Z",
      "role": "workflow:owner",
      "workflowId": "wNvsJojWTr0U2ypz",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-08-29T22:42:11.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
