workflows/backups/PRIORITY-2-SECONDARY-The-AI-Linkedin-Nurturing-Agent-20250910_213406.json
{
  "createdAt": "2025-09-09T23:35:48.280Z",
  "updatedAt": "2025-09-09T23:35:48.280Z",
  "id": "dlxTg3urBtbm2xyS",
  "name": "The AI Linkedin Nurturing Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        208
      ],
      "id": "a3aacf34-abf2-4c58-9048-062d2485ae31",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xdpXHpPJsMqn-tQUSlLLLha94T8WoJHXa31aOjhjmQk",
          "mode": "list",
          "cachedResultName": "Linkedin_leads_follows",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xdpXHpPJsMqn-tQUSlLLLha94T8WoJHXa31aOjhjmQk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xdpXHpPJsMqn-tQUSlLLLha94T8WoJHXa31aOjhjmQk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "lead status",
              "lookupValue": "open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        208
      ],
      "id": "712101e4-ab0c-4dfd-b4ea-5e6ad3b42ba9",
      "name": "Retrieve_lead",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        208
      ],
      "id": "b0b0f1d0-1ced-4b65-8b6c-f53d043fa3b0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1264,
        240
      ],
      "id": "3b555595-8527-4d32-ad16-c4872e7b64c5",
      "name": "Wait",
      "webhookId": "773108ba-9d1f-469e-b0f5-c24e552d26d2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        528
      ],
      "id": "6a57f4de-0824-42ad-a997-1bcf70e2043c",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xdpXHpPJsMqn-tQUSlLLLha94T8WoJHXa31aOjhjmQk",
          "mode": "list",
          "cachedResultName": "Linkedin_leads_follows",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xdpXHpPJsMqn-tQUSlLLLha94T8WoJHXa31aOjhjmQk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xdpXHpPJsMqn-tQUSlLLLha94T8WoJHXa31aOjhjmQk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "senderId": "={{ $('Loop Over Items').item.json.senderId }}",
            "first name": "={{ $('getLinkedinProfileInfos').item.json.first_name }}",
            "your reply date": "={{ $now.format('yyyy-MM-dd') }}",
            "follow up history": "={{ $('Retrieve_lead').item.json['follow up history'] + \" [\" + $now.format('yyyy-MM-dd') + \"] follow up sent \" }}",
            "Last Message Sent to the Prospect": "={{ $json.output.message }}",
            "headline": "={{ $('getLinkedinProfileInfos').item.json.headline }}",
            "summary": "={{ $('getLinkedinProfileInfos').item.json.summary }}",
            "company linkedin url": "={{ $('getLinkedinProfileInfos').item.json.experiences[0].company_linkedin_profile_url }}",
            "company name": "={{ $('getLinkedinProfileInfos').item.json.experiences[0].company }}"
          },
          "matchingColumns": [
            "senderId"
          ],
          "schema": [
            {
              "id": "lead status",
              "displayName": "lead status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "senderId",
              "displayName": "senderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat id",
              "displayName": "chat id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "your reply date",
              "displayName": "your reply date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prospect reply date",
              "displayName": "prospect reply date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow up history",
              "displayName": "follow up history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Message Received from the Prospect",
              "displayName": "Last Message Received from the Prospect",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Message Sent to the Prospect",
              "displayName": "Last Message Sent to the Prospect",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company name",
              "displayName": "company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company linkedin url",
              "displayName": "company linkedin url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2288,
        240
      ],
      "id": "4c62e3ad-43b7-442d-ada2-dbd5cccd07aa",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "content": "### This workflow that run every day will check all leads that needs a follow up, see if it the right time to send them a follow up based on today's date and a follow up schedule, craft the email and send them a personalized response based on the query",
        "height": 80,
        "width": 2640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7d47344f-c4f8-4f46-81b8-b1bfd6ac7a54",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Runs everyday",
        "height": 220,
        "width": 160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        144
      ],
      "id": "6a92fe70-e407-4dab-8fee-9962b2d1ba80",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Retrieve all leads that needs follow up and handle them one by one",
        "height": 220,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        144
      ],
      "id": "5705a107-1ae0-4f22-8665-28fd2f7abcec",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2512,
        240
      ],
      "id": "95ca5f4b-8c5e-4153-83a6-0017d4e0ff17",
      "name": "Wait1",
      "webhookId": "65843306-2c70-4ab8-ab60-920859a8b03d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d7baac24-31e9-4fd0-89aa-6bab15b20d02",
              "leftValue": "={{ $json.message.content == \"NO\" }}",
              "rightValue": "NO",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1040,
        240
      ],
      "id": "ba7ccd88-354a-4025-98b7-4ea60a925d3a",
      "name": "Filter_if_follow_up"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Follow-up history: {{ $('Retrieve_lead').item.json['follow up history'] }}\n\nDate of Last Message Received from the Prospect: {{ $('Retrieve_lead').item.json['prospect reply date'] }}\n\nDate of Last Message Sent to the Prospect: {{ $('Retrieve_lead').item.json['your reply date'] }}\n\nDate of today: {{ $now }}"
            },
            {
              "content": "=You are an expert nudge system designed to determine whether a follow-up is due for a prospect based on their communication history and the specified follow-up strategy.\n\nGiven the following information:\n\nFollow-up History: [List past follow-up attempts, including dates]\n\nDate of Last Message Received from the Prospect: [Exact date of the last response]\n\nDate of Last Message Sent to the Prospect: [Exact date of the last message sent]\n\nToday's Date: {{ $now }}\n\nFollow-up Strategy:\n\nFirst follow-up: 3 days after the initial contact.\n\nSecond follow-up: 7 days after the first follow-up.\n\nThird follow-up: 14 days after the second follow-up.\n\nSubsequent follow-ups occur at increasing intervals.\n\nTask:\nBased on the provided communication history and follow-up strategy, determine if a follow-up is due today.\n\nResponse Options:\n\nReply \"YES\" if a follow-up is due.\n\nReply \"NO\" if no follow-up is necessary yet.\n\nGive me only the answer \"YES\" or \"NO\"",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        720,
        240
      ],
      "id": "e503822f-b2e0-4846-9fcc-55933d21fca2",
      "name": "Check_follow_up_schedule"
    },
    {
      "parameters": {
        "content": "### Based on the follow up history and today's date, the AI will know if the lead need a follow up or not",
        "height": 200,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        208
      ],
      "id": "9d2c87bb-10a6-4ed1-8dfc-2781ecfd3b97",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### The agent will craft and send a personalized linkedin message based on the user profile",
        "height": 200,
        "width": 740,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        208
      ],
      "id": "143153ab-e0d5-4ea0-9c86-27bcba9824c7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1984,
        528
      ],
      "id": "362a8c60-f401-4731-92e0-0ffdd1b4ff16",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"message\": \"linkedin message content\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2288,
        528
      ],
      "id": "99a3d5ec-5ab5-442f-9483-c30ae724e9d7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a expert at doing linkedin follow-up.\nMake sure to always send a linkedin message using the tool \"Linkedin_reply_follow_up\" and then send me an output. Each lead should have a call to the tool before giving an ouput for this specific lead.\n\nObjective:\nCraft a highly personalized follow-up linkedin message that:\n\nBuilds on the last two linkedin messages (provided as input).\n\nAdapts based on the follow-up history (provided as input).\n\nUses prospect company insights (if you can find information about the company) to personalize the response.\n\nIf you need to find information to give better response, look at my website\n\"https://repliq.co\" if needed to hyper personalized.\n\nFocuses on providing value rather than pushing for a meeting.\n\nSends the linkedin message using Linkedin's \"Reply Follow-Up\" tool, ensuring it remains within the same thread.\n\nInputs Required:\n1️⃣ Last Two Linkedin Messages (Provided as Input)\n\nProspect’s Last Message: {{ $('Loop Over Items').item.json['Last Message Received from the Prospect'] }}\n\nProspect's company name: {{ $json.experiences[0].company }} \n\nYour Unanswered Reply: {{ $('Loop Over Items').item.json['Last Message Sent to the Prospect'] }}\n(Make sure that this reply is not the same follow up you are going to send, it should drive the prospect to respond with more value, draft a completely different lnkedin each time)\n\nYour website: https://repliq.co, use it to give better response\n\n2️⃣ Follow-Up History (Provided as Input)\n\n{{ $('Loop Over Items').item.json['follow up history'] }}\n\nDate of today: {{ $now }}\n\n3️⃣ Prospect’s company name (Provided as Input)\n\n{{ $json.experiences[0].company }}\n\n4] Prospect Name (Provided as Input)\n\n{{ $json.first_name }}\n\n5] Prospect Headline (Provided as Input)\n\n{{ $json.headline }}\n\n6] Prospect summary (Provided as Input)\n\n{{ $json.summary }}\n\nWorkflow Steps:\nStep 1. Analyze linkedin conversation Context\nUnderstand the prospect’s last message to ensure the follow-up feels relevant. For that, use the information on this prompt and the language model. Don't use a tool as first step.\n\nIdentify the main topic of your previous reply that was unanswered.\n\nIf multiple follow-ups have been sent, adjust the tone (e.g., if it’s the third follow-up, make it softer and more value-driven).\n\nStep 2. Enrich with headline, summary, company name Insights (If Applicable) or my website (If relevant)\nIf you have access to {{ $json.experiences[0].company }} information, extract:\n\nIndustry\n\nServices/products mentioned\n\nUse these insights to make the follow-up more relevant to their business.\n\nStep 3. Generate the Follow-Up Linkedin message (plain Format with markdown)\nMain Focus: Provide additional context, insights, or useful information related to the unanswered message.\n\nNo Hard Sell: Avoid requesting a meeting or call.\n\nUse his/her name for greetings.\n\nEngagement Strategy: Encourage a response by highlighting why the topic is important to them. (but only if the previous follow up didn't have insight on this already)\n\nKeep the response conscise and to the point based on last exchange, since its a linkedin conversation, it should be really short. Use spacing. Max 2-3 short paragraphs.\n\nDon't exagerate on terms, keep it conversationnal, not getting too excited, its just an response to a question or information.\n\nDon't give me the subject, just send the content of the linkedin message in plain format including basic styling markdown.\n\nRemove all politness text, Don't thank them for reaching out or hope that they are being well or looking forward to respond since its already a thread in progress there is no need for such formality anymore. Just signing is enough with the content.\n\nDon't Sign.\n\nFocus on making the message like part of a conversation, light and following.\n\nAlways use the linkedin tool to send the linkedin before giving me the output.\nAlways have the linkedin body content only. \n\nGive me only the content of the linkedin using plain format with markdown.\n\nCustomization Options\nValue-Driven Content: Adapt insights to provide value.\n\nPersonalization Depth: Dynamically include or exclude linkedin-profile-based context depending on company name/ headline/summary and \"https://repliq.co\".\n\nStep 4. Send Linkedin message via the Tool \"Linkedin_reply_follow_up\" Tool\nUse n8n’s Linkedin integration to send this linkedin message as a reply within the same chat.\n\nEnsure the linkedin message remains properly threaded for context by using the chat id.\n\nRequired Inputs for Sending the Linkedin message:\n\nchatId: {{ $('Retrieve_lead').item.json['chat id'] }} (to reply to the correct message)\n\ntext: The content of the linkedin message to send to the prospect\n\nStep 5. Generate the linkedin content as a string output in plain format with markdown. Do not include any explanations, metadata, or additional formatting instructions—only return the linkedin message body as a raw string containing valid text. Give it to me in a JSON.\nSuch as \n{\n  \"message\": \"Linkedin message content to put here as output\"\n}\n\nAlways follow the steps:\n1- Analyze linkedin conversation context\n2- Enrich the conversation with insight\n3- Generate the Follow-Up Linkedin message\n4- Send Linkedin message via the Tool \"Linkedin_reply_follow_up\" sending linkedin message using http request with unipile is a mandatory action to perform\n5- Generate the linkedin content as a string output"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1920,
        240
      ],
      "id": "6a23f15a-775c-4f4d-b01d-9e0a5880cf72",
      "name": "Expert follow up linkedin"
    },
    {
      "parameters": {
        "url": "=https://nubela.co/proxycurl/api/v2/linkedin?linkedin_profile_url={{ $('Loop Over Items').item.json.linkedinUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        272
      ],
      "id": "d39c927a-1bf8-4655-bcdc-4ed61398fb3e",
      "name": "getLinkedinProfileInfos",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "Retrieve information from the linkedin profile",
        "height": 200,
        "width": 200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        208
      ],
      "id": "beb0857a-d1d8-41fb-9694-82ea9acd2f97",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "toolDescription": "Always call this to send a follow up linkedin message to the prospect after crafting the response.",
        "method": "POST",
        "url": "=https://[YOU_UNIPILE_URL]/api/v1/chats/{{ $('Loop Over Items').item.json['chat id'] }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "account_id",
              "valueProvider": "fieldValue",
              "value": "[YOUR_ACCOUNT_ID]"
            },
            {
              "name": "text"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2128,
        528
      ],
      "id": "d99d6525-7447-4825-8310-64ee02ba5f13",
      "name": "Linkedin_reply_follow_up"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Retrieve_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve_lead": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check_follow_up_schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "getLinkedinProfileInfos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Expert follow up linkedin",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_if_follow_up": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_follow_up_schedule": {
      "main": [
        [
          {
            "node": "Filter_if_follow_up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Expert follow up linkedin",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Expert follow up linkedin",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Expert follow up linkedin": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getLinkedinProfileInfos": {
      "main": [
        [
          {
            "node": "Expert follow up linkedin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expert follow up linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin_reply_follow_up": {
      "ai_tool": [
        [
          {
            "node": "Expert follow up linkedin",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "da95e5e0-c140-4e0e-bf14-8e9e947b116e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-09T23:35:48.283Z",
      "updatedAt": "2025-09-09T23:35:48.283Z",
      "role": "workflow:owner",
      "workflowId": "dlxTg3urBtbm2xyS",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
