workflows/backups/PRIORITY-2-SECONDARY-UYSP-Click-Proxy-20250902_113718.json
{
  "createdAt": "2025-08-29T18:33:25.048Z",
  "updatedAt": "2025-08-29T18:33:38.886Z",
  "id": "sXRz0tXppnr1mmHu",
  "name": "UYSP-Click-Proxy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook",
      "name": "Click Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "click/:token",
        "options": {}
      },
      "webhookId": "click-proxy-2025"
    },
    {
      "id": "parse",
      "name": "Parse Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ],
      "parameters": {
        "jsCode": "const token = $json.params?.token || '';\nreturn { json: { token, leadId: 'recjRGAiCez377jWm', targetUrl: 'https://calendly.com/d/cm5d-w79-8xp/sales-coaching-strategy-call-rr' }};"
      }
    },
    {
      "id": "update",
      "name": "Update Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        500,
        200
      ],
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.leadId }}",
            "SMS Status": "Clicked"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "id": "redirect",
      "name": "Redirect",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "parameters": {
        "options": {
          "responseCode": 302,
          "responseHeaders": {
            "Location": "={{ $json.targetUrl }}"
          }
        }
      }
    }
  ],
  "connections": {
    "Click Webhook": {
      "main": [
        [
          {
            "node": "Parse Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Token": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Redirect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "6972f0e9-3744-4dcf-b4eb-04fee0cc84b3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-29T18:33:25.049Z",
      "updatedAt": "2025-08-29T18:33:25.049Z",
      "role": "workflow:owner",
      "workflowId": "sXRz0tXppnr1mmHu",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-01T22:04:37.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
