workflows/backups/PRIORITY-2-SECONDARY-W1-Main-Claude-4-Sonnet-phase-2-refactor-20250910_220707.json
{
  "createdAt": "2025-08-16T19:18:58.664Z",
  "updatedAt": "2025-09-03T19:17:19.000Z",
  "id": "O4ThzOxDGpvw3bmx",
  "name": "W1-Main-Claude-4-Sonnet-phase-2-refactor",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "/webhook/uysp-lead-intake",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "40beba6e-0ff2-46a0-a16d-86a42ca23103",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -100,
        -140
      ],
      "webhookId": "webhook-uysp-lead-intake"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst normalized = {};\nconst unknownFields = [];\nconst mappedFields = new Set();\n\nconst fieldMappings = {\n  email: ['email', 'Email', 'EMAIL', 'email_address', 'emailAddress', 'e-mail', 'contact_email', 'EmailAddress', 'user_email', 'primary_email'],\n  phone: ['phone', 'Phone', 'PHONE', 'phone_number', 'phoneNumber', 'mobile', 'cellphone', 'telephone', 'cell', 'mobile_number', 'contact_phone'],\n  first_name: ['first_name', 'firstName', 'fname', 'given_name', 'forename', 'FirstName', 'first', 'f_name'],\n  last_name: ['last_name', 'lastName', 'lname', 'surname', 'family_name', 'LastName', 'last', 'l_name'],\n  company: ['company', 'Company', 'company_name', 'companyName', 'organization', 'org', 'business', 'employer'],\n  title: ['title', 'Title', 'job_title', 'jobTitle', 'position', 'role', 'job_role', 'designation'],\n  source_form: ['source_form', 'form_name', 'formName', 'source', 'form_id', 'lead_source', 'form'],\n  interested_in_coaching: ['interested_in_coaching', 'coaching_interest', 'wants_coaching', 'coaching', 'interest_coaching'],\n  linkedin_url: ['linkedin_url', 'linkedin', 'linkedinUrl', 'linkedin_profile', 'linkedIn', 'linkedin_link'],\n  request_id: ['request_id', 'requestId', 'request', 'id', 'tracking_id', 'unique_id']\n};\n\nfor (const [normalizedKey, variations] of Object.entries(fieldMappings)) {\n  for (const variation of variations) {\n    if (input[variation] !== undefined && input[variation] !== null) {\n      normalized[normalizedKey] = input[variation];\n      mappedFields.add(variation);\n      break;\n    }\n  }\n}\n\nfor (const [key, value] of Object.entries(input)) {\n  if (!mappedFields.has(key) && value !== null && value !== undefined) {\n    unknownFields.push({ field: key, value: value, timestamp: new Date().toISOString() });\n  }\n}\n\nif (normalized.phone) {\n  normalized.phone = normalized.phone.replace(/\\D/g, '').replace(/^1/, '').replace(/^(\\d{3})(\\d{3})(\\d{4})$/, '+1$1$2$3');\n}\n\nif (normalized.interested_in_coaching !== undefined) {\n  const val = String(normalized.interested_in_coaching).toLowerCase();\n  normalized.interested_in_coaching = ['true', '1', 'yes', 'y'].includes(val);\n}\n\nconst crypto = require('crypto');\nnormalized.idempotency_key = crypto.createHash('sha256').update((normalized.email || '') + new Date().toDateString()).digest('hex').substring(0, 16);\n\nreturn [{\n  json: {\n    normalized,\n    unknownFields,\n    originalFieldCount: Object.keys(input).length,\n    mappedFieldCount: mappedFields.size,\n    captureRate: (mappedFields.size / Object.keys(input).length * 100).toFixed(2)\n  }\n}];"
      },
      "id": "d66e7125-840c-471b-8e29-cc4cf25d3f80",
      "name": "Smart Field Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "const MAX_DAILY_SPEND = 50;\nconst todaySpend = 0; // Would come from Airtable/variables in production\n\nif (todaySpend >= MAX_DAILY_SPEND) {\n  return [{\n    json: {\n      ...($json.normalized || {}),\n      enrichment_skipped: true,\n      reason: 'daily_budget_exceeded'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...($json.normalized || {}),\n    enrichment_allowed: true,\n    remaining_budget: MAX_DAILY_SPEND - todaySpend,\n    feature_flags: {\n      enrichment_enabled: true,\n      pdl_enabled: true,\n      hunter_enabled: true,\n      dropcontact_enabled: true\n    }\n  }\n}];"
      },
      "id": "e90155a6-e2c6-423e-a1c9-d4d2f7719908",
      "name": "Budget Gate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -140
      ]
    },
    {
      "parameters": {
        "workflowId": "MrnlIXtiy2i40jOi",
        "options": {},
        "waitForSubWorkflow": true,
        "mode": "once"
      },
      "id": "351961d1-dc74-4e0e-8633-6b54d5760282",
      "name": "Execute W2: Enrichment",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        560,
        -140
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "7U5RD8oMQ1joqQIz",
        "options": {},
        "waitForSubWorkflow": true,
        "mode": "once"
      },
      "id": "5f97e328-15dd-4000-8df6-c031d7b60745",
      "name": "Execute W3: Scoring",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        -140
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "Pogwi8hP31NTKZQo",
        "options": {},
        "waitForSubWorkflow": true,
        "mode": "once"
      },
      "id": "e0bd79c5-c183-4138-829b-cb8f8c4bead8",
      "name": "Execute W4: Persistence",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1440,
        -140
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge enrichment result with normalized data\nconst items = $input.all();\nconst normalizedData = items.find(item => item.json.normalized)?.json || {};\nconst enrichmentData = items.find(item => item.json.enriched !== undefined)?.json || {};\n\n// Handle case where enrichment was skipped\nif (normalizedData.enrichment_skipped) {\n  return [{\n    json: {\n      ...normalizedData,\n      enriched: {},\n      enrichment_status: 'skipped_budget',\n      ready_for_scoring: true\n    }\n  }];\n}\n\n// Merge normalized and enriched data\nconst merged = {\n  ...normalizedData.normalized,\n  ...enrichmentData.enriched,\n  enrichment_status: enrichmentData.status || 'unknown',\n  enrichment_costs: enrichmentData.costs || {},\n  enrichment_path: enrichmentData.enrichment_path || 'none',\n  ready_for_scoring: true\n};\n\nreturn [{\n  json: merged\n}];"
      },
      "id": "fe5784c8-c9bc-471c-8bed-2d3707dd7307",
      "name": "Merge Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge scoring result with lead data\nconst items = $input.all();\nconst leadData = items.find(item => item.json.ready_for_scoring)?.json || {};\nconst scoringData = items.find(item => item.json.qualified_lead !== undefined)?.json || {};\n\n// Create complete lead record\nconst completeRecord = {\n  ...leadData,\n  qualified_lead: scoringData.qualified_lead || false,\n  lead_score: scoringData.lead_score || 0,\n  qualification_reasons: scoringData.qualification_reasons || [],\n  routing_decision: scoringData.routing_decision || 'nurture',\n  confidence_score: scoringData.confidence_score || 0,\n  ready_for_persistence: true,\n  processing_timestamp: new Date().toISOString()\n};\n\nreturn [{\n  json: completeRecord\n}];"
      },
      "id": "7beef54b-fb55-43eb-ae9a-41391d224b4c",
      "name": "Merge Scoring Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process final persistence result\nconst items = $input.all();\nconst leadRecord = items.find(item => item.json.ready_for_persistence)?.json || {};\nconst persistenceData = items.find(item => item.json.airtable_record_id)?.json || {};\n\n// Create final processing result\nconst finalResult = {\n  status: 'success',\n  lead_id: persistenceData.airtable_record_id || null,\n  execution_id: $execution.id || 'unknown',\n  qualified_lead: leadRecord.qualified_lead || false,\n  routing_decision: leadRecord.routing_decision || 'nurture',\n  enrichment_status: leadRecord.enrichment_status || 'none',\n  processing_time: new Date().toISOString(),\n  field_capture_rate: leadRecord.captureRate || '0',\n  costs: {\n    enrichment: leadRecord.enrichment_costs?.total || 0,\n    total: (leadRecord.enrichment_costs?.total || 0)\n  },\n  debug: {\n    unknown_fields_count: leadRecord.unknownFields?.length || 0,\n    original_fields: leadRecord.originalFieldCount || 0,\n    mapped_fields: leadRecord.mappedFieldCount || 0\n  }\n};\n\nreturn [{\n  json: finalResult\n}];"
      },
      "id": "01693963-8c5f-46ca-aa32-afb7b34feb30",
      "name": "Prepare Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        -140
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json.error || {};\n\n// Log unknown fields to Airtable if available\nconst unknownFields = $json.unknownFields || [];\nif (unknownFields.length > 0) {\n  console.log('Unknown fields detected:', unknownFields);\n}\n\nreturn [{\n  json: {\n    status: 'error',\n    error_message: error.message || 'Unknown error in workflow execution',\n    error_node: error.node || 'Unknown',\n    error_details: error.details || 'No additional details',\n    execution_id: $execution.id || 'unknown',\n    timestamp: new Date().toISOString(),\n    fallback_action: 'logged_for_manual_review',\n    partial_data: {\n      field_capture_rate: $json.captureRate || '0',\n      unknown_fields_count: unknownFields.length,\n      normalized_email: $json.normalized?.email || null\n    }\n  }\n}];"
      },
      "id": "f327543f-9102-4c9f-8f9c-caa08ef25d1a",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "aaaad83a-6fbd-4783-8cee-8a5f05c5942c",
      "name": "Webhook Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1880,
        -140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a6c5c7da-39ab-4db8-a314-58fb2ba2776d",
      "name": "Webhook Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1420,
        220
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Smart Field Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Field Mapper": {
      "main": [
        [
          {
            "node": "Budget Gate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Gate Check": {
      "main": [
        [
          {
            "node": "Execute W2: Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute W2: Enrichment": {
      "main": [
        [
          {
            "node": "Merge Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Enrichment Data": {
      "main": [
        [
          {
            "node": "Execute W3: Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute W3: Scoring": {
      "main": [
        [
          {
            "node": "Merge Scoring Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Scoring Data": {
      "main": [
        [
          {
            "node": "Execute W4: Persistence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute W4: Persistence": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Webhook Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Webhook Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cc52bb9d-b181-4ebe-a3c7-5b3f8908663e",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-16T21:16:10.224Z",
      "updatedAt": "2025-08-16T21:16:10.224Z",
      "role": "workflow:owner",
      "workflowId": "O4ThzOxDGpvw3bmx",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
