workflows/backups/PRIORITY-2-SECONDARY-Linkedin-Job-Scraper-20250910_220707.json
{
  "createdAt": "2025-09-09T23:44:58.009Z",
  "updatedAt": "2025-09-09T23:44:58.009Z",
  "id": "oKM4tZl1YmXSzIwk",
  "name": "Linkedin Job Scraper",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        80
      ],
      "id": "b05d7cc8-e68e-4789-b9ae-eec91f6a2ad0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"count\": 200,\n    \"scrapeCompany\": true,\n    \"urls\": [\n\"https://www.linkedin.com/jobs/search?keywords=Outbound%20Sales%20Rep&location=United%20States&geoId=103644278&f_TPR=r86400&position=1&pageNum=0\",\n\"https://www.linkedin.com/jobs/search?keywords=BDR&location=United%20States&geoId=103644278&f_TPR=r86400&position=1&pageNum=0\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        80
      ],
      "id": "b1dbb910-0b89-496b-bdd9-8e4f3dc86059",
      "name": "Linkedin_jobs_scrapper"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b721af74-da7b-406e-89fa-067c354f886d",
              "name": "JobUrl",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "6a0433ec-4010-4da8-ad7b-98f513d77287",
              "name": "companyLinkedinUrl",
              "value": "={{ $json.companyLinkedinUrl }}",
              "type": "string"
            },
            {
              "id": "5b8e0cce-53c1-490d-81aa-4afb5da23a57",
              "name": "companySize",
              "value": "={{ $json.companyEmployeesCount }}",
              "type": "string"
            },
            {
              "id": "116f312f-8e98-4e62-84a7-68e6d4895630",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "ac1063f8-40f9-405c-a3a9-28bf8bc4d749",
              "name": "companyWebsite",
              "value": "={{ $json.companyWebsite }}",
              "type": "string"
            },
            {
              "id": "0aa89f48-9b17-4d69-ad92-12f393d2483e",
              "name": "companyDescription",
              "value": "={{ $json.companyDescription }}",
              "type": "string"
            },
            {
              "id": "dfb910c4-4ca4-4ec0-8965-7e632fcaf452",
              "name": "jobSalary",
              "value": "={{ $json.salaryInfo }}",
              "type": "string"
            },
            {
              "id": "75e71682-c7e5-4f3d-a563-64c6a190d159",
              "name": "jobDescription",
              "value": "={{ $json.descriptionText }}",
              "type": "string"
            },
            {
              "id": "227ca947-a5bf-4a27-9673-799d459cf539",
              "name": "applicantsCount",
              "value": "={{ $json.applicantsCount }}",
              "type": "string"
            },
            {
              "id": "165710ad-3a4e-4e2c-a22e-f3d26f871fef",
              "name": "industries",
              "value": "={{ $json.industries }}",
              "type": "string"
            },
            {
              "id": "d03866b2-cc87-4779-bad5-a2ce6e7f99cd",
              "name": "jobPosterProfileUrl",
              "value": "={{ $json.jobPosterProfileUrl }}",
              "type": "string"
            },
            {
              "id": "29b36e43-6150-4b9f-8171-36a559fdbb91",
              "name": "jobPosterName",
              "value": "={{ $json.jobPosterName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        128
      ],
      "id": "305daf42-d090-440d-b3de-a6b07ee9c40c",
      "name": "Save_usefull_infos"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "companyName",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        912,
        80
      ],
      "id": "919a3815-18a1-42af-8d70-bac265df18fa",
      "name": "Remove_duplicates"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.0/search/decision-maker.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"domain\": \"{{ $json.companyWebsite }}\",\n  \"company_name\": \"{{ $json.companyName }}\",\n  \"decision_maker_category\": \"ceo\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        400
      ],
      "id": "53339b96-14e8-4041-9dd9-551a8191a4ba",
      "name": "Ceo_email",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.0/search/decision-maker.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"domain\": \"{{ $json.companyWebsite }}\",\n  \"company_name\": \"{{ $json.companyName }}\",\n  \"decision_maker_category\": \"sales\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        560
      ],
      "id": "882ac6ec-8ff2-41a0-a324-2b328f7cd628",
      "name": "Sales_email",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anymailfinder.com/v5.0/search/decision-maker.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"domain\": \"{{ $json.companyWebsite }}\",\n  \"company_name\": \"{{ $json.companyName }}\",\n  \"decision_maker_category\": \"marketing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        720
      ],
      "id": "e3c1d075-e49c-46db-848a-a49d05b41e0c",
      "name": "Marketing_email",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2dc03eae-2120-4ebb-823e-ae19af3121ee",
              "leftValue": "={{ !$json.industries || ($json.industries && $json.industries.includes(\"Staffing\") || $json.industries.includes(\"Recruiting\") || $json.industries.includes(\"Human Resources\"))  }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1344,
        80
      ],
      "id": "42708d18-06a6-4194-b689-f76dec5092e7",
      "name": "Filter_staffing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e6f56a1-663e-4274-b380-60fb11474c28",
              "leftValue": "={{ $json.companySize }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fd014a8f-81be-4498-a719-f99b29a96325",
              "leftValue": "={{ $json.companyWebsite && !$json.companyWebsite.includes(\"bit.ly\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "e2ced613-ccb3-440d-a731-89b2cd6869a6",
              "leftValue": "={{ !$json.companySize || $json.companySize < 100 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        32,
        384
      ],
      "id": "9baa3a10-12db-44aa-b10f-93e993ce310d",
      "name": "Filter_domain_and_size"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        544
      ],
      "id": "b48f5867-fe76-4777-a901-bab3683cb871",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        624,
        560
      ],
      "id": "17f698cf-65b6-4bea-a625-ceb0da4b3df2",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        752
      ],
      "id": "98097778-f615-4c04-b3d1-e035f890c4a0",
      "name": "Wait",
      "webhookId": "1188a578-634f-4121-b4ae-65d70fa38a24"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8ac3b4e-5ae4-49d1-8e79-08a684b1714c",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 404,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "b8ecf814-cc43-4b8e-9b5e-aa982c65555b",
              "leftValue": "={{ $json.result.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        704
      ],
      "id": "b15b32d6-f507-4060-b61b-a34948f7dcf2",
      "name": "If"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "result.email",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1104,
        464
      ],
      "id": "6573ee08-f7de-46c6-8875-ac611f43c18b",
      "name": "Remove_duplicates1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.email, result.personFullName, result.personLinkedinUrl",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        928,
        464
      ],
      "id": "8670fc92-b3ee-4024-a47b-eb91cd3c0e61",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "## Everyday we scrap jobs from multiple searchs in linkedin jobs",
        "height": 280,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f48302d2-a87a-459d-a696-612ab515b3cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Filter human ressource or staffing company as well as duplicate and save the remaining infos",
        "height": 280,
        "width": 1160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "33b69ec9-a61d-4f4e-b7d0-f1bd936d8965",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Target specific company size",
        "height": 200,
        "width": 200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        320
      ],
      "id": "1eb2011e-20da-4f36-89f6-563db5e83fd0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Find main decisions maker emails on each relevant company",
        "height": 580,
        "width": 840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        320
      ],
      "id": "b5d67e39-faf1-40d0-ac05-43ca7e45c698",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const fullname = item.json[\"result.personFullName\"] || \"\";\n  let firstName = \"\";\n  let lastName = \"\";\n\n  const nameParts = fullname.trim().split(/\\s+/);\n  firstName = nameParts[0] || \"\";\n  lastName = nameParts.slice(1).join(\" \") || \"\";\n\n  return {\n    json: {\n      firstName: capitalize(firstName),\n      lastName: capitalize(lastName),\n    },\n  };\n});\n\nfunction capitalize(str) {\n  return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        464
      ],
      "id": "12121548-c836-4591-876f-b23c1522b7f8",
      "name": "Extract_lead_name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://server.smartlead.ai/api/v1/campaigns/1758583/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"lead_list\": [\n    {\n      \"first_name\": $json['firstName'],\n      \"last_name\": $json['lastName'],\n      \"email\": $('Remove_duplicates1').item.json['result.email'],\n      \"phone_number\": \"\",\n      \"company_name\": $('Loop Over Items').item.json.companyName,\n      \"website\": $('Loop Over Items').item.json.companyWebsite,\n      \"location\": \"\",\n      \"custom_fields\": {\n        \"companySize\": $('Loop Over Items').item.json.companySize,\n        \"companyDescription\": $('Loop Over Items').item.json.companyDescription,\n        \"industries\": $('Loop Over Items').item.json.industries,\n        \"applicantsCount\": $('Loop Over Items').item.json.applicantsCount,\n        //\"video\": $json['Video Html'],\n        //\"icebreaker\": $json.Icebreaker\n      },\n      \"linkedin_profile\": $('Remove_duplicates1').item.json['result.personLinkedinUrl'],\n      \"company_url\": $('Loop Over Items').item.json.companyLinkedinUrl\n    }\n  ],\n  \"settings\": {\n    \"ignore_global_block_list\": true,\n    \"ignore_unsubscribe_list\": true,\n    \"ignore_duplicate_leads_in_other_campaign\": false\n  }\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        464
      ],
      "id": "15bb757c-b7eb-4b4b-bb7e-915ef23de646",
      "name": "Smartlead_add_lead"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B0hsBq0TPTtFijbCn9wPZokmLQgmGurQYddO2dUfxW4",
          "mode": "list",
          "cachedResultName": "Monitor_jobs_posting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B0hsBq0TPTtFijbCn9wPZokmLQgmGurQYddO2dUfxW4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YrMDxQ1hDYMiORWI3pUmuNGt9i35X3shiV_y1l3vhb8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job url": "={{ $('Loop Over Items').item.json.JobUrl }}",
            "fullname": "={{ $('Remove_duplicates1').item.json['result.personFullName'] }}",
            "job title": "={{ $('If').item.json.result.personJobTitle }}",
            "companyName": "={{ $('Loop Over Items').item.json.companyName }}",
            "company linkedin": "={{ $('Loop Over Items').item.json.companyLinkedinUrl }}",
            "job country": "=US",
            "company domain": "={{ $('Loop Over Items').item.json.companyWebsite }}",
            "company size": "={{ $('Loop Over Items').item.json.companySize }}",
            "company industry": "={{ $('Loop Over Items').item.json.industries }}",
            "company description": "={{ $('Loop Over Items').item.json.companyDescription }}",
            "first name": "={{ $('Extract_lead_name').item.json.firstName }}",
            "email": "={{ $('Remove_duplicates1').item.json['result.email'] }}",
            "linkedin profile url": "={{ $('Remove_duplicates1').item.json['result.personLinkedinUrl'] }}",
            "email verified": "={{ $('If').item.json.result.emailVerified }}",
            "sent to smartlead": "YES"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job url",
              "displayName": "job url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullname",
              "displayName": "fullname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company linkedin",
              "displayName": "company linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company domain",
              "displayName": "company domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company description",
              "displayName": "company description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company industry",
              "displayName": "company industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company size",
              "displayName": "company size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job country",
              "displayName": "job country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin profile url",
              "displayName": "linkedin profile url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email verified",
              "displayName": "email verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent to smartlead",
              "displayName": "sent to smartlead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1648,
        464
      ],
      "id": "5d10467b-4972-4db3-aa90-4dcb363fb32f",
      "name": "Add_lead_info",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "### Retrieve lead name and remove duplicate emails found",
        "height": 220,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        400
      ],
      "id": "b7fd9c3e-7f88-4061-859a-0558a89101f8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Add lead to email campaign with all infos",
        "height": 220,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        400
      ],
      "id": "7af5ddd4-723e-44d5-9206-eccbdc52b7e5",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Linkedin_jobs_scrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin_jobs_scrapper": {
      "main": [
        [
          {
            "node": "Remove_duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove_duplicates": {
      "main": [
        [
          {
            "node": "Filter_staffing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save_usefull_infos": {
      "main": [
        [
          {
            "node": "Filter_domain_and_size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_staffing": {
      "main": [
        [
          {
            "node": "Save_usefull_infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_domain_and_size": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ceo_email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales_email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Marketing_email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Ceo_email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sales_email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marketing_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove_duplicates1": {
      "main": [
        [
          {
            "node": "Extract_lead_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove_duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_lead_name": {
      "main": [
        [
          {
            "node": "Smartlead_add_lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smartlead_add_lead": {
      "main": [
        [
          {
            "node": "Add_lead_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_lead_info": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d43d2cb4-bc95-430e-a209-1714215f7afe",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-09T23:44:58.011Z",
      "updatedAt": "2025-09-09T23:44:58.011Z",
      "role": "workflow:owner",
      "workflowId": "oKM4tZl1YmXSzIwk",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
