workflows/backups/PRIORITY-2-SECONDARY-UYSP-Realtime-Ingestion-20250903_121449.json
{
  "createdAt": "2025-08-21T06:48:38.719Z",
  "updatedAt": "2025-08-29T23:17:52.391Z",
  "id": "2cdgp1qr9tXlONVL",
  "name": "UYSP-Realtime-Ingestion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads-intake",
        "options": {}
      },
      "id": "585e6072-155c-4be3-a15f-88adbdc8bece",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -16,
        -48
      ],
      "webhookId": "9a0b595d-f358-46c5-beb2-c5b5f3e3db3c"
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first();\nconst root = first.json && first.json.body ? first.json.body : first.json;\nfunction sanitizeEmail(v){ if(!v) return ''; const s=String(v).trim().toLowerCase(); return s.replace(/[\\s]+/g,'').replace(/[\\.,;:]+$/, ''); }\nfunction normalizePhone(v){ if(!v) return ''; let s=String(v).trim(); if (s.startsWith('+')) s = '+'+s.slice(1).replace(/[^0-9]/g,''); else s=s.replace(/[^0-9]/g,''); if (s.startsWith('+')) return s; if (s.length===11 && s.startsWith('1')) return '+1'+s.slice(1); if (s.length===10) return '+1'+s; return s; }\nfunction deriveDomain(email, company){ if(email){ const at=email.split('@')[1]; if(at) return at; } if(company){ return String(company).toLowerCase().replace(/[^a-z0-9-]/g,'') + '.com'; } return ''; }\n\n// Personal email domains (same as bulk import)\nconst personalDomains = ['gmail.com','yahoo.com','hotmail.com','outlook.com','icloud.com','aol.com','proton.me','protonmail.com','msn.com','live.com','me.com','mac.com','yandex.com','gmx.com','zoho.com','mail.com','fastmail.com','pm.me'];\n\nconst email = sanitizeEmail(root.email || root.Email || root.email_address || '');\nconst phone = normalizePhone(root.phone || root.Phone || root.phone_number || '');\nconst firstName = root.first_name || root.firstName || root.first || '';\nconst lastName = root.last_name || root.lastName || root.last || '';\nconst company = root.company || root.Company || '';\nconst title = root.title || root.job_title || '';\nconst domain = deriveDomain(email, company);\n\n// HRQ routing for personal emails\nconst isPersonal = personalDomains.some(pd => domain === pd || domain.endsWith('.' + pd));\n\nconst out = {\n  'Email': email,\n  'Phone': phone,\n  'First Name': firstName,\n  'Last Name': lastName,\n  'Company': company,\n  'Title': title,\n  'Company Domain': domain,\n  'Source': 'Webhook',\n  'Processing Status': isPersonal ? 'Complete' : 'Queued',\n  'HRQ Status': isPersonal ? 'Archive' : 'None',\n  'HRQ Reason': isPersonal ? 'Personal email' : ''\n};\nreturn [{ json: out }];"
      },
      "id": "2b9715be-f6ac-4a4c-a47c-cbd8e8a01b18",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblYUvhGADerbD8EO",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app6cU9HecxLpgT0P/tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{$json.Email}}",
            "Phone": "={{$json.Phone}}",
            "First Name": "={{$json['First Name']}}",
            "Last Name": "={{$json['Last Name']}}",
            "Company Domain": "={{$json['Company Domain']}}",
            "Processing Status": "={{$json['Processing Status']}}",
            "Source": "={{$json.Source}}",
            "HRQ Status": "={{$json['HRQ Status']}}",
            "HRQ Reason": "={{$json['HRQ Reason']}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true,
          "updateAllMatches": false
        }
      },
      "id": "aca5c821-9132-4d7e-a206-685227c09f6e",
      "name": "Airtable Upsert Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        432,
        -48
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Airtable Upsert Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c79f9933-4fe0-4333-ab91-bf0586bc5383",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-21T06:48:38.721Z",
      "updatedAt": "2025-08-21T06:48:38.721Z",
      "role": "workflow:owner",
      "workflowId": "2cdgp1qr9tXlONVL",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-02T22:01:44.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
