workflows/backups/PRIORITY-2-SECONDARY-UYSP-Click-Proxy-GET-20250910_213406.json
{
  "createdAt": "2025-09-03T19:35:58.707Z",
  "updatedAt": "2025-09-04T00:34:27.000Z",
  "id": "6au5pGk9N4Xk2fk3",
  "name": "UYSP-Click-Proxy-GET",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "click/:token",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook (Click)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ],
      "webhookId": "ecc4312b-9507-4d69-8a94-81cb970826f6"
    },
    {
      "parameters": {
        "jsCode": "// HMAC verification and context extraction\nconst secret = 'b5704ee85c253bb98dfe2cb6bab76646b3969866a20db6fdf77880ea2b295c32';\n\nconst src = $json || {};\nconst params = src.params || {};\nconst query = src.query || {};\nconst body = src.body || {};\nconst token = params.token || query.token || body.token || '';\nif (!token) {\n  return { json: { ok:false, error:'missing_token', statusCode:400 } };\n}\n\nlet payloadB64 = '';\nlet sigHex = '';\ntry {\n  const decoded = Buffer.from(token, 'base64url').toString('utf8');\n  const parts = decoded.split('.');\n  if (parts.length !== 2) throw new Error('invalid_token_parts');\n  payloadB64 = parts[0];\n  sigHex = parts[1];\n} catch (e) {\n  return { json: { ok:false, error:'invalid_token', statusCode:400 } };\n}\n\nlet payloadJson = {};\ntry {\n  const payloadStr = Buffer.from(payloadB64, 'base64').toString('utf8');\n  payloadJson = JSON.parse(payloadStr);\n} catch(e){\n  return { json: { ok:false, error:'invalid_payload', statusCode:400 } };\n}\n\nconst crypto = require('crypto');\nconst expectedSig = crypto.createHmac('sha256', secret).update(payloadB64).digest('hex');\nconst sigOk = crypto.timingSafeEqual(Buffer.from(expectedSig), Buffer.from(sigHex));\nif (!sigOk) {\n  return { json: { ok:false, error:'bad_signature', statusCode:400 } };\n}\n\nif (payloadJson.exp && Date.now()/1000 > Number(payloadJson.exp)) {\n  return { json: { ok:false, error:'expired', statusCode:410 } };\n}\n\nconst campaignId = String(payloadJson.campaignId || payloadJson.campaign_id || '');\nconst leadId = String(payloadJson.leadId || payloadJson.lead_id || '');\nconst redirectUrl = String(payloadJson.targetUrl || payloadJson.redirect || '');\n\nreturn { json: { ok:true, campaignId, leadId, redirectUrl, statusCode:302 } };"
      },
      "id": "verify",
      "name": "Verify Token & Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "filterByFormula": "={{`AND({Campaign ID}='${$('Verify Token & Context').item.json.campaignId||''}',{Lead Record ID}='${$('Verify Token & Context').item.json.leadId||''}')`}}",
        "options": {}
      },
      "id": "searchAudit",
      "name": "Find Audit Row",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -192,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "={{'Clicked'}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Event",
              "displayName": "Event",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign ID",
              "displayName": "Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Delivered",
                  "value": "Delivered"
                },
                {
                  "name": "Undelivered",
                  "value": "Undelivered"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Carrier",
              "displayName": "Carrier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Record ID",
              "displayName": "Lead Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent At",
              "displayName": "Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery At",
              "displayName": "Delivery At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Webhook Raw",
              "displayName": "Webhook Raw",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clicked",
              "displayName": "Clicked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clicked At",
              "displayName": "Clicked At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "updateAudit",
      "name": "Update Audit → Clicked",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        32,
        -160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond",
      "name": "Respond 302",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        32,
        32
      ]
    }
  ],
  "connections": {
    "Webhook (Click)": {
      "main": [
        [
          {
            "node": "Verify Token & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token & Context": {
      "main": [
        [
          {
            "node": "Find Audit Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Audit Row": {
      "main": [
        [
          {
            "node": "Update Audit → Clicked",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond 302",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fbe3069c-670f-4c66-80d6-dbc1de4142bd",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-03T19:38:53.422Z",
      "updatedAt": "2025-09-03T19:38:53.422Z",
      "role": "workflow:owner",
      "workflowId": "6au5pGk9N4Xk2fk3",
      "projectId": "H4VRaaZhd8VKQANf",
      "project": {
        "createdAt": "2025-07-20T10:20:07.367Z",
        "updatedAt": "2025-07-20T10:23:14.000Z",
        "id": "H4VRaaZhd8VKQANf",
        "name": "UYSP Lead Qualification Agent ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layer-group"
        },
        "description": "Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.",
        "projectRelations": [
          {
            "createdAt": "2025-07-20T10:23:14.911Z",
            "updatedAt": "2025-07-20T10:23:14.911Z",
            "role": "project:admin",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "H4VRaaZhd8VKQANf",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
