workflows/backups/PRIORITY-2-SECONDARY-UYSP-HUNTER-WATERFALL-FINAL-20250829_003359.json
{
  "createdAt": "2025-08-09T13:13:31.666Z",
  "updatedAt": "2025-08-09T13:13:31.666Z",
  "id": "WEGbtNPtn7o7TbgU",
  "name": "UYSP HUNTER WATERFALL FINAL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hunter-waterfall-final",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$env.PERSON_WATERFALL_ENABLED}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "feature-gate-001",
      "name": "Hunter Waterfall Feature Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.pdl_person_success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "pdl-router-001",
      "name": "PDL Person Success Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.hunter.io/v2/people/find",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": false,
        "qs": {
          "domain": "={{$json.normalized.company_domain}}",
          "first_name": "={{$json.normalized.first_name}}",
          "last_name": "={{$json.normalized.last_name}}"
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "id": "hunter-api-001",
      "name": "Hunter Email Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hunter Response Normalization - PHASE 2C Implementation\nconst items = $input.all();\nfor (const item of items) {\n  const hunter = (item.json && item.json.data) || {};\n  const linkedinHandle = hunter.linkedin?.handle || null;\n\n  const normalized = {\n    // Success if we have at least one meaningful field from Hunter\n    hunter_person_success: !!(linkedinHandle || hunter.employment?.title || hunter.employment?.name),\n\n    // Preserve input values; only fill from Hunter when present\n    email: item.json.email || null,\n    linkedin_url: linkedinHandle ? `https://www.linkedin.com/in/${linkedinHandle}` : (item.json.linkedin_url || null),\n    title_current: hunter.employment?.title || item.json.title_current || null,\n    company_enriched: hunter.employment?.name || item.json.company_enriched || null,\n\n    // Vendor and cost metadata\n    enrichment_vendor: 'hunter',\n    hunter_cost: 0.049,\n    enrichment_confidence: null,\n    enrichment_attempted: true,\n    enrichment_failed: false,\n    last_enriched: new Date().toISOString()\n  };\n\n  item.json = { ...item.json, ...normalized };\n}\n\nreturn items;"
      },
      "id": "hunter-processor-001",
      "name": "Hunter Response Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Person Data Precedence Merge: PDL > Hunter - PHASE 2C Implementation\nconst items = $input.all();\nfor (const item of items) {\n  const data = item.json || {};\n  const hasPDL = data.pdl_person_success === true;\n  const hasHunter = data.hunter_person_success === true;\n\n  if (hasPDL) {\n    data.enrichment_vendor = 'pdl';\n    data.enrichment_method_primary = 'pdl';\n  } else if (hasHunter) {\n    data.enrichment_vendor = 'hunter';\n    data.enrichment_method_primary = 'hunter';\n    data.enrichment_failed = false;\n  } else {\n    data.enrichment_failed = true;\n    data.routing_decision = 'human_review';\n    data.routing_reason = 'person_enrichment_failed_both_providers';\n  }\n\n  // Ensure LinkedIn URL is full URL when present\n  if (data.linkedin_url && !String(data.linkedin_url).startsWith('http')) {\n    data.linkedin_url = `https://www.linkedin.com/in/${data.linkedin_url}`;\n  }\n\n  item.json = data;\n}\nreturn items;"
      },
      "id": "data-merger-001",
      "name": "Person Data Merger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Hunter Waterfall Feature Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Waterfall Feature Gate": {
      "main": [
        [
          {
            "node": "PDL Person Success Router",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "PDL Person Success Router": {
      "main": [
        [
          {
            "node": "Person Data Merger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter Email Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Email Enrichment": {
      "main": [
        [
          {
            "node": "Hunter Response Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Response Processor": {
      "main": [
        [
          {
            "node": "Person Data Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "69f11e07-d9cc-4c99-a5c8-e2a41582ef58",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-09T13:13:31.667Z",
      "updatedAt": "2025-08-09T13:13:31.667Z",
      "role": "workflow:owner",
      "workflowId": "WEGbtNPtn7o7TbgU",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-08-28T22:06:26.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-08-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
