workflows/backups/PRIORITY-2-SECONDARY-GPT5-Phase-2-Refactor-20250910_213406.json
{
  "createdAt": "2025-08-16T19:11:07.856Z",
  "updatedAt": "2025-09-03T19:17:08.000Z",
  "id": "9mKvhfkgkoyJlfMw",
  "name": "GPT5-Phase-2-Refactor",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "uysp-lead-intake",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "812f5790-f6ac-48bc-9100-59ff9011a24e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "362b33ed-4fab-4a09-b39a-4ad08364b1ed"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst normalized = {};\nconst unknownFields = [];\nconst mappedFields = new Set();\n\nconst fieldMappings = {\n  email: ['email', 'Email', 'EMAIL', 'email_address', 'emailAddress', 'e-mail', 'contact_email', 'EmailAddress', 'user_email', 'primary_email'],\n  phone: ['phone', 'Phone', 'PHONE', 'phone_number', 'phoneNumber', 'mobile', 'cellphone', 'telephone', 'cell', 'mobile_number', 'contact_phone'],\n  first_name: ['first_name', 'firstName', 'fname', 'given_name', 'forename', 'FirstName', 'first', 'f_name'],\n  last_name: ['last_name', 'lastName', 'lname', 'surname', 'family_name', 'LastName', 'last', 'l_name'],\n  company: ['company', 'Company', 'company_name', 'companyName', 'organization', 'org', 'business', 'employer'],\n  title: ['title', 'Title', 'job_title', 'jobTitle', 'position', 'role', 'job_role', 'designation'],\n  source_form: ['source_form', 'form_name', 'formName', 'source', 'form_id', 'lead_source', 'form'],\n  interested_in_coaching: ['interested_in_coaching', 'coaching_interest', 'wants_coaching', 'coaching', 'interest_coaching'],\n  linkedin_url: ['linkedin_url', 'linkedin', 'linkedinUrl', 'linkedin_profile', 'linkedIn', 'linkedin_link'],\n  request_id: ['request_id', 'requestId', 'request', 'id', 'tracking_id', 'unique_id']\n};\n\nfor (const [normalizedKey, variations] of Object.entries(fieldMappings)) {\n  for (const variation of variations) {\n    if (input[variation] !== undefined && input[variation] !== null) {\n      normalized[normalizedKey] = input[variation];\n      mappedFields.add(variation);\n      break;\n    }\n  }\n}\n\nfor (const [key, value] of Object.entries(input)) {\n  if (!mappedFields.has(key) && value !== null && value !== undefined) {\n    unknownFields.push({ field: key, value: value, timestamp: new Date().toISOString() });\n  }\n}\n\nif (normalized.phone) {\n  normalized.phone = normalized.phone.replace(/\\D/g, '').replace(/^1/, '').replace(/^(\\d{3})(\\d{3})(\\d{4})$/, '+1$1$2$3');\n}\n\nif (normalized.interested_in_coaching !== undefined) {\n  const val = String(normalized.interested_in_coaching).toLowerCase();\n  normalized.interested_in_coaching = ['true', '1', 'yes', 'y'].includes(val);\n}\n\nconst crypto = require('crypto');\nnormalized.idempotency_key = crypto.createHash('sha256').update((normalized.email || '') + new Date().toDateString()).digest('hex').substring(0, 16);\n\nreturn [{\n  json: {\n    normalized,\n    unknownFields,\n    originalFieldCount: Object.keys(input).length,\n    mappedFieldCount: mappedFields.size,\n    captureRate: (mappedFields.size / Object.keys(input).length * 100).toFixed(2)\n  }\n}];"
      },
      "id": "3cab1979-7a68-4023-859e-b94bc37b167e",
      "name": "Smart Field Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { error: { message: 'No input items', node: 'Budget Gate Check' } } }];\n}\n\nconst MAX_DAILY_SPEND = 50;\nconst todaySpend = 0; // Would come from Airtable/variables in production\n\nif (todaySpend >= MAX_DAILY_SPEND) {\n  return [{\n    json: {\n      ...($json.normalized || {}),\n      enrichment_skipped: true,\n      reason: 'daily_budget_exceeded'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...($json.normalized || {}),\n    enrichment_allowed: true,\n    remaining_budget: MAX_DAILY_SPEND - todaySpend\n  }\n}];"
      },
      "id": "58377305-d9d0-4412-9f73-f2dbd82bb106",
      "name": "Budget Gate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { error: { message: 'No input items', node: 'Assemble Feature Flags' } } }];\n}\nconst item = items[0].json || {};\nconst normalized = item.normalized || item;\nconst enrichmentAllowed = item.enrichment_allowed === true;\nconst feature_flags = {\n  pdl_enabled: true,\n  hunter_enabled: true,\n  dropcontact_enabled: true,\n  enrichment_allowed: enrichmentAllowed\n};\nreturn [{ json: { ...item, normalized, feature_flags } }];"
      },
      "id": "bb43552f-dc53-4c1a-a935-ebad3aceb1b1",
      "name": "Assemble Feature Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "workflow_xxxxx",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "676a1bec-427f-4302-a799-a396cd57ba4b",
      "name": "W2: Enrichment (Execute Workflow)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { error: { message: 'No input items', node: 'Prepare For Scoring' } } }];\n}\nconst item = items[0].json || {};\nconst normalized = item.normalized || {};\nconst enriched = item.enriched || {};\nconst passthroughError = item.error ? { error: item.error } : {};\nreturn [{ json: { ...item, normalized, enriched, ...passthroughError } }];"
      },
      "id": "6fa8850f-3518-4ff1-a68a-fe29ee76720e",
      "name": "Prepare For Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "workflow_xxxxx",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c07bf1b6-35e8-4e38-8b39-ff43f71384b6",
      "name": "W3: Scoring (Execute Workflow)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1520,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { error: { message: 'No input items', node: 'Prepare For Persistence' } } }];\n}\nconst item = items[0].json || {};\nconst normalized = item.normalized || {};\nconst enriched = item.enriched || {};\nconst scoring = item.scoring || item.score || {};\nconst passthroughError = item.error ? { error: item.error } : {};\nreturn [{ json: { ...item, normalized, enriched, scoring, ...passthroughError } }];"
      },
      "id": "dfcfae6c-7e8b-49ba-9f2c-9534e2084a66",
      "name": "Prepare For Persistence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": "workflow_xxxxx",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "67cf51ca-b59e-4db9-bdbf-66b43504ab93",
      "name": "W4: Persistence (Execute Workflow)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2000,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "execution_id",
              "value": "={{$execution.id}}"
            },
            {
              "name": "status",
              "value": "={{$json.status || ($json.error ? 'error' : 'ok')}}"
            },
            {
              "name": "lead_id",
              "value": "={{$json.lead_id || $json.airtable_record_id || $json.record_id || null}}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d8b30087-d720-49ae-aaf8-a0649d3fc986",
      "name": "Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json.error || {};\nreturn [{\n  json: {\n    status: 'error',\n    error_message: error.message || 'Unknown error',\n    error_node: error.node || 'Unknown',\n    timestamp: new Date().toISOString(),\n    fallback_action: 'logged_for_manual_review'\n  }\n}];"
      },
      "id": "08808057-1a67-417b-bc94-8e4290f30a86",
      "name": "Error Handler (Prepared)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        260
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Smart Field Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Field Mapper": {
      "main": [
        [
          {
            "node": "Budget Gate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Gate Check": {
      "main": [
        [
          {
            "node": "Assemble Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Feature Flags": {
      "main": [
        [
          {
            "node": "W2: Enrichment (Execute Workflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "W2: Enrichment (Execute Workflow)": {
      "main": [
        [
          {
            "node": "Prepare For Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare For Scoring": {
      "main": [
        [
          {
            "node": "W3: Scoring (Execute Workflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "W3: Scoring (Execute Workflow)": {
      "main": [
        [
          {
            "node": "Prepare For Persistence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare For Persistence": {
      "main": [
        [
          {
            "node": "W4: Persistence (Execute Workflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "W4: Persistence (Execute Workflow)": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cd0ec467-10cd-4c7d-bd48-6081b878c73a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-16T19:11:07.860Z",
      "updatedAt": "2025-08-16T19:11:07.860Z",
      "role": "workflow:owner",
      "workflowId": "9mKvhfkgkoyJlfMw",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
