workflows/backups/PRIORITY-2-SECONDARY-The-Sales-Navigator-AI-Agent-System-20250910_220707.json
{
  "createdAt": "2025-09-09T23:42:31.900Z",
  "updatedAt": "2025-09-09T23:42:31.900Z",
  "id": "BKPL7D0kvfyoKEMD",
  "name": "The Sales Navigator AI Agent System",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b7a3a521-513c-4d99-a349-ced8094f3f74",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        112
      ],
      "id": "ed14ea36-376d-4fb2-90cc-f3fc1ce8fe47",
      "name": "Webhook",
      "webhookId": "b7a3a521-513c-4d99-a349-ced8094f3f74"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-sales-navigator-search-scraper/runs/last/dataset/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        112
      ],
      "id": "28fddab6-89db-494f-aecb-c9b055b9e11e",
      "name": "Get_sales_nav_result",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Retrieve the sales navigator profiles when finished",
        "height": 260,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "44c091dc-399f-4812-8bb3-b6b3705382e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wLRq2QOsJpN3P9Vj9XTpU_fHljVgt9fpMOUitPJqoOo",
          "mode": "list",
          "cachedResultName": "SalesNavLead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLRq2QOsJpN3P9Vj9XTpU_fHljVgt9fpMOUitPJqoOo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wLRq2QOsJpN3P9Vj9XTpU_fHljVgt9fpMOUitPJqoOo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin url": "={{ \"https://www.linkedin.com/in/\" + $json.profileId }}",
            "company": "={{ $json.companyName }}",
            "industry": "={{ $json.companyIndustry }}",
            "job title": "={{ $json.jobTitle }}",
            "location": "={{ $json.location }}",
            "first name": "={{ $json.firstName }}",
            "last name": "={{ $json.lastName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "linkedin url",
              "displayName": "linkedin url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job title",
              "displayName": "job title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first name",
              "displayName": "first name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        112
      ],
      "id": "aef2ccf1-0144-4efe-a97b-da8a48489dd0",
      "name": "Add_leads_to_sheet"
    },
    {
      "parameters": {
        "content": "## Add leads info to sheet",
        "height": 260,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "c5dfd88f-778f-404b-abe0-068b264404e0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a LinkedIn Sales Navigator URL builder.\n\nYour task is to:\n1. Take a natural language input from the user (e.g., \"Find me lead engineers in information technology located in New York\").\n\n2. Extract three key entities:\n   - Job title\n   - Industry\n   - Location\n   - Company headcount\n\n3. Use a predefined dictionary to map these values to LinkedIn internal filter IDs:\n   - `jobTitleText` (to extract from user query: eg. \"Head of sales\")\n   - `industryId` from INDUSTRY_DICTIONARY\n   - `regionId` from LOCATION_DICTIONARY\n   - `companyHeadcountIds` from COMPANY_DICTIONNARY\n\n{\n  jobTitleText: \"Head of Sales\",\n  companyHeadcountIds: [\"C\", \"D\"], // This should be an array of company ids based on the size\n  industryId: \"6\",\n  regionId: \"105015875\"\n}\n\nDictionnary is:\nconst INDUSTRY_DICTIONARY = {\n  \"information technology\": \"6\",\n  \"not found\": \"\",\n};\n\nconst LOCATION_DICTIONARY = {\n  \"new york\": \"105080838\",\n  \"france\": \"105015875\",\n  \"sweden\": \"105117694\",\n  \"not found\": \"\",\n};\n\nconst COMPANY_DICTIONNARY ={\n  \"Self-employed\": \"A\",\n  \"1-10\": \"B\",\n  \"11-50\": \"C\",\n  \"51-200\": \"D\",\n  \"201-500\": \"E\",\n  \"501-1,000\": \"F\",\n  \"1,001-5,000\": \"G\",\n  \"5,001-10,000\": \"H\",\n  \"10,001+\": \"I\",\n  \"not found\": \"\"\n}\n\nUse the \"not found\" value when there is no approximate match.\n\n4. Send the values `{jobTitleText, industryId, regionId, companyHeadcountIds}` to a tool/function called `Build_linkedin_url`, which will return a properly encoded LinkedIn Sales Navigator search URL.\n\nAlways call this tool to get a proper linkedin search url.\n\n5. Return the final result as a JSON object:\n```json\n{\n  \"url\": \"https://linkedin.com/sales/search/people?query=...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        496
      ],
      "id": "f2bcee50-f47b-46e9-8409-9cb89519069b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        496
      ],
      "id": "61ec6946-92bd-49aa-9c11-9732fcc1efd2",
      "name": "When chat message received",
      "webhookId": "c5089610-de0f-4502-af0d-dce224de045c"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        784
      ],
      "id": "c906f9f5-bebd-4482-aafa-8de651857886",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        784
      ],
      "id": "085200e0-1a1b-42f4-9e8d-2fa1f9b6cd1b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-sales-navigator-search-scraper/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"count\": 1,\n  \"deepScrape\": false,\n  \"maxDelay\": 30,\n  \"minDelay\": 5,\n  \"proxy\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyCountry\": \"US\",\n        \"apifyProxyGroups\": [\n            \"RESIDENTIAL\"\n        ]\n    },\n   \"searchUrl\": \"{{ $json.response }}\",  \n  \"cookie\": [PUT_YOUR_COOKIE_HERE]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        496
      ],
      "id": "e0c18a28-9430-4360-bb22-9810d3d59f59",
      "name": "Linkedin_sales_navigator",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"url\": \"https://linkedin.com/sales/search/people?query=\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        576,
        784
      ],
      "id": "e671a05f-dbd0-4448-8bfc-cec9b39f77f5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "name": "Build_linkedin_url",
        "description": "Call this tool to build the LinkedIn search URL. The input should contains 3 variables. titleId, industryId and locationId",
        "jsCode": "const jobTitleText = query.jobTitleText; \nconst regionId = query.regionId;\nconst industryId = \"6\";//query.industryId;\nconst companyHeadcountIds = query.companyHeadcountIds;\n\nconst filters = [];\n\nconst jobTitle = encodeURIComponent(jobTitleText.trim());\n\nif (jobTitle) {\n    filters.push(`(type:CURRENT_TITLE,values:List((text:${jobTitle},selectionType:INCLUDED)))`);\n}\n\n // COMPANY_HEADCOUNT\n  if (companyHeadcountIds.length > 0) {\n    const sizes = companyHeadcountIds.map(id => `(id:${id},selectionType:INCLUDED)`);\n    filters.push(`(type:COMPANY_HEADCOUNT,values:List(${sizes.join(\",\")}))`);\n  }\n\n// REGION\n  if (regionId) {\n    filters.push(`(type:REGION,values:List((id:${regionId},selectionType:INCLUDED)))`);\n  }\n\nif (industryId) {\n    filters.push(`(type:INDUSTRY,values:List((id:${industryId},selectionType:INCLUDED)))`);\n}\n\nconst fullQuery = encodeURIComponent(`(filters:List(${filters}))`);\n\nreturn `https://www.linkedin.com/sales/search/people?query=${fullQuery}`;",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"jobTitleText\": \"Head of Sales\",\n  \"companyHeadcountIds\": [\"C\", \"D\"],\n  \"industryId\": \"6\",\n  \"regionId\": \"105015875\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        384,
        784
      ],
      "id": "92185739-d497-48cb-a385-394a44c8c470",
      "name": "Build_linkedin_url"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e722eeb6-1ce7-4da5-91af-e192cb59800c",
              "name": "response",
              "value": "={{ $json.output.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        496
      ],
      "id": "490022b8-e338-4586-9a19-c63b5221812f",
      "name": "Retrieve_result_url"
    },
    {
      "parameters": {
        "content": "## Your sales navigator research ai agent",
        "height": 520,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        416
      ],
      "id": "b8242ee7-9f5d-4a6f-a017-a52a66afab8a",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get_sales_nav_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_sales_nav_result": {
      "main": [
        [
          {
            "node": "Add_leads_to_sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Retrieve_result_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Build_linkedin_url": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve_result_url": {
      "main": [
        [
          {
            "node": "Linkedin_sales_navigator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a971b28e-cd22-4e7b-aeef-802375c46421",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-09T23:42:31.903Z",
      "updatedAt": "2025-09-09T23:42:31.903Z",
      "role": "workflow:owner",
      "workflowId": "BKPL7D0kvfyoKEMD",
      "projectId": "wvkG5jFMc7QXvOh5",
      "project": {
        "createdAt": "2025-07-01T09:55:16.699Z",
        "updatedAt": "2025-07-01T09:55:19.189Z",
        "id": "wvkG5jFMc7QXvOh5",
        "name": "LATIF HORST <latifhorst@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T09:55:16.699Z",
            "updatedAt": "2025-07-01T09:55:16.699Z",
            "role": "project:personalOwner",
            "userId": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
            "projectId": "wvkG5jFMc7QXvOh5",
            "user": {
              "createdAt": "2025-07-01T09:55:15.012Z",
              "updatedAt": "2025-09-10T22:00:48.000Z",
              "id": "29d0ac76-1b0e-4f0b-a9dd-b710d2476efa",
              "email": "latifhorst@gmail.com",
              "firstName": "LATIF",
              "lastName": "HORST",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "Zdpywk5ic1hYILgr",
                "userActivatedAt": 1751967003557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753035927344
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-09-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
