workflows/backups/UYSP PHASE 2B - COMPLETE CLEAN REBUILD (2).json
{
  "name": "UYSP PHASE 2B - COMPLETE CLEAN REBUILD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kajabi-leads-complete-clean",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "21b8ce30-107e-4f82-9328-c9c92c57293b",
      "name": "Kajabi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        680
      ],
      "webhookId": "658a1d1c-30a0-484d-b3cd-87578ff5e668"
    },
    {
      "parameters": {
        "jsCode": "// Validation removed - webhook auth now handled at webhook level\nreturn $json;"
      },
      "id": "fabfc5fa-9d51-4486-9ea7-3c18a8e82a5d",
      "name": "Validate API Key (Dynamic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "// Smart Field Mapper v4.6 - CORRECTED BOOLEAN NULL FIX\n// CRITICAL FIX: Boolean false → null for Airtable checkbox fields\nconst webhookData = $input.first().json;\n\n// CRITICAL FIX: Extract actual form data from webhook structure\nlet inputData;\nif (webhookData.body && typeof webhookData.body === 'object') {\n  // n8n webhook format: data is in .body\n  inputData = webhookData.body;\n} else if (webhookData.data && typeof webhookData.data === 'object') {\n  // Alternative webhook format: data is in .data\n  inputData = webhookData.data;\n} else {\n  // Direct format: webhook data is the payload itself\n  inputData = webhookData;\n}\n\nconst fieldMappings = {\n  email: ['email', 'Email', 'EMAIL', 'email_address', 'emailAddress', 'e-mail', 'e_mail', 'contact_email', 'Email_Address', 'EMAIL_ADDRESS'],\n  phone: ['phone', 'Phone', 'PHONE', 'phone_number', 'phoneNumber', 'mobile', 'cellphone', 'telephone', 'phone_intl', 'mobile_intl'],\n  name: ['name', 'Name', 'NAME', 'full_name', 'fullName', 'contact_name', 'display_name'],\n  first_name: ['first_name', 'firstName', 'fname', 'given_name', 'forename'],\n  last_name: ['last_name', 'lastName', 'lname', 'surname', 'family_name'],\n  company: ['company', 'Company', 'COMPANY', 'company_name', 'companyName', 'organization', 'org', 'business'],\n  title: ['title', 'Title', 'job_title', 'jobTitle', 'position', 'role'],\n  source_form: ['source_form', 'form_name', 'formName', 'source', 'form_id'],\n  interested_in_coaching: ['interested_in_coaching', 'coaching_interest', 'wants_coaching'],\n  qualified_lead: ['qualified_lead', 'is_qualified', 'qualified', 'lead_qualified'],\n  contacted: ['contacted', 'was_contacted', 'contact_attempted', 'reached_out'],\n  linkedin_url: ['linkedin_url', 'linkedin', 'linkedinUrl', 'linkedin_profile'],\n  request_id: ['request_id', 'requestId', 'request', 'id', 'tracking_id']\n};\n\nconst normalized = {};\nconst mappedFields = new Set();\n\n// Case-insensitive field finder\nfunction findField(aliases) {\n  for (const key of Object.keys(inputData)) {\n    if (aliases.some(alias => alias.toLowerCase() === key.toLowerCase())) {\n      mappedFields.add(key);\n      return inputData[key];\n    }\n  }\n  return null;\n}\n\n// Map all fields\nObject.entries(fieldMappings).forEach(([normalizedName, aliases]) => {\n  const value = findField(aliases);\n  if (value !== null && value !== undefined && value !== '') {\n    normalized[normalizedName] = value;\n  }\n});\n\n// Auto-split full name if needed\nif (normalized.name && !normalized.first_name) {\n  const parts = normalized.name.trim().split(/\\s+/);\n  normalized.first_name = parts[0] || '';\n  normalized.last_name = parts.slice(1).join(' ') || '';\n}\n\n// CORRECTED: 3-Field Phone Strategy Implementation\nif (normalized.phone) {\n  normalized.phone_recent = normalized.phone;  // Always update to latest received\n  normalized.phone_original = normalized.phone; // Will be handled by duplicate logic to preserve on updates\n}\n\n// CRITICAL FIX: Boolean conversion for Airtable - null instead of false\n['interested_in_coaching', 'qualified_lead', 'contacted'].forEach(field => {\n  if (normalized[field] !== undefined) {\n    const val = String(normalized[field]).toLowerCase();\n    const isTruthy = ['true', 'yes', '1', 'on', 'y', 'checked', 'enabled'].includes(val);\n    normalized[field] = isTruthy ? true : null;  // CRITICAL FIX: null instead of false\n  }\n});\n\n// Track unknown fields\nconst unknownFields = Object.keys(inputData).filter(k => !mappedFields.has(k));\n\n// Add metadata\nnormalized.webhook_field_count = Object.keys(inputData).length;\nnormalized.mapped_field_count = Object.keys(normalized).length;\nnormalized.unknown_field_list = unknownFields.join(', ');\nnormalized.field_mapping_success_rate = Math.round((Object.keys(normalized).length / Object.keys(inputData).length) * 100);\nnormalized.normalization_version = 'v4.6-boolean-null-fix';\nnormalized.raw_webhook_data = JSON.stringify(webhookData);\n\nreturn {\n  normalized,\n  original: inputData,\n  unknownFields,\n  mappingSuccess: Object.keys(normalized).length > 0,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "e0d52a71-1b0d-4199-9499-9aebda10390a",
      "name": "Smart Field Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.peopledatalabs.com/v5/person/enrich",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{$credentials.httpHeaderAuth.headerValue}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{$node['Smart Field Mapper'].json.normalized.email}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2fd15368-0b64-448b-8b52-858306a8b1a5",
      "name": "PDL Person Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yCHjNPpRVrQr5pQj",
          "name": "PDL AUTH"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// PDL Person API Response Processor v1.0\n// Extracts person data and maps to Airtable fields\n\nconst pdlResponse = $json;\nconst smartFieldData = $node['Smart Field Mapper'].json.normalized;\n\n// Initialize processed data with existing Smart Field Mapper data\nconst processedData = {\n  ...smartFieldData,\n  // PDL Person API Processing\n  pdl_person_processed: new Date().toISOString(),\n  pdl_person_cost: 0.03 // $0.03 per call\n};\n\n// Process PDL Person Response\nif (pdlResponse && pdlResponse.data) {\n  const person = pdlResponse.data;\n  \n  // Extract person profile data\n  if (person.full_name) {\n    processedData.pdl_full_name = person.full_name;\n  }\n  \n  if (person.first_name) {\n    processedData.pdl_first_name = person.first_name;\n  }\n  \n  if (person.last_name) {\n    processedData.pdl_last_name = person.last_name;\n  }\n  \n  // Extract job information\n  if (person.job_title) {\n    processedData.pdl_job_title = person.job_title;\n  }\n  \n  if (person.job_title_role) {\n    processedData.pdl_job_role = person.job_title_role;\n  }\n  \n  if (person.job_company_name) {\n    processedData.pdl_company_name = person.job_company_name;\n  }\n  \n  // Extract LinkedIn profile\n  if (person.linkedin_url) {\n    processedData.pdl_linkedin_url = person.linkedin_url;\n  }\n  \n  // Extract location data\n  if (person.location_name) {\n    processedData.pdl_location = person.location_name;\n  }\n  \n  if (person.location_country) {\n    processedData.pdl_country = person.location_country;\n  }\n  \n  // Extract seniority level\n  if (person.job_title_levels && person.job_title_levels.length > 0) {\n    processedData.pdl_seniority = person.job_title_levels[0];\n  }\n  \n  // Determine if person is in sales role\n  const salesRoles = ['sales', 'business development', 'account manager', 'revenue', 'growth'];\n  const jobTitle = (person.job_title || '').toLowerCase();\n  const jobRole = (person.job_title_role || '').toLowerCase();\n  \n  processedData.pdl_is_sales_role = salesRoles.some(role => \n    jobTitle.includes(role) || jobRole.includes(role)\n  );\n  \n  // Extract industry information\n  if (person.industry) {\n    processedData.pdl_industry = person.industry;\n  }\n  \n  // Process phone numbers from PDL\n  if (person.phone_numbers && person.phone_numbers.length > 0) {\n    const primaryPhone = person.phone_numbers[0];\n    if (primaryPhone) {\n      processedData.pdl_phone = primaryPhone;\n    }\n  }\n  \n  // Extract experience information\n  if (person.experience && person.experience.length > 0) {\n    const currentJob = person.experience[0]; // Most recent job\n    if (currentJob) {\n      if (currentJob.company && currentJob.company.name) {\n        processedData.pdl_current_company = currentJob.company.name;\n      }\n      if (currentJob.title) {\n        processedData.pdl_current_title = currentJob.title;\n      }\n    }\n  }\n  \n  // Calculate person qualification score (0-100)\n  let personScore = 0;\n  \n  // Has LinkedIn profile (+25 points)\n  if (person.linkedin_url) personScore += 25;\n  \n  // Has job title (+20 points)\n  if (person.job_title) personScore += 20;\n  \n  // Is in sales role (+30 points)\n  if (processedData.pdl_is_sales_role) personScore += 30;\n  \n  // Has company information (+15 points)\n  if (person.job_company_name) personScore += 15;\n  \n  // Has location data (+10 points)\n  if (person.location_country) personScore += 10;\n  \n  processedData.pdl_person_score = personScore;\n  \n  // Determine qualification status\n  processedData.pdl_person_qualified = personScore >= 70;\n  \n  // Extract additional contact methods\n  if (person.emails && person.emails.length > 0) {\n    const workEmail = person.emails.find(email => email.type === 'work');\n    if (workEmail) {\n      processedData.pdl_work_email = workEmail.address;\n    }\n  }\n  \n  // Success status\n  processedData.pdl_person_success = true;\n  processedData.pdl_person_error = null;\n  \n} else {\n  // Handle API error or no data\n  processedData.pdl_person_success = false;\n  processedData.pdl_person_error = pdlResponse.error || 'No person data found';\n  processedData.pdl_person_score = 0;\n  processedData.pdl_person_qualified = false;\n}\n\n// Return processed data for next node\nreturn { normalized: processedData };"
      },
      "id": "2c4b8e37-7cdc-4dc6-b6a2-a4ba7e067e01",
      "name": "PDL Person Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "7ece2bab-8222-4ec9-8a1b-531d1c993724",
              "leftValue": "={{$json.normalized.pdl_person_success && ($json.normalized.pdl_job_title || $json.normalized.pdl_company_name)}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "5f3a88ae-2509-49f5-b8e7-969c85a39490",
      "name": "PDL Person Routing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an ICP (Ideal Customer Profile) scoring system. Analyze the lead data including PDL enrichment data and return a JSON response with scores.\\n\\nScoring Criteria:\\n1. Company Score (0-50): Based on company size, industry (AWS/tech companies score higher), revenue potential\\n2. Role Score (0-30): Title relevance (Account Executive/Manager scores high), decision-making authority, seniority level\\n3. Engagement Score (0-20): Response time, interaction quality, intent signals, LinkedIn presence\\n\\nReturn ONLY valid JSON in this exact format:\\n{\\n  \\\"company_score\\\": 0-50,\\n  \\\"role_score\\\": 0-30,\\n  \\\"engagement_score\\\": 0-20,\\n  \\\"total_score\\\": 0-100,\\n  \\\"recommendation\\\": \\\"high_priority\\\" | \\\"medium_priority\\\" | \\\"low_priority\\\",\\n  \\\"reasoning\\\": \\\"Brief explanation of scoring\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Lead Data:\\n{{JSON.stringify($json.normalized, null, 2)}}\\n\\nKey Points:\\n- Company: {{$json.normalized.pdl_company_name || $json.normalized.company || 'Unknown'}}\\n- Title: {{$json.normalized.pdl_job_title || $json.normalized.title || 'Unknown'}}\\n- Seniority: {{$json.normalized.pdl_seniority || 'Unknown'}}\\n- Is Sales Role: {{$json.normalized.pdl_is_sales_role || false}}\\n- Industry: {{$json.normalized.pdl_industry || 'Unknown'}}\\n- LinkedIn: {{$json.normalized.pdl_linkedin_url ? 'Yes' : 'No'}}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 500,\n  \"top_p\": 0.9\n}",
        "options": {}
      },
      "id": "3a3dd468-2308-49ca-bda1-edf815e6d9ee",
      "name": "OpenAI ICP Scoring V3.0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        140
      ],
      "credentials": {
        "openAiApi": {
          "id": "mOlpqc0W6d2g5mVh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "appuBf0fTe8tp8ZaF"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tbljmIuoX3Qi28WIq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "person_email": "={{$node['Smart Field Mapper'].json.normalized.email}}",
            "review_reason": "missing_key_data",
            "priority": "Medium",
            "queued_date": "={{DateTime.now().toISO()}}",
            "review_notes": "PDL Person API failed - requires manual review"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "person_email",
              "displayName": "person_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_reason",
              "displayName": "review_reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "low_confidence_score",
                  "value": "low_confidence_score"
                },
                {
                  "name": "missing_key_data",
                  "value": "missing_key_data"
                },
                {
                  "name": "unusual_domain",
                  "value": "unusual_domain"
                },
                {
                  "name": "international_phone",
                  "value": "international_phone"
                },
                {
                  "name": "duplicate_concern",
                  "value": "duplicate_concern"
                },
                {
                  "name": "manual_flag",
                  "value": "manual_flag"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "queued_date",
              "displayName": "queued_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Approve",
                  "value": "Approve"
                },
                {
                  "name": "Reject",
                  "value": "Reject"
                },
                {
                  "name": "Modify",
                  "value": "Modify"
                },
                {
                  "name": "Research_Needed",
                  "value": "Research_Needed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_by",
              "displayName": "reviewed_by",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed_date",
              "displayName": "reviewed_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "completed",
              "displayName": "completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "12a264f8-242d-4278-9f1c-d4885aa187a3",
      "name": "Add to Human Review Queue",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        60,
        560
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "WdyZ25N0TLnykzMq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ICP Response Processor V3.4 - FIXED AIRTABLE FIELD COMPATIBILITY\n// Parses OpenAI chat completion with proper field value mapping\n\nconst aiResp = $json;\nconst leadData = $node['PDL Person Processor'].json.normalized;\n\n// Base result object\nlet scoringResult = {\n  ...leadData,\n  icp_scoring_attempted: true,\n  icp_scoring_date: new Date().toISOString(),\n  openai_cost: 0.001\n};\n\n// Helper: try to extract text from various response shapes\nconst respText =\n  aiResp?.choices?.[0]?.message?.content ??\n  aiResp?.content?.[0]?.text ??\n  null;\n\nif (respText) {\n  try {\n    // CRITICAL FIX: Handle markdown-wrapped JSON from OpenAI\n    let jsonText = respText.trim();\n    \n    // Remove markdown code blocks if present\n    if (jsonText.startsWith('```json')) {\n      jsonText = jsonText.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n    } else if (jsonText.startsWith('```')) {\n      jsonText = jsonText.replace(/^```\\s*/, '').replace(/\\s*```$/, '');\n    }\n    \n    const scoreData = JSON.parse(jsonText.trim());\n\n    scoringResult.icp_score = scoreData.total_score ?? 0;\n    scoringResult.company_score = scoreData.company_score ?? 0;\n    scoringResult.role_score = scoreData.role_score ?? 0;\n    scoringResult.engagement_score = scoreData.engagement_score ?? 0;\n    scoringResult.score_reasoning = scoreData.reasoning ?? 'AI scoring';\n    scoringResult.scoring_confidence = scoreData.confidence ?? 0.8;\n    // CRITICAL FIX: Use Airtable-compatible field value\n    scoringResult.scoring_method_used = 'claude_ai'; // OpenAI maps to claude_ai for Airtable compatibility\n    scoringResult.ai_success = true;\n    scoringResult.ai_error = null;\n\n    // Tiering based on actual AI score\n    if (scoringResult.icp_score >= 90) scoringResult.icp_tier = 'Ultra';\n    else if (scoringResult.icp_score >= 75) scoringResult.icp_tier = 'High';\n    else if (scoringResult.icp_score >= 70) scoringResult.icp_tier = 'Medium';\n    else if (scoringResult.icp_score >= 50) scoringResult.icp_tier = 'Low';\n    else scoringResult.icp_tier = 'Archive';\n  } catch (err) {\n    console.log('AI response JSON parse failed', err.message);\n    scoringResult.ai_success = false;\n    scoringResult.ai_error = err.message;\n    const fallbackData = calculateDomainFallback(leadData);\n    scoringResult = { ...scoringResult, ...fallbackData };\n  }\n} else {\n  // No usable text – fallback\n  scoringResult.ai_success = false;\n  scoringResult.ai_error = 'Empty or unrecognised response';\n  const fallbackData = calculateDomainFallback(leadData);\n  scoringResult = { ...scoringResult, ...fallbackData };\n}\n\nfunction calculateDomainFallback(data) {\n  let companyScore = 8;\n  let roleScore = 0;\n  let engagementScore = 0;\n\n  const emailDomain = data.email ? data.email.split('@')[1] : '';\n  const domainScores = {\n    'salesforce.com': 15, 'hubspot.com': 15, 'microsoft.com': 15,\n    'zoom.us': 15, 'slack.com': 15, 'atlassian.com': 15,\n    'accenture.com': 5, 'deloitte.com': 5, 'shi.com': 12\n  };\n  companyScore = domainScores[emailDomain] || 8;\n\n  const title = (data.pdl_job_title || data.title || '').toLowerCase();\n  if (title.includes('account executive') || title.includes('ae')) {\n    roleScore = title.includes('enterprise') || title.includes('strategic') ? 25 : 20;\n  } else if (title.includes('account director') || title.includes('account manager')) {\n    roleScore = 18;\n  } else if (title.includes('sales manager') || title.includes('team lead')) {\n    roleScore = 10;\n  } else if (title.includes('vp') || title.includes('director')) {\n    roleScore = 8;\n  } else if (title.includes('sdr') || title.includes('bdr')) {\n    roleScore = 3;\n  }\n\n  if (data.interested_in_coaching === true) engagementScore += 15;\n  if (data.source_form?.toLowerCase().includes('webinar')) engagementScore += 8;\n  if (data.pdl_linkedin_url || data.linkedin_url) engagementScore += 5;\n\n  const totalScore = Math.min(companyScore + roleScore + engagementScore, 100);\n  let tier = 'Archive';\n  if (totalScore >= 90) tier = 'Ultra';\n  else if (totalScore >= 75) tier = 'High';\n  else if (totalScore >= 70) tier = 'Medium';\n  else if (totalScore >= 50) tier = 'Low';\n\n  return {\n    icp_score: totalScore,\n    company_score: companyScore,\n    role_score: roleScore,\n    engagement_score: engagementScore,\n    icp_tier: tier,\n    score_reasoning: 'Domain fallback scoring – AI unavailable',\n    scoring_confidence: 0.7,\n    scoring_method_used: 'domain_fallback'\n  };\n}\n\n// CRITICAL FIX: Return items array for n8n Code node\nreturn [{ normalized: scoringResult }];"
      },
      "id": "8166bd91-62cc-460b-883e-f5c64e943ab1",
      "name": "ICP Response Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.normalized.icp_score}}",
              "rightValue": "70",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88323885-7979-4e6f-bb52-fd8a4bc378a6",
      "name": "Score-Based Routing V3.0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.unknownFields.length || 0}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db6b56a7-1f2b-4db7-837e-a908e8d9c35b",
      "name": "Check Unknown Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        680
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": ""
        },
        "table": {
          "__rl": true,
          "value": "tbl9cOmvkdcokyFmG",
          "mode": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{new Date().toISOString()}}",
            "unknown_fields": "={{$json.unmappedFields.join(', ')}}",
            "webhook_name": "kajabi",
            "original_payload": "={{JSON.stringify($json)}}",
            "mapping_success_rate": "={{$json.normalized.field_mapping_success_rate / 100}}",
            "reviewed": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webhook_name",
              "displayName": "webhook_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unknown_fields",
              "displayName": "unknown_fields",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "original_payload",
              "displayName": "original_payload",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mapping_success_rate",
              "displayName": "mapping_success_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e707fa37-9779-4fe0-ad0b-7c4dca4d252b",
      "name": "Log Unknown Fields",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1000,
        480
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "WdyZ25N0TLnykzMq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": ""
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": ""
        },
        "filterByFormula": "={{`{email} = '${$node[\"Smart Field Mapper\"].json.normalized.email}'`}}",
        "options": {}
      },
      "id": "a640160c-19f4-45d9-8e99-0326668745c3",
      "name": "Airtable Search (Dynamic)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1340,
        700
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "WdyZ25N0TLnykzMq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// DUPLICATE HANDLER - SIMPLIFIED FIX FOR EMPTY SEARCH RESULTS\n// Critical: Handle empty Airtable search results that stop workflow\n\nconst searchResults = $input.first()?.json || {};\n\n// Get the lead data from upstream nodes (before the search)\n// This is the key fix - we need to preserve data when search returns empty\nlet leadData = null;\n\n// Try to get data from the node that has our ICP scored data\ntry {\n  // Best source: Score-Based Routing (has ICP scores)\n  leadData = $node['Score-Based Routing V3.0']?.json?.normalized;\n  if (!leadData) {\n    // Fallback: ICP Response Processor\n    leadData = $node['ICP Response Processor']?.json?.normalized;\n  }\n  if (!leadData) {\n    // Fallback: Check Unknown Fields\n    leadData = $node['Check Unknown Fields']?.json?.normalized;\n  }\n  if (!leadData) {\n    // Last resort: Smart Field Mapper\n    leadData = $node['Smart Field Mapper']?.json?.normalized;\n  }\n} catch (err) {\n  console.error('Error retrieving lead data:', err);\n}\n\n// CRITICAL FIX: If we have no lead data, this is an empty search result\n// We must return the original data to continue the workflow\nif (!leadData || !leadData.email) {\n  console.error('No lead data found - workflow would stop here!');\n  // Return minimal data to prevent workflow termination\n  return {\n    duplicate: false,\n    duplicateCount: 0,\n    normalized: {\n      email: 'unknown@error.com',\n      error: 'Data flow interrupted at Airtable Search'\n    }\n  };\n}\n\n// Check if we found duplicates\nconst hasDuplicates = searchResults.id || (searchResults.records && searchResults.records.length > 0);\n\nif (hasDuplicates) {\n  // Duplicate found\n  const existingRecord = searchResults.records ? searchResults.records[0] : searchResults;\n  return {\n    duplicate: true,\n    duplicateCount: (existingRecord.fields?.duplicate_count || 0) + 1,\n    recordId: existingRecord.id,\n    normalized: leadData\n  };\n} else {\n  // No duplicate - create new record\n  return {\n    duplicate: false,\n    duplicateCount: 0,\n    normalized: leadData\n  };\n}"
      },
      "id": "a8ab252a-395a-418a-8e3a-c543d9d13a7c",
      "name": "Duplicate Handler (Dynamic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.duplicate}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e53a67b4-a7c0-45ff-ae35-8eda6b11f9c1",
      "name": "Route by Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        700
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": ""
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "duplicate_count": "={{$json.duplicateCount}}",
            "icp_score": "={{$json.normalized.icp_score}}",
            "field_mapping_success_rate": "={{$json.normalized.field_mapping_success_rate}}",
            "created_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "id": "={{$json.recordId}}",
            "last_name": "={{$json.normalized.last_name}}",
            "phone_primary": "={{$json.normalized.phone_primary}}",
            "lead_status": "New",
            "reengagement_count": 0,
            "webhook_field_count": 0,
            "mapped_field_count": 0,
            "apollo_org_cost": 0,
            "apollo_person_cost": 0,
            "twilio_cost": 0,
            "claude_cost": 0,
            "total_processing_cost": 0,
            "icp_tier": "={{$json.normalized.icp_tier || 'Archive'}}",
            "score_breakdown": "={{$json.normalized.score_reasoning}}",
            "scoring_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "scoring_method_used": "={{$json.normalized.scoring_method_used}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_primary",
              "displayName": "phone_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_type",
              "displayName": "phone_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "mobile",
                  "value": "mobile"
                },
                {
                  "name": "landline",
                  "value": "landline"
                },
                {
                  "name": "voip",
                  "value": "voip"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_enriched",
              "displayName": "phone_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_input",
              "displayName": "company_input",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_enriched",
              "displayName": "company_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_current",
              "displayName": "title_current",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_tier",
              "displayName": "icp_tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ultra",
                  "value": "Ultra"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Engaged",
                  "value": "Engaged"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interested_in_coaching",
              "displayName": "interested_in_coaching",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kajabi_id",
              "displayName": "kajabi_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_enriched",
              "displayName": "last_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent",
              "displayName": "sms_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent_time",
              "displayName": "sms_sent_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_clicked",
              "displayName": "sms_clicked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_click_time",
              "displayName": "sms_click_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opted_out",
              "displayName": "sms_opted_out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opt_out_time",
              "displayName": "sms_opt_out_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_booked",
              "displayName": "meeting_booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_breakdown",
              "displayName": "score_breakdown",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_date",
              "displayName": "scoring_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method",
              "displayName": "scoring_method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ai",
                  "value": "ai"
                },
                {
                  "name": "domain",
                  "value": "domain"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ready_for_sms",
              "displayName": "ready_for_sms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "should_enrich_phone",
              "displayName": "should_enrich_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reengagement_count",
              "displayName": "reengagement_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_activity",
              "displayName": "last_activity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "test_mode_record",
              "displayName": "test_mode_record",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "international_phone",
              "displayName": "international_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "duplicate_count",
              "displayName": "duplicate_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "routing",
              "displayName": "routing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "auto_qualify",
                  "value": "auto_qualify"
                },
                {
                  "name": "phase1_fail",
                  "value": "phase1_fail"
                },
                {
                  "name": "phase2_fail",
                  "value": "phase2_fail"
                },
                {
                  "name": "data_gaps",
                  "value": "data_gaps"
                },
                {
                  "name": "international",
                  "value": "international"
                },
                {
                  "name": "human_review",
                  "value": "human_review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Reviewed",
                  "value": "Reviewed"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_started",
              "displayName": "processing_started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_completed",
              "displayName": "processing_completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_attempted",
              "displayName": "enrichment_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_found",
              "displayName": "title_found",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_verified",
              "displayName": "company_verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_failed",
              "displayName": "enrichment_failed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Communications",
              "displayName": "Communications",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qualified_lead",
              "displayName": "qualified_lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "field_mapping_success_rate",
              "displayName": "field_mapping_success_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "normalization_version",
              "displayName": "normalization_version",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_webhook_data",
              "displayName": "raw_webhook_data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "validation_errors",
              "displayName": "validation_errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webhook_field_count",
              "displayName": "webhook_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mapped_field_count",
              "displayName": "mapped_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unknown_field_list",
              "displayName": "unknown_field_list",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_attempted",
              "displayName": "phase1_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_passed",
              "displayName": "phase1_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_attempted",
              "displayName": "phase2_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_passed",
              "displayName": "phase2_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_attempted",
              "displayName": "scoring_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method_used",
              "displayName": "scoring_method_used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "claude_ai",
                  "value": "claude_ai"
                },
                {
                  "name": "domain_fallback",
                  "value": "domain_fallback"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_org_cost",
              "displayName": "apollo_org_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_person_cost",
              "displayName": "apollo_person_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "twilio_cost",
              "displayName": "twilio_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "claude_cost",
              "displayName": "claude_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_processing_cost",
              "displayName": "total_processing_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_country_code",
              "displayName": "phone_country_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "requires_international_handling",
              "displayName": "requires_international_handling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_original",
              "displayName": "phone_original",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_recent",
              "displayName": "phone_recent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_validated",
              "displayName": "phone_validated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "55c25e56-aa97-4d1c-b293-81cf83ba117c",
      "name": "Airtable Upsert (Dynamic)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1920,
        540
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "WdyZ25N0TLnykzMq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{$json.normalized.email}}",
            "first_name": "={{$json.normalized.first_name}}",
            "last_name": "={{$json.normalized.last_name}}",
            "company_input": "={{$json.normalized.company}}",
            "title_current": "={{$json.normalized.pdl_job_title || $json.normalized.pdl_current_title || $json.normalized.title}}",
            "phone_primary": "={{$json.normalized.phone}}",
            "linkedin_url": "={{$json.normalized.pdl_linkedin_url || $json.normalized.linkedin_url}}",
            "interested_in_coaching": "={{$json.normalized.interested_in_coaching}}",
            "qualified_lead": "={{$json.normalized.qualified_lead}}",
            "lead_status": "New",
            "created_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "icp_score": "={{$json.normalized.icp_score || 0}}",
            "icp_tier": "={{$json.normalized.icp_tier || 'Archive'}}",
            "field_mapping_success_rate": "={{$json.normalized.field_mapping_success_rate}}",
            "reengagement_count": 0,
            "duplicate_count": 0,
            "webhook_field_count": 0,
            "mapped_field_count": 0,
            "apollo_org_cost": 0,
            "apollo_person_cost": 0,
            "twilio_cost": 0,
            "claude_cost": 0,
            "total_processing_cost": 0,
            "company_enriched": "={{$json.normalized.pdl_company_name || $json.normalized.pdl_current_company}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_primary",
              "displayName": "phone_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_type",
              "displayName": "phone_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "mobile",
                  "value": "mobile"
                },
                {
                  "name": "landline",
                  "value": "landline"
                },
                {
                  "name": "voip",
                  "value": "voip"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_enriched",
              "displayName": "phone_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_input",
              "displayName": "company_input",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_enriched",
              "displayName": "company_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_current",
              "displayName": "title_current",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_tier",
              "displayName": "icp_tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ultra",
                  "value": "Ultra"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Engaged",
                  "value": "Engaged"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interested_in_coaching",
              "displayName": "interested_in_coaching",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kajabi_id",
              "displayName": "kajabi_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_enriched",
              "displayName": "last_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent",
              "displayName": "sms_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent_time",
              "displayName": "sms_sent_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_clicked",
              "displayName": "sms_clicked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_click_time",
              "displayName": "sms_click_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opted_out",
              "displayName": "sms_opted_out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opt_out_time",
              "displayName": "sms_opt_out_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_booked",
              "displayName": "meeting_booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_breakdown",
              "displayName": "score_breakdown",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_date",
              "displayName": "scoring_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method",
              "displayName": "scoring_method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ai",
                  "value": "ai"
                },
                {
                  "name": "domain",
                  "value": "domain"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ready_for_sms",
              "displayName": "ready_for_sms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "should_enrich_phone",
              "displayName": "should_enrich_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reengagement_count",
              "displayName": "reengagement_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_activity",
              "displayName": "last_activity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "test_mode_record",
              "displayName": "test_mode_record",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "international_phone",
              "displayName": "international_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "duplicate_count",
              "displayName": "duplicate_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "routing",
              "displayName": "routing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "auto_qualify",
                  "value": "auto_qualify"
                },
                {
                  "name": "phase1_fail",
                  "value": "phase1_fail"
                },
                {
                  "name": "phase2_fail",
                  "value": "phase2_fail"
                },
                {
                  "name": "data_gaps",
                  "value": "data_gaps"
                },
                {
                  "name": "international",
                  "value": "international"
                },
                {
                  "name": "human_review",
                  "value": "human_review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Reviewed",
                  "value": "Reviewed"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_started",
              "displayName": "processing_started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_completed",
              "displayName": "processing_completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_attempted",
              "displayName": "enrichment_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_found",
              "displayName": "title_found",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_verified",
              "displayName": "company_verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_failed",
              "displayName": "enrichment_failed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Communications",
              "displayName": "Communications",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qualified_lead",
              "displayName": "qualified_lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "field_mapping_success_rate",
              "displayName": "field_mapping_success_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "normalization_version",
              "displayName": "normalization_version",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_webhook_data",
              "displayName": "raw_webhook_data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "validation_errors",
              "displayName": "validation_errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webhook_field_count",
              "displayName": "webhook_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mapped_field_count",
              "displayName": "mapped_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unknown_field_list",
              "displayName": "unknown_field_list",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_attempted",
              "displayName": "phase1_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_passed",
              "displayName": "phase1_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_attempted",
              "displayName": "phase2_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_passed",
              "displayName": "phase2_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_attempted",
              "displayName": "scoring_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method_used",
              "displayName": "scoring_method_used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "claude_ai",
                  "value": "claude_ai"
                },
                {
                  "name": "domain_fallback",
                  "value": "domain_fallback"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_org_cost",
              "displayName": "apollo_org_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_person_cost",
              "displayName": "apollo_person_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "twilio_cost",
              "displayName": "twilio_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "claude_cost",
              "displayName": "claude_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_processing_cost",
              "displayName": "total_processing_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_country_code",
              "displayName": "phone_country_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "requires_international_handling",
              "displayName": "requires_international_handling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_original",
              "displayName": "phone_original",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_recent",
              "displayName": "phone_recent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_validated",
              "displayName": "phone_validated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9420d8a9-838b-4dc1-b5b3-55c7169e43b4",
      "name": "Airtable Create (Dynamic)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1940,
        820
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "WdyZ25N0TLnykzMq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Archive Low Scores - Phase 2B\n// Processes leads with ICP scores below qualification threshold\n\nconst leadData = $json.normalized;\n\n// Log archival reason\nconsole.log(`Archiving lead ${leadData.email} - ICP Score: ${leadData.icp_score}, Tier: ${leadData.icp_tier}`);\n\n// Set archival metadata\nconst archivedLead = {\n  ...leadData,\n  archived_date: new Date().toISOString(),\n  archived_reason: 'icp_score_below_threshold',\n  routing: 'archive',\n  processing_status: 'Archived',\n  processing_completed: new Date().toISOString()\n};\n\n// Return processed data for Airtable storage\nreturn { normalized: archivedLead };"
      },
      "id": "5036d9cd-6336-4d17-8996-34731ea9490c",
      "name": "Archive Low Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        440
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{$json.normalized.email}}",
            "first_name": "={{$json.normalized.first_name}}",
            "last_name": "={{$json.normalized.last_name}}",
            "company_input": "={{$json.normalized.company}}",
            "title_current": "={{$json.normalized.pdl_job_title || $json.normalized.title}}",
            "phone_primary": "={{$json.normalized.phone}}",
            "linkedin_url": "={{$json.normalized.pdl_linkedin_url || $json.normalized.linkedin_url}}",
            "interested_in_coaching": "={{$json.normalized.interested_in_coaching}}",
            "qualified_lead": "={{$json.normalized.qualified_lead}}",
            "lead_status": "New",
            "created_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "icp_score": "={{$json.normalized.icp_score}}",
            "icp_tier": "={{$json.normalized.icp_tier}}",
            "score_breakdown": "={{$json.normalized.score_reasoning}}",
            "scoring_date": "={{DateTime.now().toFormat('M/d/yyyy')}}",
            "scoring_method_used": "domain_fallback",
            "processing_status": "Archived",
            "field_mapping_success_rate": "={{$json.normalized.field_mapping_success_rate}}",
            "reengagement_count": 0,
            "duplicate_count": 0,
            "webhook_field_count": 0,
            "mapped_field_count": 0,
            "apollo_org_cost": 0,
            "apollo_person_cost": 0,
            "twilio_cost": 0,
            "claude_cost": 0,
            "total_processing_cost": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_primary",
              "displayName": "phone_primary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_type",
              "displayName": "phone_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "mobile",
                  "value": "mobile"
                },
                {
                  "name": "landline",
                  "value": "landline"
                },
                {
                  "name": "voip",
                  "value": "voip"
                },
                {
                  "name": "unknown",
                  "value": "unknown"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_enriched",
              "displayName": "phone_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_input",
              "displayName": "company_input",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_enriched",
              "displayName": "company_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_current",
              "displayName": "title_current",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_tier",
              "displayName": "icp_tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ultra",
                  "value": "Ultra"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_source",
              "displayName": "lead_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Engaged",
                  "value": "Engaged"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Meeting Scheduled",
                  "value": "Meeting Scheduled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interested_in_coaching",
              "displayName": "interested_in_coaching",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kajabi_id",
              "displayName": "kajabi_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_enriched",
              "displayName": "last_enriched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent",
              "displayName": "sms_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_sent_time",
              "displayName": "sms_sent_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_clicked",
              "displayName": "sms_clicked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_click_time",
              "displayName": "sms_click_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opted_out",
              "displayName": "sms_opted_out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sms_opt_out_time",
              "displayName": "sms_opt_out_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_booked",
              "displayName": "meeting_booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meeting_time",
              "displayName": "meeting_time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score_breakdown",
              "displayName": "score_breakdown",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_date",
              "displayName": "scoring_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method",
              "displayName": "scoring_method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ai",
                  "value": "ai"
                },
                {
                  "name": "domain",
                  "value": "domain"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ready_for_sms",
              "displayName": "ready_for_sms",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "should_enrich_phone",
              "displayName": "should_enrich_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reengagement_count",
              "displayName": "reengagement_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_activity",
              "displayName": "last_activity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "test_mode_record",
              "displayName": "test_mode_record",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "international_phone",
              "displayName": "international_phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "duplicate_count",
              "displayName": "duplicate_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "routing",
              "displayName": "routing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "auto_qualify",
                  "value": "auto_qualify"
                },
                {
                  "name": "phase1_fail",
                  "value": "phase1_fail"
                },
                {
                  "name": "phase2_fail",
                  "value": "phase2_fail"
                },
                {
                  "name": "data_gaps",
                  "value": "data_gaps"
                },
                {
                  "name": "international",
                  "value": "international"
                },
                {
                  "name": "human_review",
                  "value": "human_review"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewed",
              "displayName": "reviewed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_status",
              "displayName": "processing_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Reviewed",
                  "value": "Reviewed"
                },
                {
                  "name": "Archived",
                  "value": "Archived"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_started",
              "displayName": "processing_started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_completed",
              "displayName": "processing_completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_attempted",
              "displayName": "enrichment_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title_found",
              "displayName": "title_found",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company_verified",
              "displayName": "company_verified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "enrichment_failed",
              "displayName": "enrichment_failed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Communications",
              "displayName": "Communications",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qualified_lead",
              "displayName": "qualified_lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "field_mapping_success_rate",
              "displayName": "field_mapping_success_rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "normalization_version",
              "displayName": "normalization_version",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_webhook_data",
              "displayName": "raw_webhook_data",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "validation_errors",
              "displayName": "validation_errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webhook_field_count",
              "displayName": "webhook_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mapped_field_count",
              "displayName": "mapped_field_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "unknown_field_list",
              "displayName": "unknown_field_list",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_attempted",
              "displayName": "phase1_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase1_passed",
              "displayName": "phase1_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_attempted",
              "displayName": "phase2_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phase2_passed",
              "displayName": "phase2_passed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_attempted",
              "displayName": "scoring_attempted",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "scoring_method_used",
              "displayName": "scoring_method_used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "claude_ai",
                  "value": "claude_ai"
                },
                {
                  "name": "domain_fallback",
                  "value": "domain_fallback"
                },
                {
                  "name": "manual",
                  "value": "manual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_org_cost",
              "displayName": "apollo_org_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "apollo_person_cost",
              "displayName": "apollo_person_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "twilio_cost",
              "displayName": "twilio_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "claude_cost",
              "displayName": "claude_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_processing_cost",
              "displayName": "total_processing_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_country_code",
              "displayName": "phone_country_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "requires_international_handling",
              "displayName": "requires_international_handling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_original",
              "displayName": "phone_original",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_recent",
              "displayName": "phone_recent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone_validated",
              "displayName": "phone_validated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8e80a8a0-f3b2-464d-aa7e-9e9f7af32d9e",
      "name": "Archive to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "WdyZ25N0TLnykzMq",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Kajabi Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key (Dynamic)": {
      "main": [
        [
          {
            "node": "Smart Field Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Field Mapper": {
      "main": [
        [
          {
            "node": "PDL Person Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Enrichment": {
      "main": [
        [
          {
            "node": "PDL Person Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Processor": {
      "main": [
        [
          {
            "node": "PDL Person Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDL Person Routing": {
      "main": [
        [
          {
            "node": "OpenAI ICP Scoring V3.0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Human Review Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI ICP Scoring V3.0": {
      "main": [
        [
          {
            "node": "ICP Response Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP Response Processor": {
      "main": [
        [
          {
            "node": "Score-Based Routing V3.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score-Based Routing V3.0": {
      "main": [
        [
          {
            "node": "Check Unknown Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Low Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Unknown Fields": {
      "main": [
        [
          {
            "node": "Log Unknown Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Search (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unknown Fields": {
      "main": [
        [
          {
            "node": "Airtable Search (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Search (Dynamic)": {
      "main": [
        [
          {
            "node": "Duplicate Handler (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Handler (Dynamic)": {
      "main": [
        [
          {
            "node": "Route by Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Duplicate": {
      "main": [
        [
          {
            "node": "Airtable Upsert (Dynamic)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Create (Dynamic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Low Scores": {
      "main": [
        [
          {
            "node": "Archive to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72d35b18-6ba5-4878-9c61-a9cf2d3aad8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a636351bc32ed33e9cea59b76d232bd10caf6926c3e9fa80d47901eda407040"
  },
  "id": "Q2ReTnOliUTuuVpl",
  "tags": []
}