workflows/backups/UYSP Backlog Ingestion.json
{
  "name": "UYSP Backlog Ingestion",
  "nodes": [
    {
      "parameters": {},
      "id": "mt",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const x=$json||{};\nfunction sanitizeEmail(v){ if(!v) return ''; return String(v).trim().toLowerCase().replace(/[\\s]+/g,'').replace(/[\\.,;:]+$/, ''); }\nfunction normalizePhone(v){ if(!v) return ''; let s=String(v).trim(); if(s.startsWith('+')) s='+'+s.slice(1).replace(/[^0-9]/g,''); else s=s.replace(/[^0-9]/g,''); if(s.startsWith('+')) return s; if(s.length===11 && s.startsWith('1')) return '+1'+s.slice(1); if(s.length===10) return '+1'+s; return s; }\nfunction deriveDomain(email){ const at=String(email||'').split('@')[1]; return at||''; }\nconst email=sanitizeEmail(x.email || x.Email || '');\nconst phone=normalizePhone(x.phone || x.Phone || '');\nconst first=x.first_name || x.firstName || x.first || '';\nconst last=x.last_name || x.lastName || x.last || '';\nconst company=String(x.company || x.Company || '');\nconst title=String(x.title || x.job_title || '');\nconst domain=deriveDomain(email);\nconst phoneDigits=phone.replace(/\\D/g,'').replace(/^1/,'');\nconst invalidPhone=phoneDigits.length!==10 || /^(.)\\1+$/.test(phoneDigits) || phoneDigits==='0000000000';\nlet hrqStatus='None', hrqReason='', processing='Queued';\nif(invalidPhone){ hrqStatus='Archive'; hrqReason='No valid phone'; processing='Complete'; }\nreturn { json: {\n  Email: email,\n  Phone: phone,\n  'First Name': first,\n  'Last Name': last,\n  Company: company,\n  Title: title,\n  'Company Domain': domain,\n  'HRQ Status': hrqStatus,\n  'HRQ Reason': hrqReason,\n  Source: 'Backlog',\n  'Processing Status': processing\n}};"
      },
      "id": "norm",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4wIsBfpJTg7pWS",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{$json.Email}}",
            "Phone": "={{$json.Phone}}",
            "First Name": "={{$json['First Name']}}",
            "Last Name": "={{$json['Last Name']}}",
            "Company": "={{$json['Company']}}",
            "Company Domain": "={{$json['Company Domain']}}",
            "Linkedin URL - Person": "={{$json['Linkedin URL - Person']}}",
            "Kajabi Tags": "={{$json['Kajabi Tags']}}",
            "Coaching Tier": "={{$json['Coaching Tier']}}",
            "Current Coaching Client": "={{$json['Current Coaching Client']}}",
            "Interested in Coaching": "={{$json['Interested in Coaching']}}",
            "Processing Status": "={{$json['Processing Status']}}",
            "Source": "={{$json.Source}}",
            "HRQ Status": "={{$json['HRQ Status']}}",
            "HRQ Reason": "={{$json['HRQ Reason']}}",
            "SMS Campaign ID": "={{$json['SMS Campaign ID']}}",
            "Company Score Component": 0,
            "Role Score Component": 0,
            "Dynamic Signals Score": 0,
            "SMS Sequence Position": 0,
            "SMS Sent Count": 0,
            "SMS Cost": 0,
            "Data Quality Score": 0,
            "Total Processing Cost": 0,
            "Processing Duration": 0
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "air",
      "name": "Create New Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        272,
        -192
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/13zn4hMDC4wUSmSY12g-_tU74N3wlsBLX1fhjQrQpxik/export?format=csv&gid=1264650769",
        "options": {}
      },
      "id": "af3b6a71-88c2-412a-a0d3-6d9c02d31685",
      "name": "Fetch CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().binary?.data || $input.first().json?.data || $input.first().json?.body || '';\nconst text = Buffer.isBuffer(body) ? body.toString('utf8') : String(body);\nconst normalized = text.replace(/\\r\\n/g, '\\n').trim();\nif (!normalized) return [];\nconst lines = normalized.split('\\n').filter(l => l.trim().length > 0);\nconst headerLine = lines.shift();\nfunction parseCsvLine(line){\n  const out=[]; let cur=''; let inQ=false;\n  for (let i=0;i<line.length;i++){\n    const ch=line[i];\n    if(inQ){\n      if(ch==='\\\"'){\n        if(line[i+1]==='\\\"'){ cur+='\\\"'; i++; } else { inQ=false; }\n      } else { cur+=ch; }\n    } else {\n      if(ch==='\\\"'){ inQ=true; }\n      else if(ch===','){ out.push(cur); cur=''; }\n      else { cur+=ch; }\n    }\n  }\n  out.push(cur);\n  return out;\n}\nconst headerCells = parseCsvLine(headerLine).map(h=>h.trim());\nconst headersLower = headerCells.map(h=>h.toLowerCase());\nfunction idxExact(name){ return headersLower.indexOf(name.toLowerCase()); }\nfunction idxAny(names){ for(const n of names){ const i=idxExact(n); if(i>=0) return i; } return -1; }\nfunction idxIncludes(fragment){ const i=headersLower.findIndex(h=>h.includes(fragment.toLowerCase())); return i>=0?i:-1; }\nconst iFirst = idxAny(['First Name']);\nconst iLast = idxAny(['Last Name']);\nlet iEmail = idxAny(['Email','Email Address (email)','Email Address','email-address']);\nif(iEmail<0) iEmail = idxIncludes('email');\nlet iPhone = idxAny(['Mobile Phone Number (mobile_phone_number)','Phone Number (phone_number)','Mobile Number (custom_9)','Phone','phone']);\nif(iPhone<0) iPhone = idxIncludes('phone');\nconst iLinkedIn = idxAny(['LinkedIn Profile URL (custom_29)']);\nconst iTags = (()=>{ const names = [\n  'TAGS - new import (custom_68)',\n  'Tags','Tag','tags','tag','labels','Labels','Label','Tag List','Tags (comma separated)','Tag(s)'\n]; const i=idxAny(names); return i>=0?i:idxIncludes('tag'); })();\nconst iInterestedA = idxAny(['Are you interested in learning more about coaching with Ian? (custom_67)']);\nconst iInterestedB = idxAny(['Are you interested in learning more about coaching with Ian?. (custom_70)']);\nconst iCompany = (()=>{ const names=['Company Name (custom_10)','Company (custom_1)','Company.','Company Name','Company']; const i=idxAny(names); return i>=0?i:idxIncludes('company');})();\nconst iCampaignId = idxAny(['Campaign ID','SMS Campaign ID','Campaign','campaign_id']);\nfunction toObj(row){\n  function val(i){ return i>=0 ? String(row[i]||'').trim() : ''; }\n  return {\n    email: val(iEmail), phone: val(iPhone), first_name: val(iFirst), last_name: val(iLast),\n    linkedin_url: val(iLinkedIn), tags: val(iTags),\n    interested_a: val(iInterestedA), interested_b: val(iInterestedB),\n    company: val(iCompany), campaign_id: val(iCampaignId)\n  };\n}\nfunction toItem(obj){\n  return { json: {\n    email: obj.email, phone: obj.phone, first_name: obj.first_name, last_name: obj.last_name,\n    linkedin_url: obj.linkedin_url, tags: obj.tags,\n    prev_level: '', new_level: '', cur_level: '', mem37: '',\n    membership_update: '', why_not_renew: '',\n    interested_a: obj.interested_a, interested_b: obj.interested_b,\n    company: obj.company, campaign_id: obj.campaign_id\n  }};\n}\nconst items=[];\nfor (const line of lines){\n  const row = parseCsvLine(line);\n  while(row.length < headerCells.length) row.push('');\n  const obj = toObj(row);\n  const isBlank = [obj.email,obj.phone,obj.first_name,obj.last_name,obj.company,obj.tags,obj.linkedin_url,obj.interested_a,obj.interested_b,obj.campaign_id]\n    .every(v => String(v||'').trim().length === 0);\n  if (isBlank) continue;\n  items.push(toItem(obj));\n}\nreturn items;"
      },
      "id": "8f44ea99-1e29-4c41-9e1a-b85feaade69c",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4wIsBfpJTg7pWS",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblYUvhGADerbD8EO",
          "mode": "list"
        },
        "returnAll": true,
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "Email"
          }
        },
        "options": {}
      },
      "id": "get-all-emails",
      "name": "Get All Existing Emails",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -400,
        -50
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newLeadsRaw = $items('Parse CSV');\nconst existingLeadsRaw = $items('Get All Existing Emails');\n\nconst existingEmails = new Set(existingLeadsRaw.map(i => (i.json.Email || '').toLowerCase().trim()).filter(e => e));\n\nconst newLeads = [];\nconst duplicateLeads = [];\n\nfor (const item of newLeadsRaw) {\n  const email = (item.json.email || '').toLowerCase().trim();\n  if (email && existingEmails.has(email)) {\n    duplicateLeads.push(item);\n  } else {\n    newLeads.push(item);\n  }\n}\n\n// n8n requires returning an array of arrays for multiple outputs.\n// Output 1: New Leads\n// Output 2: Duplicate Leads\nreturn [newLeads, duplicateLeads];"
      },
      "id": "filter-duplicates",
      "name": "Filter New vs. Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -50
      ],
      "executeOnce": true,
      "multiOutput": true
    },
    {
      "parameters": {
        "jsCode": "const createdItems = $items('Create New Leads');\nconst duplicateItems = $items('Filter New vs. Duplicate', 1);\n\nconst createdCount = createdItems.length;\nconst duplicateCount = duplicateItems.length;\n\nlet message = `*Bulk Import Summary*\\n\\n:white_check_mark: *${createdCount} new leads* were successfully imported.\\n\\n`;\n\nif (duplicateCount > 0) {\n  message += `:warning: *${duplicateCount} duplicate leads* were found and rejected.\\n`;\n  const duplicateEmails = duplicateItems.map(item => `  - ${item.json.email}`).join('\\n');\n  message += '```\\n' + duplicateEmails + '\\n```';\n} else {\n  message += ':thumbsup: No duplicate emails were found.';\n}\n\nreturn { json: { message } };"
      },
      "id": "prepare-summary",
      "name": "Prepare Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09D6U5BLG6",
          "mode": "list",
          "cachedResultName": "uysp-sales-daily"
        },
        "text": "={{$json.message}}",
        "otherOptions": {}
      },
      "id": "send-summary",
      "name": "Send Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CSV": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Get All Existing Emails",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter New vs. Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Existing Emails": {
      "main": [
        [
          {
            "node": "Filter New vs. Duplicate",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter New vs. Duplicate": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Summary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Create New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Leads": {
      "main": [
        [
          {
            "node": "Prepare Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary": {
      "main": [
        [
          {
            "node": "Send Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "versionId": "c31157d8-ccb2-4f0e-87cd-b6217fb905d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a636351bc32ed33e9cea59b76d232bd10caf6926c3e9fa80d47901eda407040"
  },
  "id": "qMXmmw4NUCh1qu8r",
  "tags": []
}