workflows/UYSP-ST-Delivery-V2-PRODUCTION-BACKUP-2025-08-29.json
{"name":"UYSP-ST-Delivery V2","nodes":[{"parameters":{"httpMethod":"POST","path":"simpletexting-delivery","options":{}},"id":"507b0986-061b-46b3-a613-b92385d54cdf","name":"Webhook (ST Delivery)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-496,192],"webhookId":"b0fc0d9d-18e5-4a9a-af2b-3c71072e7765"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const raw = $json || {};\nconst body = raw.body || raw;\nconst v = body.values || body || {};\nconst campaign_id = v.messageId || v.message_id || v.id || '';\nconst phone_digits = String(v.contactPhone || v.phone || v.to || '').replace(/\\D/g,'').replace(/^1/,'');\nconst delivered = v.delivered === true || String(v.status||'').toLowerCase()==='delivered';\nconst delivery_status = delivered ? 'Delivered' : 'Undelivered';\nconst carrier = v.carrier || '';\nreturn { json: { campaign_id, phone_digits, carrier, delivery_status } };"},"id":"36445e19-44d4-4f67-8171-2c58d25352c8","name":"Parse Delivery","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,192]},{"parameters":{"operation":"search","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"filterByFormula":"={{`OR({SMS Campaign ID}='${$json.campaign_id||''}', {Phone}='${$json.phone_digits||''}', {Phone}='+1${$json.phone_digits||''}')`}}","options":{}},"id":"e59b53a6-c268-47e4-a077-ef6f1fdec27c","name":"Find Lead (by Campaign/Phone)","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-48,32],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"operation":"update","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","SMS Status":"={{$json.delivery_status}}","Error Log":"={{$json.carrier ? 'Carrier: ' + $json.carrier : ''}}"},"matchingColumns":["id"]},"options":{"typecast":true}},"id":"5e0bdbf6-e134-4071-9a88-64f74ab53045","name":"Update Lead Delivery","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[192,32],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"authentication":"airtableTokenApi","resource":"record","operation":"create","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tbl5TOGNGdWXTjhzP"},"columns":{"mappingMode":"defineBelow","value":{"Event":"Delivery","Campaign ID":"={{ $('Parse Delivery').item.json.campaign_id || '' }}","Phone":"={{ $('Parse Delivery').item.json.phone_digits || '' }}","Status":"={{ $('Parse Delivery').item.json.delivery_status || 'unknown' }}","Carrier":"={{ $('Parse Delivery').item.json.carrier || '' }}","Lead Record ID":"={{ $('Find Lead (by Campaign/Phone)').item.json.id || '' }}","Delivery At":"={{ $now }}","Webhook Raw":"={{ JSON.stringify($('Parse Delivery').item.json) }}"},"matchingColumns":[]},"options":{"typecast":true}},"id":"d686a315-d5c6-404e-bd5f-cfbe7d1a2c16","name":"Write Audit Row","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[192,192],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"mode":"list","value":"C097CHUHNTG","__rl":true},"text":"={{ `[DELIVERY] ${$json.phone_digits||''} → ${$json.delivery_status||'unknown'}  Carrier: ${$json.carrier||''}  Campaign: ${$json.campaign_id||''}` }}","otherOptions":{}},"id":"afce85af-1252-40d7-9d31-33e702db2340","name":"Delivery Notify","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-32,320],"webhookId":"939ba3f5-1ecd-499f-8927-a32ed262f53b","credentials":{"slackOAuth2Api":{"id":"OyxQzoqNPQocHdnn","name":"Slack account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return $input.item;"},"id":"64a71d83-11b0-4860-80df-838537bae9bf","name":"Respond 200","type":"n8n-nodes-base.code","typeVersion":2,"position":[384,32]}],"connections":{"Webhook (ST Delivery)":{"main":[[{"node":"Parse Delivery","type":"main","index":0}]]},"Parse Delivery":{"main":[[{"node":"Find Lead (by Campaign/Phone)","type":"main","index":0},{"node":"Write Audit Row","type":"main","index":0},{"node":"Delivery Notify","type":"main","index":0}]]},"Find Lead (by Campaign/Phone)":{"main":[[{"node":"Update Lead Delivery","type":"main","index":0},{"node":"Write Audit Row","type":"main","index":0}]]},"Update Lead Delivery":{"main":[[{"node":"Respond 200","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
