workflows/uysp-lead-processing-COMPLETE-WORKING-v2.json
{
  "createdAt": "2025-07-21T22:15:00.000Z",
  "updatedAt": "2025-07-21T22:15:00.000Z",
  "id": "NEW_WORKFLOW_ID",
  "name": "UYSP Lead Processing - COMPLETE WORKING VERSION",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kajabi-leads",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Kajabi Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 180],
      "credentials": {
        "httpHeaderAuth": "VNS3JAPKgDxyNQa3"
      }
    },
    {
      "parameters": {
        "jsCode": "const VALID_API_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyOWQwYWM3Ni0xYjBlLTRmMGItYTlkZC1iNzEwZDI0NzZlZmEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzUyMDYzNTE4LCJleHAiOjE3NTk3ODgwMDB9.IRZEs36NXR6WHcZb1PiC109S70tGKsmzP86zWpun3qg\";\n\nconst headers = $json.headers || {};\nconst apiKey = headers[\"x-api-key\"];\n\nif (!apiKey) {\n  throw new Error(\"Missing x-api-key header\");\n}\n\nif (apiKey !== VALID_API_KEY) {\n  throw new Error(\"Invalid API key\");\n}\n\nconsole.log(\"API Key validation successful\");\nreturn $json;"
      },
      "id": "api-validation",
      "name": "API Key Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 180]
    },
    {
      "parameters": {
        "jsCode": "const fieldMappings = {\n  email: ['email', 'Email', 'EMAIL', 'email_address', 'emailAddress', 'e-mail', 'contact_email'],\n  phone: ['phone', 'Phone', 'PHONE', 'phone_number', 'phoneNumber', 'mobile', 'cell'],\n  first_name: ['first_name', 'firstName', 'fname', 'given_name'],\n  last_name: ['last_name', 'lastName', 'lname', 'surname'],\n  full_name: ['name', 'Name', 'full_name', 'fullName'],\n  company: ['company', 'Company', 'company_name', 'organization'],\n  title: ['title', 'Title', 'job_title', 'role', 'position'],\n  linkedin: ['linkedin', 'LinkedIn', 'linkedin_url', 'linkedinProfile']\n};\n\nconst otherFields = {\n  source_form: ['source_form', 'source', 'form_name', 'utm_source'],\n  interested_in_coaching: ['interested_in_coaching', 'coaching_interest'],\n  request_id: ['request_id', 'requestId', 'request_ID']\n};\n\nconst normalized = {};\nconst unmappedFields = [];\nconst mappingLog = [];\n\nconst webhookData = $input.item.json;\nconst input = webhookData.body || webhookData;\n\nconsole.log('Input data received:', JSON.stringify(input, null, 2));\n\nObject.keys(fieldMappings).forEach(targetField => {\n  const variations = fieldMappings[targetField];\n  let found = false;\n  \n  for (const variation of variations) {\n    const inputKey = Object.keys(input).find(key => \n      key.toLowerCase() === variation.toLowerCase()\n    );\n    \n    if (inputKey && input[inputKey] !== undefined && input[inputKey] !== '') {\n      normalized[targetField] = input[inputKey];\n      mappingLog.push(`Mapped ${inputKey} → ${targetField}`);\n      found = true;\n      break;\n    }\n  }\n  \n  if (!found) {\n    normalized[targetField] = null;\n    mappingLog.push(`No mapping found for ${targetField}, set to null`);\n  }\n});\n\nObject.keys(otherFields).forEach(targetField => {\n  const variations = otherFields[targetField];\n  \n  for (const variation of variations) {\n    const inputKey = Object.keys(input).find(key => \n      key.toLowerCase() === variation.toLowerCase()\n    );\n    \n    if (inputKey && input[inputKey] !== undefined && input[inputKey] !== '') {\n      normalized[targetField] = input[inputKey];\n      mappingLog.push(`Mapped ${inputKey} → ${targetField}`);\n      break;\n    }\n  }\n});\n\nif (normalized.full_name && !normalized.first_name) {\n  const parts = normalized.full_name.split(' ');\n  normalized.first_name = parts[0] || null;\n  normalized.last_name = parts.slice(1).join(' ') || null;\n  mappingLog.push(`Split full_name into first/last`);\n}\n\nif (normalized.interested_in_coaching) {\n  const value = normalized.interested_in_coaching.toString().toLowerCase();\n  normalized.interested_in_coaching = ['yes', 'true', '1', 'on'].includes(value);\n}\n\nObject.keys(input).forEach(key => {\n  const wasMapped = mappingLog.some(log => log.includes(key));\n  if (!wasMapped) {\n    unmappedFields.push(key);\n  }\n});\n\nnormalized._mapping_metadata = {\n  original_field_count: Object.keys(input).length,\n  mapped_field_count: Object.keys(normalized).length - 1,\n  unmapped_fields: unmappedFields,\n  mapping_timestamp: new Date().toISOString(),\n  success_rate: ((Object.keys(normalized).length - 1) / Object.keys(input).length * 100).toFixed(2) + '%'\n};\n\nif (unmappedFields.length > 0) {\n  console.log('Unknown fields detected:', unmappedFields);\n}\n\nif (!normalized.email) {\n  throw new Error('CRITICAL: No email field found in payload. Cannot process lead.');\n}\n\nconsole.log('Normalized data:', JSON.stringify(normalized, null, 2));\nconsole.log('Mapping log:', mappingLog);\n\nreturn { \n  ...webhookData,\n  normalized,\n  unmappedFields,\n  mappingLog\n};"
      },
      "id": "field-mapper",
      "name": "Smart Field Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 180]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": "list"
        },
        "filterByFormula": "OR({email} = '{{ $json.normalized.email }}', {phone_primary} = '{{ $json.normalized.phone }}')",
        "returnAll": true,
        "options": {}
      },
      "id": "airtable-search",
      "name": "Airtable Duplicate Search",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [740, 180],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": "G40CUwPD7dTJJofz"
      }
    },
    {
      "parameters": {
        "jsCode": "const searchResults = $input.first().json;\nconst normalizedData = $node[\"Smart Field Mapper\"].json;\n\nconsole.log('Search Results from Airtable:', JSON.stringify(searchResults, null, 2));\nconsole.log('Normalized Data:', JSON.stringify(normalizedData.normalized, null, 2));\n\nconst hasRecords = searchResults.records && searchResults.records.length > 0;\n\nif (hasRecords) {\n  const existingRecord = searchResults.records[0];\n  const currentCount = existingRecord.fields.duplicate_count || 0;\n  const newCount = currentCount + 1;\n  \n  console.log(`DUPLICATE FOUND! Existing record: ${existingRecord.id}, current count: ${currentCount}, new count: ${newCount}`);\n  \n  return {\n    duplicate: true,\n    duplicateCount: newCount,\n    recordId: existingRecord.id,\n    existingFields: existingRecord.fields,\n    ...normalizedData\n  };\n} else {\n  console.log('NO DUPLICATE FOUND - Creating new record');\n  \n  return {\n    duplicate: false,\n    duplicateCount: 0,\n    recordId: null,\n    ...normalizedData\n  };\n}"
      },
      "id": "duplicate-handler",
      "name": "Duplicate Detection Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{$json.duplicate}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "duplicate-router",
      "name": "Duplicate Decision Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 180]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": "list"
        },
        "recordId": "={{ $json.recordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "duplicate_count": "={{$json.duplicateCount}}",
            "last_updated": "={{$now.toISO()}}",
            "reengagement_count": "={{ ($json.existingFields.reengagement_count || 0) + 1 }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable-update",
      "name": "Update Existing Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1400, 100],
      "credentials": {
        "airtableTokenApi": "G40CUwPD7dTJJofz"
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "resource": "record",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBf0fTe8tp8ZaF",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblSk2Ikg21932uE0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{$json.normalized.email}}",
            "first_name": "={{$json.normalized.first_name}}",
            "last_name": "={{$json.normalized.last_name}}",
            "phone_primary": "={{$json.normalized.phone}}",
            "company_input": "={{$json.normalized.company}}",
            "title_current": "={{$json.normalized.title}}",
            "linkedin_url": "={{$json.normalized.linkedin}}",
            "interested_in_coaching": "={{$json.normalized.interested_in_coaching}}",
            "request_id": "={{$json.normalized.request_id || $json.request_id}}",
            "lead_source": "={{$json.normalized.source_form}}",
            "lead_status": "New",
            "created_date": "={{$now.toISO()}}",
            "last_updated": "={{$now.toISO()}}",
            "enrichment_status": "pending",
            "qualification_score": 0,
            "icp_score": 0,
            "reengagement_count": 0,
            "duplicate_count": 0,
            "phase_1_status": "pending",
            "phase_2_status": "pending",
            "phase_3_status": "pending",
            "phase_4_status": "pending",
            "phase_5_status": "pending",
            "phase_6_status": "pending",
            "sms_opt_out": false,
            "email_opt_out": false,
            "is_test_mode": false
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable-create",
      "name": "Create New Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1400, 260],
      "credentials": {
        "airtableTokenApi": "G40CUwPD7dTJJofz"
      }
    },
    {
      "parameters": {
        "jsCode": "const result = {\n  success: true,\n  timestamp: new Date().toISOString(),\n  workflow_version: 'COMPLETE_WORKING_v2.0',\n  message: 'Lead processed successfully',\n  data: $json\n};\n\nconsole.log('Final workflow result:', JSON.stringify(result, null, 2));\n\nreturn result;"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 180]
    }
  ],
  "connections": {
    "Kajabi Webhook": {
      "main": [[{"node": "API Key Validation", "type": "main", "index": 0}]]
    },
    "API Key Validation": {
      "main": [[{"node": "Smart Field Mapper", "type": "main", "index": 0}]]
    },
    "Smart Field Mapper": {
      "main": [[{"node": "Airtable Duplicate Search", "type": "main", "index": 0}]]
    },
    "Airtable Duplicate Search": {
      "main": [[{"node": "Duplicate Detection Logic", "type": "main", "index": 0}]]
    },
    "Duplicate Detection Logic": {
      "main": [[{"node": "Duplicate Decision Router", "type": "main", "index": 0}]]
    },
    "Duplicate Decision Router": {
      "main": [
        [{"node": "Update Existing Record", "type": "main", "index": 0}],
        [{"node": "Create New Record", "type": "main", "index": 0}]
      ]
    },
    "Update Existing Record": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "Create New Record": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "complete-working-instance"
  },
  "versionId": "complete-working-v2.0",
  "triggerCount": 1
}