workflows/UYSP-SMS-Scheduler-PRODUCTION-BACKUP-2025-08-29.json
{"name":"UYSP-SMS-Scheduler","nodes":[{"parameters":{"method":"POST","url":"https://api-app2.simpletexting.com/v2/api/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":{"contactPhone":"={{ $items('Get Settings', 0)[0].json['Test Mode'] ? (String($items('Get Settings', 0)[0].json['Test Phone'] || '').replace(/\\D/g,'').replace(/^1/,'') || '0000000000') : $json.phone_digits }}","accountPhone":"9094988474","mode":"AUTO","text":"={{$json.text}}"},"options":{"response":{"response":{"neverError":true}}}},"id":"sms","name":"SimpleTexting HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-144],"credentials":{"httpHeaderAuth":{"id":"E4NDaEmBWVX3rawT","name":"Simple-TXT-API"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const prepared = $items('Prepare Text (A/B)', 0)[$itemIndex]?.json || {};\nconst resp = $json || {};\nconst httpId = $items('SimpleTexting HTTP', 0)[$itemIndex]?.json?.id || '';\nconst campaign_id = resp.id || resp.campaign_id || httpId || '';\nconst ok = Boolean(campaign_id);\nconst sms_status = ok ? 'Sent' : 'Failed';\nconst error_reason = ok ? '' : (resp.message || resp.error || 'No campaign id returned');\nreturn { json: { ...prepared, sms_status, campaign_id, estimated_cost: 0, error_reason } };"},"id":"parse","name":"Parse SMS Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-144]},{"parameters":{"operation":"update","base":{"mode":"id","value":"app6cU9HecxLpgT0P"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"columns":{"mappingMode":"defineBelow","value":{"SMS Status":"={{ $json.sms_status || 'Sent' }}","SMS Campaign ID":"={{ $json.campaign_id || '' }}","SMS Sequence Position":"={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.prev_pos + 1 }}","SMS Sent Count":"={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.prev_sent_count + 1 }}","SMS Variant":"={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.variant || '' }}","SMS Last Sent At":"={{ $now }}","Processing Status":"={{ ($items('Prepare Text (A/B)',0)[$itemIndex].json.prev_pos + 1) >= 3 ? 'Completed' : 'In Sequence' }}","id":"={{$json.id}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Lead","displayName":"Lead","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Processing Status","displayName":"Processing Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Backlog","value":"Backlog"},{"name":"Queued","value":"Queued"},{"name":"Processing","value":"Processing"},{"name":"Ready for SMS","value":"Ready for SMS"},{"name":"Complete","value":"Complete"},{"name":"Failed","value":"Failed"}],"readOnly":false,"removed":false}]},"options":{"typecast":true}},"id":"update","name":"Airtable Update","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[608,-240],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C097CHUHNTG","mode":"list"},"text":"=[{{$items('Get Settings',0)[0].json['Test Mode'] ? 'TEST MODE' : 'LIVE'}}] SMS: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.first_name}} {{$items('Prepare Text (A/B)',0)[$itemIndex].json.last_name}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.email}} | {{$items('Prepare Text (A/B)',0)[$itemIndex].json.company_domain}}\nSend digits: {{$items('Get Settings',0)[0].json['Test Mode'] ? (String($items('Get Settings',0)[0].json['Test Phone']||'').replace(/\\D/g,'').replace(/^1/,'')||'0000000000') : $items('Prepare Text (A/B)',0)[$itemIndex].json.phone_digits}} (orig: {{$items('Prepare Text (A/B)',0)[$itemIndex].json.phone_original}})\nStatus: {{$json.sms_status}}  Campaign: {{$json.campaign_id}}","otherOptions":{}},"id":"sms-slack","name":"SMS Test Notify","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[608,-48],"webhookId":"dcac0cfd-51ae-4f72-b538-3c2472f965ee","credentials":{"slackOAuth2Api":{"id":"OyxQzoqNPQocHdnn","name":"Slack account"}}},{"parameters":{"operation":"search","base":{"mode":"id","value":"app6cU9HecxLpgT0P"},"table":{"mode":"list","value":"tblErXnFNMKYhh3Xr"},"options":{}},"id":"9327efec-dc0b-43d3-92f6-477b6dafe7a8","name":"Get Settings","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-512,-144],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"operation":"search","base":{"mode":"id","value":"app6cU9HecxLpgT0P"},"table":{"mode":"list","value":"tblsSX9dYMnexdAa7","__rl":true},"options":{}},"id":"97d8392a-9471-4e25-8424-425ec18304ab","name":"List Templates","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-288,-144],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"jsCode":"const leads = ($items(\"List Due Leads\", 0) || []).map(i => i.json.fields || i.json);\nconst settingsRows = ($items(\"Get Settings\", 0) || []).map(i => i.json);\nconst pickSettings = () => {\n  const candidates = settingsRows.map(r => r.fields || r);\n  for (const s of candidates) {\n    if (s && (s['Active Campaign'] || s['Fast Mode'] !== undefined || s['ab_ratio_a'] !== undefined)) return s;\n  }\n  return candidates[candidates.length - 1] || {};\n};\nconst settings = pickSettings();\nconst aPct = Number(settings.ab_ratio_a ?? settings.ab_ratio_A ?? 50);\nconst fastMode = !!(settings['Fast Mode']);\nconst templates = ($items(\"List Templates\", 0) || []).map(i => i.json.fields || i.json);\nfunction pickVariant(existing){ if (existing==='A'||existing==='B') return existing; const r=Math.random()*100; return r<aPct?'A':'B'; }\nfunction tmplFor(variant, step){ return templates.find(t => String(t.Variant)===variant && Number(t.Step)===step); }\nfunction firstName(rec){ return rec['First Name'] || rec['Full Name']?.split(' ')[0] || (rec['Email']||'').split('@')[0] || '' }\nfunction delayMsFor(step, t){\n  if (step===1) return 0;\n  if (fastMode) {\n    const m = Number((t && (t['Fast Delay Minutes'] ?? t['Fast delay minutes'])) ?? 3);\n    return m * 60 * 1000;\n  }\n  const d = Number((t && t['Delay Days']) ?? (step===2?3:7));\n  return d * 24 * 60 * 60 * 1000;\n}\nconst out=[];\nfor (const rec of leads){\n  const phoneOriginal = String(rec['Phone'] || '');\n  const phoneDigits = phoneOriginal.replace(/\\D/g,'').replace(/^1/, '');\n  const isUS = !rec['Location Country'] || rec['Location Country'] === 'United States';\n  if (!isUS || phoneDigits.length !== 10) continue;\n  let pos = Number(rec['SMS Sequence Position'] || 0);\n  let last = rec['SMS Last Sent At'] || rec['Last SMS Sent'] || null;\n  if (pos > 0 && !last) { pos = 0; last = null; }\n  const nextStep = pos + 1;\n  if (nextStep > 3) continue;\n  const variant = pickVariant(rec['SMS Variant']);\n  const t = tmplFor(variant, nextStep);\n  if (!t || !t.Body) continue;\n  if (pos > 0){\n    const lastMs = new Date(last).getTime();\n    if (Number.isNaN(lastMs)) continue;\n    const msSince = Date.now() - lastMs;\n    const needMs = delayMsFor(nextStep, t);\n    if (msSince < needMs) continue;\n  }\n  const text = String(t.Body).replaceAll('{Name}', firstName(rec));\n  out.push({ json: { id: rec.id || rec['Record ID'], text, variant,\n    prev_pos: pos,\n    prev_sent_count: Number(rec['SMS Sent Count'] || 0),\n    first_name: rec['First Name'] || '',\n    last_name: rec['Last Name'] || '',\n    email: rec['Email'] || '',\n    company_domain: rec['Company Domain'] || '',\n    phone_original: phoneOriginal,\n    phone_digits: phoneDigits\n  }});\n}\nreturn out;"},"id":"d1f7e09f-53b0-4931-aa23-0694e164fcec","name":"Prepare Text (A/B)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,-144]},{"parameters":{"triggerTimes":{"item":[{"mode":"custom","cronExpression":"0 14-21 * * 1-5 "}]}},"id":"cron","name":"Schedule","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-960,-48]},{"parameters":{"operation":"search","base":{"mode":"id","value":"app6cU9HecxLpgT0P"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"filterByFormula":"AND({Phone Valid},NOT({SMS Stop}),NOT({Booked}),LEN({Phone})>0,OR({Processing Status}='Queued',{Processing Status}='In Sequence'),OR({SMS Sequence Position}>0,{SMS Eligible}))","options":{}},"id":"list-due","name":"List Due Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-736,-144],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{},"id":"manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-240]},{"parameters":{"operation":"create","base":{"mode":"id","value":"app6cU9HecxLpgT0P"},"table":{"mode":"list","value":"tbl5TOGNGdWXTjhzP"},"columns":{"mappingMode":"defineBelow","value":{"Event":"={{'Sent'}}","Campaign ID":"={{$json.campaign_id || ''}}","Phone":"={{$json.phone_digits || ''}}","Status":"={{'Sent'}}","Lead Record ID":"={{$json.id || ''}}","Text":"={{$json.text || ''}}","Sent At":"={{$now}}"},"matchingColumns":[],"schema":[{"id":"Event","displayName":"Event","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Campaign ID","displayName":"Campaign ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sent","value":"Sent"},{"name":"Delivered","value":"Delivered"},{"name":"Undelivered","value":"Undelivered"},{"name":"Failed","value":"Failed"}],"readOnly":false,"removed":false},{"id":"Carrier","displayName":"Carrier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lead Record ID","displayName":"Lead Record ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Text","displayName":"Text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sent At","displayName":"Sent At","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Delivery At","displayName":"Delivery At","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Webhook Raw","displayName":"Webhook Raw","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{"typecast":true}},"id":"audit-sent","name":"Audit Sent","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[880,-144],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}}],"connections":{"SimpleTexting HTTP":{"main":[[{"node":"Parse SMS Response","type":"main","index":0}]]},"Parse SMS Response":{"main":[[{"node":"Airtable Update","type":"main","index":0},{"node":"SMS Test Notify","type":"main","index":0},{"node":"Audit Sent","type":"main","index":0}]]},"Schedule":{"main":[[{"node":"List Due Leads","type":"main","index":0}]]},"Get Settings":{"main":[[{"node":"List Templates","type":"main","index":0}]]},"List Templates":{"main":[[{"node":"Prepare Text (A/B)","type":"main","index":0}]]},"Prepare Text (A/B)":{"main":[[{"node":"SimpleTexting HTTP","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"List Due Leads","type":"main","index":0}]]},"List Due Leads":{"main":[[{"node":"Get Settings","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Airtable Trigger":{"lastTimeChecked":"2025-08-26T19:38:31Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{}}
