workflows/UYSP-ST-Delivery-Fresh.json
{
  "name": "UYSP-ST-Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simpletexting-delivery",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook (ST Delivery)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -720,
        208
      ],
      "webhookId": "b0fc0d9d-18e5-4a9a-af2b-3c71072e7765"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "    const raw = $json || {};\n    const body = raw.body || raw;\n    const v = body.values || body || {};\n    const campaign_id = v.messageId || v.message_id || v.id || '';\n    const phone_digits = String(v.contactPhone || v.phone || v.to || '').replace(/\\D/g,'').replace(/^1/,'');\n    const delivered = v.delivered === true || String(v.status||'').toLowerCase()==='delivered';\n    const delivery_status = delivered ? 'Delivered' : 'Undelivered';\n    const carrier = v.carrier || '';\n    return { json: { campaign_id, phone_digits, carrier, delivery_status } };"
      },
      "id": "parse",
      "name": "Parse Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        208
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "filterByFormula": "={{`OR({SMS Campaign ID}='${$json.campaign_id}', REGEX_REPLACE({Phone}, \"\\\\\\\\D\", \"\")='${$json.phone_digits}')`}}",
        "options": {}
      },
      "id": "find",
      "name": "Find Lead by Campaign/Phone",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -304,
        48
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOncePerItem"
      },
      "id": "resp",
      "name": "Respond 200",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        48
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tbl5TOGNGdWXTjhzP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event": "={{'Delivery'}}",
            "Campaign ID": "={{$json.campaign_id || ''}}",
            "Phone": "={{$json.phone_digits || ''}}",
            "Status": "={{$json.delivery_status || 'unknown'}}",
            "Carrier": "={{$json.carrier || ''}}",
            "Lead Record ID": "={{$json.id || ''}}",
            "Delivery At": "={{$now}}",
            "Webhook Raw": "={{JSON.stringify($json)}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Event",
              "displayName": "Event",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign ID",
              "displayName": "Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Delivered",
                  "value": "Delivered"
                },
                {
                  "name": "Undelivered",
                  "value": "Undelivered"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Carrier",
              "displayName": "Carrier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Record ID",
              "displayName": "Lead Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent At",
              "displayName": "Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery At",
              "displayName": "Delivery At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Webhook Raw",
              "displayName": "Webhook Raw",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "audit",
      "name": "Write Audit Row",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -240,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "mode": "list",
          "value": "C097CHUHNTG",
          "__rl": true
        },
        "text": "={{`[DELIVERY] ${$json.phone_digits||''} → ${$json.delivery_status||'unknown'}  Carrier: ${$json.carrier||''}  Campaign: ${$json.campaign_id||''}`}}",
        "otherOptions": {}
      },
      "id": "dl-slack",
      "name": "Delivery Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -240,
        224
      ],
      "webhookId": "939ba3f5-1ecd-499f-8927-a32ed262f53b",
      "credentials": {
        "slackOAuth2Api": {
          "id": "OyxQzoqNPQocHdnn",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "filterByFormula": "={{`OR({SMS Campaign ID}='${$json.campaign_id||''}', {Phone}='${$json.phone_digits||''}', {Phone}='+1${$json.phone_digits||''}')`}}",
        "options": {}
      },
      "id": "find",
      "name": "Find Lead (by Campaign/Phone)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -240,
        48
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "app6cU9HecxLpgT0P"
        },
        "table": {
          "mode": "list",
          "value": "tblYUvhGADerbD8EO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "SMS Status": "={{ $json.delivery_status }}",
            "Error Log": "={{ $json.carrier ? 'Carrier: ' + $json.carrier : '' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Processing Status",
              "displayName": "Processing Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Processing",
                  "value": "Processing"
                },
                {
                  "name": "Ready for SMS",
                  "value": "Ready for SMS"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "In Sequence",
                  "value": "In Sequence"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Backlog",
                  "value": "Backlog"
                },
                {
                  "name": "Webhook",
                  "value": "Webhook"
                },
                {
                  "name": "Manual",
                  "value": "Manual"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone Valid",
              "displayName": "Phone Valid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Linkedin URL - Person",
              "displayName": "Linkedin URL - Person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location Country",
              "displayName": "Location Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ICP Score",
              "displayName": "ICP Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company Score Component",
              "displayName": "Company Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role Score Component",
              "displayName": "Role Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location Score Component",
              "displayName": "Location Score Component",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Dynamic Signals Score",
              "displayName": "Dynamic Signals Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prime Fit Bonus",
              "displayName": "Prime Fit Bonus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Eligible",
              "displayName": "SMS Eligible",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "SMS Status",
              "displayName": "SMS Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Sent",
                  "value": "Not Sent"
                },
                {
                  "name": "Queued",
                  "value": "Queued"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                },
                {
                  "name": "Delivered",
                  "value": "Delivered"
                },
                {
                  "name": "Clicked",
                  "value": "Clicked"
                },
                {
                  "name": "Replied",
                  "value": "Replied"
                },
                {
                  "name": "Meeting Booked",
                  "value": "Meeting Booked"
                },
                {
                  "name": "Success",
                  "value": "Success"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SMS Campaign ID",
              "displayName": "SMS Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Sequence Position",
              "displayName": "SMS Sequence Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Sent Count",
              "displayName": "SMS Sent Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Cost",
              "displayName": "SMS Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last SMS Sent",
              "displayName": "Last SMS Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Variant",
              "displayName": "SMS Variant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "A",
                  "value": "A"
                },
                {
                  "name": "B",
                  "value": "B"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Stop",
              "displayName": "SMS Stop",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Stop Reason",
              "displayName": "SMS Stop Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SMS Last Sent At",
              "displayName": "SMS Last Sent At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HRQ Status",
              "displayName": "HRQ Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "None",
                  "value": "None"
                },
                {
                  "name": "Archive",
                  "value": "Archive"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Manual Process",
                  "value": "Manual Process"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HRQ Reason",
              "displayName": "HRQ Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Data Quality Score",
              "displayName": "Data Quality Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Validation Errors",
              "displayName": "Validation Errors",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Processing Cost",
              "displayName": "Total Processing Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Processing Duration",
              "displayName": "Processing Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated Manual",
              "displayName": "Last Updated Manual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Updated Auto",
              "displayName": "Last Updated Auto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Company Type",
              "displayName": "Company Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "B2B SaaS",
                  "value": "B2B SaaS"
                },
                {
                  "name": "B2B Tech Services",
                  "value": "B2B Tech Services"
                },
                {
                  "name": "Other B2B",
                  "value": "Other B2B"
                },
                {
                  "name": "B2C/Unknown",
                  "value": "B2C/Unknown"
                },
                {
                  "name": "/company",
                  "value": "/company"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company LinkedIn",
              "displayName": "Company LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Batch ID",
              "displayName": "Batch ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Provider Used",
              "displayName": "Enrichment Provider Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enrichment Timestamp",
              "displayName": "Enrichment Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone (10d)",
              "displayName": "Phone (10d)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location Confidence",
              "displayName": "Location Confidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Booked",
              "displayName": "Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Booked At",
              "displayName": "Booked At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "f20e5a1f-48ab-44e3-984a-d045d74edfdf",
      "name": "Update Lead Delivery (NEW)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -80,
        48
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "Zir5IhIPeSQs72LR",
          "name": "Airtable UYSP Option C"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (ST Delivery)": {
      "main": [
        [
          {
            "node": "Parse Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Delivery": {
      "main": [
        [
          {
            "node": "Find Lead by Campaign/Phone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Audit Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delivery Notify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Lead (by Campaign/Phone)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead by Campaign/Phone": {
      "main": [
        [
          {
            "node": "Update Lead Delivery (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead (by Campaign/Phone)": {
      "main": [
        [
          {
            "node": "Update Lead Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Delivery (NEW)": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ea7a4dd-b723-4a6e-ac8a-6ad10b1c0ad3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a636351bc32ed33e9cea59b76d232bd10caf6926c3e9fa80d47901eda407040"
  },
  "id": "yV7qvGcPtdoBEE4R",
  "tags": []
}
