workflows/backups/uysp-targeted-20250915_142614/PRIMARY-UYSP-Switchy-Click-Tracker-20250915_142614.json
{"createdAt":"2025-09-09T05:00:58.550Z","updatedAt":"2025-09-15T20:52:08.601Z","id":"bA3vEZvfokE84AGY","name":"UYSP-Switchy-Click-Tracker","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,80]},{"parameters":{"triggerTimes":{"item":[{"mode":"custom","cronExpression":"*/10 * * * *"}]}},"id":"cron","name":"Schedule","type":"n8n-nodes-base.cron","typeVersion":1,"position":[208,272]},{"parameters":{"operation":"search","base":{"mode":"id","value":"app6cU9HecxLpgT0P"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"filterByFormula":"NOT({Short Link ID} = '')","options":{}},"id":"leads-to-check","name":"Leads to Check","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[432,176],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"method":"POST","url":"https://graphql.switchy.io/v1/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Authorization","value":"0ea65170-03e2-41d6-ae53-a7cbd7dc273d"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":{"query":"query($id: String!) { links(where: {id: {_eq: $id}}) { id clicks } }","variables":{"id":"={{$json['Short Link ID']}}"}},"options":{"response":{"response":{"neverError":true}}}},"id":"query-clicks-per-lead","name":"Query Clicks (Per Lead)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,176]},{"parameters":{"jsCode":"const leadItems = $items('Leads to Check', 0) || [];\nconst clickItems = $items('Query Clicks (Per Lead)', 0) || [];\nconst output = [];\n\nfor (let i = 0; i < leadItems.length; i++) {\n  const lead = leadItems[i]?.json || {};\n  const clickData = clickItems[i]?.json || {};\n  \n  // Parse GraphQL response\n  const link = clickData?.data?.links?.[0] || {};\n  const newClicks = Number(link.clicks || 0);\n  const prev = Number(lead['Click Count'] || 0);\n  const delta = newClicks - prev;\n  \n  // Output clean lead data with click info\n  output.push({\n    json: {\n      id: lead.id || lead['Record ID'],\n      'First Name': lead['First Name'] || '',\n      'Last Name': lead['Last Name'] || '',\n      'Email': lead['Email'] || '',\n      'Short Link ID': lead['Short Link ID'] || '',\n      'Click Count': lead['Click Count'] || 0,\n      newClicks,\n      delta\n    }\n  });\n}\n\nreturn output;"},"id":"compare-clicks","name":"Compare Clicks","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,176]},{"parameters":{"operation":"update","base":{"mode":"id","value":"app6cU9HecxLpgT0P"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"columns":{"mappingMode":"defineBelow","value":{"Click Count":"={{ $json.newClicks }}","Clicked Link":"={{ $json.newClicks > 0 }}","id":"={{ $json.id }}"},"matchingColumns":["id"]},"options":{"typecast":true}},"id":"update-lead-clicks","name":"Update Lead Clicks","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1104,176],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C097CHUHNTG","mode":"list"},"text":"🔗 Lead clicked: {{$json['First Name'] || ''}} {{$json['Last Name'] || ''}} ({{$json['Email'] || ''}})\nTotal clicks: {{$json.newClicks}} (Δ {{$json.delta}})","otherOptions":{}},"id":"lead-click-alert","name":"Lead Click Alert","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1328,176],"webhookId":"b755ded9-334e-44b2-8c66-3f23e452e94f","credentials":{"slackOAuth2Api":{"id":"OyxQzoqNPQocHdnn","name":"Slack account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Leads to Check","type":"main","index":0}]]},"Schedule":{"main":[[{"node":"Leads to Check","type":"main","index":0}]]},"Leads to Check":{"main":[[{"node":"Query Clicks (Per Lead)","type":"main","index":0}]]},"Query Clicks (Per Lead)":{"main":[[{"node":"Compare Clicks","type":"main","index":0}]]},"Compare Clicks":{"main":[[{"node":"Update Lead Clicks","type":"main","index":0}]]},"Update Lead Clicks":{"main":[[{"node":"Lead Click Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":{},"versionId":"b7839bd8-f259-4226-86b1-552e242002ef","triggerCount":1,"shared":[{"createdAt":"2025-09-09T05:01:34.767Z","updatedAt":"2025-09-09T05:01:34.767Z","role":"workflow:owner","workflowId":"bA3vEZvfokE84AGY","projectId":"H4VRaaZhd8VKQANf","project":{"createdAt":"2025-07-20T10:20:07.367Z","updatedAt":"2025-07-20T10:23:14.000Z","id":"H4VRaaZhd8VKQANf","name":"UYSP Lead Qualification Agent ","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.","projectRelations":[{"createdAt":"2025-07-20T10:23:14.911Z","updatedAt":"2025-07-20T10:23:14.911Z","role":"project:admin","userId":"29d0ac76-1b0e-4f0b-a9dd-b710d2476efa","projectId":"H4VRaaZhd8VKQANf","user":{"createdAt":"2025-07-01T09:55:15.012Z","updatedAt":"2025-09-14T22:00:53.000Z","id":"29d0ac76-1b0e-4f0b-a9dd-b710d2476efa","email":"latifhorst@gmail.com","firstName":"LATIF","lastName":"HORST","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Zdpywk5ic1hYILgr","userActivatedAt":1751967003557,"npsSurvey":{"responded":true,"lastShownAt":1753035927344}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-14","isPending":false}}]}}],"tags":[]}