workflows/backups/post-disaster-recovery-20250917/UYSP-SMS-Scheduler-v2-REPAIRED-20250917_152608.json
{"createdAt":"2025-09-05T04:46:36.250Z","updatedAt":"2025-09-17T15:26:08.372Z","id":"UAZWVFzMrJaVbvGM","name":"UYSP-SMS-Scheduler-v2","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"manual","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-256]},{"parameters":{"triggerTimes":{"item":[{"mode":"custom","cronExpression":"0 13-23 * * 1-5"}]},"rule":"0 14 * * 1-5"},"id":"cron","name":"Schedule","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-960,-64]},{"parameters":{"operation":"search","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"filterByFormula":"AND({Phone Valid},NOT({SMS Stop}),NOT({Booked}),LEN({Phone})>0,{SMS Eligible},NOT({Current Coaching Client}),OR(AND({Processing Status}='Ready for SMS',{SMS Batch Control}='Active'),{Processing Status}='In Sequence'))","options":{}},"id":"list-due","name":"List Due Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-736,-160],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"operation":"search","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tblErXnFNMKYhh3Xr"},"options":{}},"id":"settings","name":"Get Settings","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-512,-160],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"operation":"search","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tblsSX9dYMnexdAa7"},"options":{}},"id":"templates","name":"List Templates","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-288,-160],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst leads = ($items(\"List Due Leads\", 0) || []).map(i => i.json.fields || i.json);\nconst settingsRows = ($items(\"Get Settings\", 0) || []).map(i => i.json);\nconst pickSettings = () => {\n  const candidates = settingsRows.map(r => r.fields || r);\n  for (const s of candidates) {\n    if (s && (s['Active Campaign'] || s['Fast Mode'] !== undefined || s['ab_ratio_a'] !== undefined)) return s;\n  }\n  return candidates[candidates.length - 1] || {};\n};\nconst settings = pickSettings();\nconst aPct = Number(settings.ab_ratio_a ?? settings.ab_ratio_A ?? 50);\nconst fastMode = !!(settings['Fast Mode']);\nconst templates = ($items(\"List Templates\", 0) || []).map(i => i.json.fields || i.json);\n\nfunction pickVariant(existing){ if (existing==='A'||existing==='B') return existing; const r=Math.random()*100; return r<aPct?'A':'B'; }\nfunction tmplFor(variant, step){ return templates.find(t => String(t.Variant)===variant && Number(t.Step)===step); }\nfunction firstName(rec){ return rec['First Name'] || rec['Full Name']?.split(' ')[0] || (rec['Email']||'').split('@')[0] || '' }\nfunction delayMsFor(step, t){\n  if (step===1) return 0;\n  if (fastMode) {\n    const m = Number((t && (t['Fast Delay Minutes'] ?? t['Fast delay minutes'])) ?? 3);\n    return m * 60 * 1000;\n  }\n  const d = Number((t && t['Delay Days']) ?? (step===2?3:7));\n  return d * 24 * 60 * 60 * 1000;\n}\n\n// CRITICAL: TIME WINDOW ENFORCEMENT (9 AM - 5 PM Eastern)\nconst now = new Date();\nconst easternTime = new Date(now.toLocaleString(\"en-US\", {timeZone: \"America/New_York\"}));\nconst currentHour = easternTime.getHours();\nif (currentHour < 9 || currentHour >= 17) {\n  console.log(`BLOCKED: Outside time window. Current hour: ${currentHour} (Eastern). Allowed: 9 AM - 5 PM.`);\n  return [];\n}\n\nconst out=[];\nconst nowMs = now.getTime();\nconst debugLog = [];\nconst TWENTY_FOUR_HOURS = 24 * 60 * 60 * 1000;\n\n// CRITICAL: BATCH SIZE LIMIT (25 leads maximum)\nconst limitedLeads = leads.slice(0, 25);\ndebugLog.push(`BATCH SIZE: Processing ${limitedLeads.length} of ${leads.length} total leads`);\n\nfor (const rec of limitedLeads){\n  const phoneOriginal = String(rec['Phone'] || '');\n  const phoneDigits = phoneOriginal.replace(/\\D/g,'').replace(/^1/, '');\n  const country = rec['Location Country'] || '';\n  const isUSCA = country === 'United States' || country === 'Canada';\n  if (!isUSCA || phoneDigits.length !== 10) {\n    debugLog.push(`SKIP: ${rec['First Name']} - Invalid phone/country`);\n    continue;\n  }\n\n  let pos = Number(rec['SMS Sequence Position'] || 0);\n  let last = rec['SMS Last Sent At'] || rec['Last SMS Sent'] || null;\n  if (pos > 0 && !last) { pos = 0; last = null; }\n  const processing = rec['Processing Status'] || '';\n  const nextStep = pos + 1;\n  if (nextStep > 3) {\n    debugLog.push(`SKIP: ${rec['First Name']} - Sequence complete (step ${nextStep})`);\n    continue;\n  }\n\n  // CRITICAL: 24-HOUR DUPLICATE PREVENTION (ALL POSITIONS)\n  if (last) {\n    const lastMs = new Date(last).getTime();\n    if (!Number.isNaN(lastMs)) {\n      const msSinceLastSend = nowMs - lastMs;\n      if (msSinceLastSend < TWENTY_FOUR_HOURS) {\n        const hoursRemaining = Math.ceil((TWENTY_FOUR_HOURS - msSinceLastSend) / (1000 * 60 * 60));\n        debugLog.push(`BLOCKED: ${rec['First Name']} sent within 24h. ${hoursRemaining}h remaining.`);\n        continue;\n      }\n    }\n  }\n\n  const variant = pickVariant(rec['SMS Variant']);\n  const t = tmplFor(variant, nextStep);\n  if (!t || !t.Body) {\n    debugLog.push(`SKIP: ${rec['First Name']} - No template for variant ${variant} step ${nextStep}`);\n    continue;\n  }\n\n  // ENHANCED DELAY VALIDATION (for sequence progression)\n  if (pos > 0 && last){\n    const lastMs = new Date(last).getTime();\n    \n    if (Number.isNaN(lastMs)) {\n      debugLog.push(`SKIP: ${rec['First Name']} - Invalid timestamp`);\n      continue;\n    }\n    \n    const msSince = nowMs - lastMs;\n    const needMs = delayMsFor(nextStep, t);\n    const hoursSince = Math.round(msSince / (1000 * 60 * 60) * 10) / 10;\n    const hoursNeeded = Math.round(needMs / (1000 * 60 * 60) * 10) / 10;\n    \n    if (msSince < needMs) {\n      debugLog.push(`SKIP: ${rec['First Name']} - Too soon (${hoursSince}h < ${hoursNeeded}h needed)`);\n      continue;\n    }\n  }\n\n  let text = String(t.Body).replaceAll('{Name}', firstName(rec));\n  const leadCampaignId = String(rec['SMS Campaign ID'] || '').trim();\n  const templateCampaign = String(t.Campaign || t['Campaign'] || '').trim();\n  const settingsCampaign = String(settings['Active Campaign'] || '').trim();\n  const campaignId = leadCampaignId || templateCampaign || settingsCampaign || '';\n\n  const shortLinkId = rec['Short Link ID'] || '';\n  const shortLinkUrl = rec['Short Link URL'] || '';\n\n  debugLog.push(`INCLUDE: ${rec['First Name']} ready for step ${nextStep}`);\n  \n  out.push({ json: {\n    id: rec.id || rec['Record ID'], text, variant, campaign_id: campaignId,\n    prev_pos: pos, prev_sent_count: Number(rec['SMS Sent Count'] || 0),\n    first_name: rec['First Name'] || '', last_name: rec['Last Name'] || '', email: rec['Email'] || '',\n    company_domain: rec['Company Domain'] || '', phone_original: phoneOriginal, phone_digits: phoneDigits,\n    last_sent_at: last || '', processing_status: processing || '',\n    short_link_id: shortLinkId, short_link_url: shortLinkUrl,\n    debug_info: `Step ${nextStep}, Last: ${last}, Hours since: ${last ? Math.round((nowMs - new Date(last).getTime()) / (1000 * 60 * 60) * 10) / 10 : 'N/A'}`\n  }});\n}\n\n// COMPREHENSIVE DEBUG LOGGING\nconsole.log('=== SMS SCHEDULER DEBUG REPORT ===');\nconsole.log(`Time Window Check: ${currentHour}:00 Eastern (Allowed: 9-17)`);\nconsole.log(`Total Leads from Airtable: ${leads.length}`);\nconsole.log(`Batch Size Limit Applied: ${limitedLeads.length}`);\nconsole.log(`Final Output Count: ${out.length}`);\nconsole.log('Processing Details:');\nconsole.log(debugLog.join('\\n'));\nconsole.log('=== END DEBUG REPORT ===');\n\nreturn out;"},"id":"prepare-text","name":"Prepare Text (A/B)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,-160]},{"parameters":{"method":"POST","url":"https://api-app2.simpletexting.com/v2/api/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":{"contactPhone":"={{ $items('Prepare Text (A/B)', 0)[$itemIndex].json.phone_digits }}","firstName":"={{ $items('Prepare Text (A/B)', 0)[$itemIndex].json.first_name }}","lastName":"={{ $items('Prepare Text (A/B)', 0)[$itemIndex].json.last_name }}","listName":"AI Webinar – Automation (System)","tags":["uysp-automation"],"comment":"{{ '[campaign:' + $items('Prepare Text (A/B)', 0)[$itemIndex].json.campaign_id + ']' }}"},"options":{"response":{"response":{"neverError":true}}}},"id":"st-contact","name":"Update ST Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,-160],"credentials":{"httpHeaderAuth":{"id":"E4NDaEmBWVX3rawT","name":"Simple-TXT-API"}}},{"parameters":{"method":"POST","url":"https://api-app2.simpletexting.com/v2/api/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":{"contactPhone":"={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.phone_digits }}","accountPhone":"3102218890","mode":"AUTO","text":"={{ $items('Prepare Text (A/B)',0)[$itemIndex].json.text.replace('https://hi.switchy.io/UYSP', $items('Save Short Link',0)[$itemIndex].json.fields['Short Link URL'] || 'https://hi.switchy.io/UYSP') }}"},"options":{"response":{"response":{"neverError":true}}}},"id":"sms","name":"SimpleTexting HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,-160],"credentials":{"httpHeaderAuth":{"id":"E4NDaEmBWVX3rawT","name":"Simple-TXT-API"}}},{"parameters":{"jsCode":"const stItems = $items('SimpleTexting HTTP', 0) || [];\nconst prepItems = $items('Prepare Text (A/B)', 0) || [];\nconst settingsItems = $items('Get Settings', 0) || [];\nconst settings = (settingsItems.map(i => i.json.fields || i.json).find(s => s['Active Campaign']) || settingsItems[settingsItems.length-1]?.json || {});\nconst fallbackCampaign = settings['Active Campaign'] || '';\nconst nowIso = new Date().toISOString();\nconst out = [];\nfor (let i = 0; i < stItems.length; i++) {\n  const resp = stItems[i]?.json || {};\n  const prepared = prepItems[i]?.json || {};\n  const httpId = resp.id || '';\n  const sent = Boolean(httpId);\n  const sms_status = sent ? 'Sent' : 'Failed';\n  const error_reason = sent ? '' : (resp.message || resp.error || 'No response id');\n  const prev_pos = Number(prepared.prev_pos || 0);\n  const prev_count = Number(prepared.prev_sent_count || 0);\n  const next_pos = sent ? prev_pos + 1 : prev_pos;\n  const next_count = sent ? prev_count + 1 : prev_count;\n  const next_last_sent_at = sent ? nowIso : (prepared.last_sent_at || '');\n  // FIXED: Use 'Complete' not 'Completed' to match Airtable schema\n  const next_processing = sent ? (next_pos >= 3 ? 'Complete' : 'In Sequence') : (prepared.processing_status || '');\n  const campaign_id = prepared.campaign_id || fallbackCampaign || httpId || '';\n  out.push({ json: { ...prepared, sms_status, error_reason, next_pos, next_count, next_last_sent_at, next_processing, campaign_id } });\n}\nreturn out;"},"id":"parse","name":"Parse SMS Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-160]},{"parameters":{"operation":"update","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"columns":{"mappingMode":"defineBelow","value":{"SMS Status":"={{ $json.sms_status || '' }}","SMS Sequence Position":"={{ $json.next_pos }}","SMS Sent Count":"={{ $json.next_count }}","SMS Variant":"={{ $json.variant || '' }}","SMS Last Sent At":"={{ $json.next_last_sent_at || '' }}","Processing Status":"={{ $json.next_processing || '' }}","Error Log":"={{ $json.error_reason || '' }}","id":"={{ $json.id }}"},"matchingColumns":["id"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"id":"update","name":"Airtable Update","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1504,-160],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"create","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tbl5TOGNGdWXTjhzP"},"columns":{"mappingMode":"defineBelow","value":{"Event":"Send Attempt","Campaign ID":"={{$items('Parse SMS Response', 0)[$itemIndex].json.campaign_id || ''}}","Phone":"={{$items('Parse SMS Response', 0)[$itemIndex].json.phone_digits || ''}}","Status":"={{$items('Parse SMS Response', 0)[$itemIndex].json.sms_status || ''}}","Lead Record ID":"={{$items('Parse SMS Response', 0)[$itemIndex].json.id || ''}}","Text":"={{$items('Parse SMS Response', 0)[$itemIndex].json.text || ''}}","Email":"={{$items('Parse SMS Response', 0)[$itemIndex].json.email || ''}}","First Name":"={{$items('Parse SMS Response', 0)[$itemIndex].json.first_name || ''}}","Last Name":"={{$items('Parse SMS Response', 0)[$itemIndex].json.last_name || ''}}","Company Domain":"={{$items('Parse SMS Response', 0)[$itemIndex].json.company_domain || ''}}","Total Messages To Phone":"={{$items('Parse SMS Response', 0)[$itemIndex].json.next_count || 1}}","Sent At":"={{$now}}"}},"options":{"typecast":true}},"id":"audit-sent","name":"Audit Sent","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1728,-160],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"parameters":{"jsCode":"const alphabet = '0123456789abcdefghijklmnopqrstuvwxyz'; // Only lowercase + numbers\nfunction gen(n=6){ let s=''; for(let i=0;i<n;i++){ s+=alphabet[Math.floor(Math.random()*alphabet.length)]; } return s; }\nconst items = $items('Prepare Text (A/B)', 0) || [];\nreturn items.map((it) => {\n  const j = it.json || {};\n  // Check if lead already has a Short Link ID in Airtable\n  const existingId = j.short_link_id || '';\n  // Only generate new alias if no existing ID found\n  const alias_candidate = existingId.trim() ? existingId.trim() : gen(6);\n  return { json: { ...j, alias_candidate } };\n});"},"id":"gen-alias","name":"Generate Alias","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-160]},{"parameters":{"method":"POST","url":"https://api.switchy.io/v1/links/create","authentication":"none","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Api-Authorization","value":"0ea65170-03e2-41d6-ae53-a7cbd7dc273d"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":{"link":{"url":"https://calendly.com/d/cwvn-dwy-v5k/sales-coaching-strategy-call-rrl","id":"={{$json.alias_candidate}}","domain":"hi.switchy.io","title":"={{$json.first_name || ''}} {{$json.last_name || ''}}"}},"options":{"response":{"response":{"neverError":true}}}},"id":"switchy-create","name":"Create Short Link (Switchy)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-160],"credentials":{"httpHeaderAuth":{"id":"ZnK4UAkmWleX5AQh","name":"Switchy API"}}},{"parameters":{"operation":"update","base":{"mode":"id","value":"app4wIsBfpJTg7pWS"},"table":{"mode":"list","value":"tblYUvhGADerbD8EO"},"columns":{"mappingMode":"defineBelow","value":{"Short Link ID":"={{ $items('Generate Alias', 0)[$itemIndex].json.alias_candidate }}","Short Link URL":"={{ 'https://hi.switchy.io/' + ($json.id || $items('Generate Alias', 0)[$itemIndex].json.alias_candidate) }}","id":"={{ $items('Prepare Text (A/B)', 0)[$itemIndex].json.id }}"},"matchingColumns":["id"]},"options":{"typecast":true}},"id":"save-shortlink","name":"Save Short Link","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[608,-160],"credentials":{"airtableTokenApi":{"id":"Zir5IhIPeSQs72LR","name":"Airtable UYSP Option C"}}},{"id":"sms-test-notify","name":"SMS Test Notify","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1952,-160],"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09D6U5BLG6","mode":"list","cachedResultName":"uysp-sales-daily"},"text":"SMS Batch Complete: {{ $items('Parse SMS Response', 0).length }} messages processed. {{ $items('Parse SMS Response', 0).filter(item => item.json.sms_status === 'Sent').length }} sent successfully.","color":"good","iconEmoji":":speech_balloon:","username":"SMS Scheduler Bot"},"credentials":{"slackOAuth2Api":{"id":"OyxQzoqNPQocHdnn","name":"Slack account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"List Due Leads","type":"main","index":0}]]},"List Due Leads":{"main":[[{"node":"Get Settings","type":"main","index":0}]]},"Get Settings":{"main":[[{"node":"List Templates","type":"main","index":0}]]},"List Templates":{"main":[[{"node":"Prepare Text (A/B)","type":"main","index":0}]]},"Prepare Text (A/B)":{"main":[[{"node":"Generate Alias","type":"main","index":0}]]},"Update ST Contact":{"main":[[{"node":"SimpleTexting HTTP","type":"main","index":0}]]},"SimpleTexting HTTP":{"main":[[{"node":"Parse SMS Response","type":"main","index":0}]]},"Parse SMS Response":{"main":[[{"node":"Airtable Update","type":"main","index":0}]]},"Airtable Update":{"main":[[{"node":"Audit Sent","type":"main","index":0}]]},"Generate Alias":{"main":[[{"node":"Create Short Link (Switchy)","type":"main","index":0}]]},"Create Short Link (Switchy)":{"main":[[{"node":"Save Short Link","type":"main","index":0}]]},"Save Short Link":{"main":[[{"node":"Update ST Contact","type":"main","index":0}]]},"Audit Sent":{"main":[[{"node":"SMS Test Notify","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"930f81e1-1193-40e0-9650-d13777eab7b3","triggerCount":1,"shared":[{"createdAt":"2025-09-05T04:51:56.059Z","updatedAt":"2025-09-05T04:51:56.059Z","role":"workflow:owner","workflowId":"UAZWVFzMrJaVbvGM","projectId":"H4VRaaZhd8VKQANf","project":{"createdAt":"2025-07-20T10:20:07.367Z","updatedAt":"2025-07-20T10:23:14.000Z","id":"H4VRaaZhd8VKQANf","name":"UYSP Lead Qualification Agent ","type":"team","icon":{"type":"icon","value":"layer-group"},"description":"Automated lead qualification and SMS outreach system that processes Kajabi form submissions, enriches B2B leads through two-phase qualification, scores them 0-100 using AI, and sends personalized SMS to qualified prospects while maintaining strict compliance and cost controls.","projectRelations":[{"createdAt":"2025-07-20T10:23:14.911Z","updatedAt":"2025-07-20T10:23:14.911Z","role":"project:admin","userId":"29d0ac76-1b0e-4f0b-a9dd-b710d2476efa","projectId":"H4VRaaZhd8VKQANf","user":{"createdAt":"2025-07-01T09:55:15.012Z","updatedAt":"2025-09-16T22:21:54.000Z","id":"29d0ac76-1b0e-4f0b-a9dd-b710d2476efa","email":"latifhorst@gmail.com","firstName":"LATIF","lastName":"HORST","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Zdpywk5ic1hYILgr","userActivatedAt":1751967003557,"npsSurvey":{"responded":true,"lastShownAt":1753035927344}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-16","isPending":false}}]}}],"tags":[]}
